<h2
  style="margin-bottom: 3rem"
  class="display-5 font-family-alt text-center font-weight-bold"
>
  Individual Course Dates
</h2>

{% for course in page.courses %}
<div class="container mb-5">
  <h4 class="font-weight-bold">
    <!-- htmllint preset="none" -->
    <i class="fas fa-circle text-{{ course.color }}"></i>
    <!-- htmllint preset="$previous" -->
    {{ course.code }}{{ course.title }}
  </h4>
  {% for section in course.sections %}
  <div
    class="row border my-2 align-items-center">
    <div class="col-6 col-md-3 my-4">
      {{ section.start | date: "%B %d" }} - {{ section.end | date: "%B %d" }}
    </div>
    <div class="col-6 col-md-3 my-4">{{ section.weekdays }}</div>
    <div class="col-6 col-md-2 my-4">{{ section.time }}</div>
    <div class="col-6 col-md-4 my-4">{{ section.campus }}</div>
  </div>
  {% endfor %}
</div>
{% endfor %}
