<!-- Input -->
<!-- htmllint preset="none" -->
{% if page.permalink == "/contact/" %}
<div class="col-12 mb-4">
<!-- htmllint preset="$previous" -->
{% else %}
<div class="col-sm-6 mb-4">
{% endif %}
  <div class="js-form-message form-group">
    <label class="form-label" for="referral">
      How did you hear about us? <span class="text-danger">*</span>
    </label>

    <select id="referral" name="how_did_you_hear_about_us" class="form-control">

      <option value="" disabled selected>
        Select your answer
      </option>

      <option value="Facebook">
        Facebook
      </option>

      <option value="Instagram">
        Instagram
      </option>

      <option value="Twitter">
        Twitter
      </option>

      <option value="LinkedIn">
        LinkedIn
      </option>

      <option value="Friend / Family">
        Friend / Family
      </option>

      <option value="Search engine">
        Search engine
      </option>

      <option value="ACA event">
        ACA event
      </option>

      <option value="ACA faculty / staff">
        ACA faculty / staff
      </option>

      <option value="ACA student / alumni">
        ACA student / alumni
      </option>

      <option value="News (TV, article)">
        News (TV, article)
      </option>

      <option value="Radio">
        Radio
      </option>

      <option value="Other">
        Other
      </option>

    </select>
  </div>
</div>
  <!-- End Input -->