<h2
  style="margin-bottom: 3rem"
  class="display-5 font-family-alt text-center font-weight-bold"
>
  Individual Course Dates
</h2>

<div class="container">
  <h4 class="font-weight-bold">
    <i class="fas fa-circle text-purple"></i> Web 101 - Intro to Web Development
  </h4>
  <div class="row border my-2">
    <div class="col-6 col-md my-4">April 23rd - June 13th</div>
    <div class="col-6 col-md my-4">Tuesdays & Thursdays</div>
    <div class="col-6 col-md my-4">6:30pm - 9:00pm</div>
    <div class="col-6 col-md my-4">North Austin Highland Campus</div>
  </div>
  <h4 class="font-weight-bold">
    <i class="fas fa-circle text-yellow"></i> C# .NET 221 - C# Basics
  </h4>
  <div class="row border my-2">
    <div class="col-6 col-md my-4">June 18th - August 13th</div>
    <div class="col-6 col-md my-4">Tuesdays & Thursdays</div>
    <div class="col-6 col-md my-4">6:30pm - 9:00pm</div>
    <div class="col-6 col-md my-4">North Austin Highland Campus</div>
  </div>
  <h4 class="font-weight-bold">
    <i class="fas fa-circle text-green"></i>C# .NET 321 - .NET Framework
  </h4>
  <div class="row border my-2">
    <div class="col-6 col-md my-4">August 19th - October 10th</div>
    <div class="col-6 col-md my-4">Tuesdays & Thursdays</div>
    <div class="col-6 col-md my-4">6:30pm - 9:00pm</div>
    <div class="col-6 col-md my-4">North Austin Highland Campus</div>
  </div>
  <h4 class="font-weight-bold">
    <i class="fas fa-circle text-red"></i> C# .NET 421 - Advanced .NET +
    React.js
  </h4>
  <div class="row border my-2">
    <div class="col-6 col-md my-4">October 15th - December 12th</div>
    <div class="col-6 col-md my-4">Tuesdays & Thursdays</div>
    <div class="col-6 col-md my-4">6:30pm - 9:00pm</div>
    <div class="col-6 col-md my-4">North Austin Highland Campus</div>
  </div>
  <h4 class="font-weight-bold">
    <i class="fas fa-circle text-blue"></i> Job 501 - Job Placement Course
  </h4>
  <div class="row border my-2">
    <div class="col-6 col-md my-4">January 8th - January 31st</div>
    <div class="col-6 col-md my-4">Tuesdays & Thursdays</div>
    <div class="col-6 col-md my-4">6:30pm - 9:00pm</div>
    <div class="col-6 col-md my-4">North Austin Highland Campus</div>
  </div>
</div>
