<div style="margin-bottom: 5rem" class="container text-center narrow">
  <h2 class="font-family-alt display-5">Our JavaScript Track Curriculum</h2>
  <p class="size18">
    Our Javascript Track is comprised of 5 courses, designed to take you from
    beginner to job-ready in under a year, without having to quit your day job
    or mortgage your future. If you're looking to level-up in your current job,
    you can also apply to take any of these courses individually.
  </p>
</div>

<div class="container narrow-mini">
  <h4 class="font-weight-bold">
    <i class="fas fa-circle text-purple"></i> Web 101 - Intro to Web Development
  </h4>
  <ul class="size-20">
    <li>HTML5 + all new HTML5 APIs</li>
    <li>CSS3 + Animations and Transitions</li>
    <li>Version Control Software - Git</li>
    <li>Responsive Web Design</li>
    <li>JavaScript Basics & DOM Manipulation</li>
    <li>Input Control and Form Submissions</li>
  </ul>
</div>

<div class="container narrow-mini">
  <h4 class="font-weight-bold">
    <i class="fas fa-circle text-yellow"></i> JS 211 - JavaScript Basics
  </h4>
  <ul class="size-20">
    <li>Immersion in Object Oriented Programming (OOP)</li>
    <li>Master Unit Testing + Test Driven Development (TDD)</li>
    <li>Break into Callbacks and Functional Programming</li>
    <li>Interact with remote APIs using AJAX requests</li>
    <li>Get a proper introduction to React.js</li>
  </ul>
</div>

<div class="container narrow-mini">
  <h4 class="font-weight-bold">
    <i class="fas fa-circle text-green"></i> JS 311 - Front-End JavaScript
  </h4>
  <ul class="size-20">
    <li>Build deployment-ready React apps</li>
    <li>Maintain app state with Redux</li>
    <li>Build production-grade apps with Webpack</li>
    <li>Handle Client-Side Routing</li>
    <li>Expand your knowledge of Git</li>
    <li>Deep-dive into HTTPS protocol</li>
  </ul>
</div>

<div class="container narrow-mini">
  <h4 class="font-weight-bold">
    <i class="fas fa-circle text-red"></i> JS 411 - Back-End Javascript
  </h4>
  <ul class="size-20">
    <li>Shape MongoDB structures with Mongoose.js</li>
    <li>Serve Express.js routes</li>
    <li>Explore the power of Node.js</li>
    <li>MVC - Model, View, Controller</li>
    <li>Deploy your own Node Package</li>
    <li>Learn to host and manage your websites</li>
  </ul>
</div>

<div class="container narrow-mini">
  <h4 class="font-weight-bold">
    <i class="fas fa-circle text-blue"></i> Job 501 - Job Placement Course
  </h4>
  <ul class="size-20">
    <li>Technical interview prep</li>
    <li>White-boarding practice and feedback</li>
    <li>Portfolio support</li>
    <li>Resume building</li>
    <li>Networking opportunities and strategies</li>
    <li>Job-finding strategies</li>
  </ul>
</div>
