<div style="margin-bottom: 5rem" class="container text-center narrow">
  <h2 class="font-family-alt display-5">Our C# and .NET Track Curriculum</h2>
  <p class="size18">
    Our C# and .NET Track is comprised of 5 courses, designed to take you from
    beginner to job-ready in under a year, without having to quit your day job
    or mortgage your future. If you're looking to level-up in your current job,
    you can also apply to take any of these courses individually.
  </p>
</div>

<div class="container narrow-mini">
  <h4 class="font-weight-bold">
    <i class="fas fa-circle text-purple"></i> Web 101 - Intro to Web Development
  </h4>
  <ul class="size-20">
    <li>HTML5 + all new HTML5 APIs</li>
    <li>CSS3 + Animations and Transitions</li>
    <li>Version Control Software - Git</li>
    <li>Responsive Web Design</li>
    <li>JavaScript Basics & DOM Manipulation</li>
    <li>Input Control and Form Submissions</li>
  </ul>
</div>

<div class="container narrow-mini">
  <h4 class="font-weight-bold">
    <i class="fas fa-circle text-yellow"></i> C# .NET 221 - C# Basics
  </h4>
  <ul class="size-20">
    <li>Intro to C#</li>
    <li>Object-Oriented Programming</li>
    <li>Unit Testing</li>
    <li>Data Structures</li>
    <li>Intro to Algorithms</li>
    <li>Basics of SQL</li>
  </ul>
</div>

<div class="container narrow-mini">
  <h4 class="font-weight-bold">
    <i class="fas fa-circle text-green"></i> C# .NET 321 - .NET Framework
  </h4>
  <ul class="size-20">
    <li>Advanced C#</li>
    <li>.NET Framework</li>
    <li>MVC Architecture</li>
    <li>Razor</li>
    <li>Visual Studio</li>
  </ul>
</div>

<div class="container narrow-mini">
  <h4 class="font-weight-bold">
    <i class="fas fa-circle text-red"></i> C# .NET 421 - Advanced .NET + React.js
  </h4>
  <ul class="size-20">
    <li>Entity</li>
    <li>SQL</li>
    <li>Deployment and Hosting</li>
    <li>React.js</li>
    <li>Build full-stack apps with .NET and React.js</li>
  </ul>
</div>

<div class="container narrow-mini">
  <h4 class="font-weight-bold">
    <i class="fas fa-circle text-blue"></i> Job 501 - Job Placement Course
  </h4>
  <ul class="size-20">
    <li>Technical interview prep</li>
    <li>White-boarding practice and feedback</li>
    <li>Portfolio support</li>
    <li>Resume building</li>
    <li>Networking opportunities and strategies</li>
    <li>Job-finding strategies</li>
  </ul>
</div>
