---
layout: default
permalink: "/apply/"
title: Start Your Application | Austin Coding Academy - Apply Now
description: Apply now to learn to code with Austin Coding Academy | Fill out your
  short application to get on the path to a career in web development.
form_guid: 9d476e09-2737-4394-b7db-f0395a2d26d5
redirect_from:
- "/application"

---
<div class="mt-10 border container">
  <h2 class="font-family-alt my-4 display-4 text-center">
    Student Application
  </h2>
  <form
    class="d-flex justify-content-center"
    action-xhr="{{site.form_url}}/{{site.hubspot_portal_id}}/{{page.form_guid}}"
    method="POST"
    target="_top"
  >
    <div class="form-container">
      <input name="lifecyclestage" type="hidden" value="opportunity">
      <input name="filled_out_application" type="hidden" value="true">
      <input name="page_name" type="hidden" value="{{page.title}}">
      <input name="page_uri" type="hidden" value="{{site.url}}{{site.baseurl}}{{page.url}}">
      <input name="hutk" type="hidden" value="">
      <div class="mw-850 row">
        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message form-group">
            <label for="firstname" class="form-label">
              First Name <span class="text-danger">*</span>
            </label>

            <input
              type="text"
              id="firstname"
              class="form-control"
              name="firstname"
              placeholder="First name"
              aria-label="First name"
              required
              data-msg="Please enter your first name."
              data-error-class="u-has-error"
              data-success-class="u-has-success"
            />
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message form-group">
            <label for="lastname" class="form-label">
              Last Name <span class="text-danger">*</span>
            </label>

            <input
              type="text"
              id="lastname"
              class="form-control"
              name="lastname"
              placeholder="Last name"
              aria-label="Last name"
              required
              data-msg="Please enter your last name."
              data-error-class="u-has-error"
              data-success-class="u-has-success"
            />
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message form-group">
            <label for="phone" class="form-label">
              Phone <span class="text-danger">*</span>
            </label>

            <input
              type="tel"
              id="phone"
              class="form-control"
              name="phone"
              placeholder="(***)***-****"
              aria-label="(***)***-****"
              required
              data-msg="Please enter your phone number."
              data-error-class="u-has-error"
              data-success-class="u-has-success"
            />
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message form-group">
            <label for="email" class="form-label">
              Email <span class="text-danger">*</span>
            </label>

            <input
              type="email"
              id="email"
              class="form-control"
              name="email"
              placeholder="name@example.com"
              aria-label="name@example.com"
              required
              data-msg="Please enter a valid email address."
              data-error-class="u-has-error"
              data-success-class="u-has-success"
            />
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message form-group">
            <label for="city" class="form-label">
              Your Current City <span class="text-danger">*</span>
            </label>

            <input
              id="city"
              type="text"
              class="form-control"
              name="city"
              placeholder="City"
              aria-label="City"
              required
              data-msg="Please enter the city in which you live."
              data-error-class="u-has-error"
              data-success-class="u-has-success"
            />
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message form-group">
            <label for="state" class="form-label">
              State <span class="text-danger">*</span>
            </label>

            <input
              id="state"
              type="text"
              class="form-control"
              name="state"
              placeholder="ST"
              aria-label="ST"
              required
              data-msg="Please enter your state."
              data-error-class="u-has-error"
              data-success-class="u-has-success"
            />
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="js-form-message mb-6 col-sm-12 form-group">
          <label class="form-label" for="yes">
            Will you be at least 18 by the time your classes begin?
            <span class="text-danger">*</span>
          </label>

          <p class="size-10" style="max-width: 421px;">
            Please note that you must be at least 18 years old by the time your
            classes begin to apply to Austin Coding Academy. You also must have a
            High School Diploma or GED.
          </p>

          <div id="age">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="are_you_18_or_older_"
                id="yes"
                value="true"
                aria-label="You must be 18 or older to begin classes"
                required
                data-msg="Please indicate whether you will be 18 or older when classes begin"
                data-error-class="u-has-error"
                data-success-class="u-has-success"
              />
              <label class="form-check-label" for="yes">Yes</label>
            </div>

            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                id="no"
                name="are_you_18_or_older_"
                value="false"
              />
              <label class="form-check-label" for="no">No</label>
            </div>
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message form-group">
            <label for="current-occupation1" class="form-label">
              Current Occupation or Job Title<span class="text-danger">*</span>
            </label>

            <input
              id="current-occupation1"
              type="text"
              class="form-control"
              name="current_occupation1"
              placeholder="Your current job title"
              aria-label="Your current job title"
              required
              data-msg="Please enter your current job title."
              data-error-class="u-has-error"
              data-success-class="u-has-success"
            />
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message form-group">
            <label for="current-company1" class="form-label">
              Current Company <span class="text-danger">*</span>
            </label>

            <input
              id="current-company1"
              type="text"
              class="form-control"
              name="current_company1"
              placeholder="Your current company"
              aria-label="Your current company"
              required
              data-msg="Please enter your current company."
              data-error-class="u-has-error"
              data-success-class="u-has-success"
            />
          </div>
        </div>
        <!-- End Input -->

      <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message form-group">
            <label for="college-or-school-attended1" class="form-label">
              Last School Attended <span class="text-danger">*</span>
            </label>

            <input
              id="college-or-school-attended1"
              type="text"
              class="form-control"
              name="college_or_school_attended1"
              placeholder="The last school you attended"
              aria-label="Last school attended"
              required
              data-msg="Please enter the last school you attended."
              data-error-class="u-has-error"
              data-success-class="u-has-success"
            />
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message form-group">
            <label for="coding-experience" class="form-label">
              What experience do you have in coding?
              <span class="text-danger">*</span>
            </label>

            <select id="coding-experience" name="what_experience_if_any_do_you_have_in_coding_currently_" class="form-control">
              <option value="" disabled selected>
                Select your answer
              </option>
              <option value="None at all!">
                None at all!
              </option>
              <option value="I've dabbled with some online tutorials">
                I've dabbled with some online tutorials.
              </option>
              <option value="Solid fundamentals but not ready for a job">
                Solid fundamentals but not ready for a job.
              </option>
              <option value="I'm a professional developer">
                Professional developer, gaining more skills.
              </option>
            </select>
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message form-group">
            <label for="curriculum-track" class="form-label">
              To which program are you applying?
              <span class="text-danger">*</span>
            </label>

            <select id="curriculum-track" name="curriculum_track" class="form-control">
              <option value="" disabled selected>
                Select your answer
              </option>
              <option value="Full Stack JavaScript Track">
                Full-Stack JavaScript Track</option>
              <option value="Full Stack C# .NET Track">
                Full-Stack C# .NET Track
              </option>
              <option value="Individual Classes">
                Individual Classes
              </option>
              <option value="I'm not sure!">
                I'm not sure yet!
              </option>
            </select>
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message form-group">
            <label for="campus-interest" class="form-label">
              Which campus are you interested in?
              <span class="text-danger">*</span>
            </label>

            <select id="campus-interest" name="campus_interest_new" class="form-control">
              <option value="" disabled selected>
                Select your answer
              </option>
              <option value="Austin">
                Downtown - Capital Factory (JavaScript only)
              </option>
              <option value="Austin - North">
                Central - Highland
              </option>
              <option value="Any campus">
                Either campus works!
              </option>
              <option value="Remote">
                Remote (Outside of Austin)
              </option>
            </select>
          </div>
        </div>
        <!-- End Input -->

        {% include_relative partials/referral-question.html %}

        <!-- Input -->
        <div class="col-sm-6 mb-6">
          <div class="js-form-message form-group">
            <label for="how-pay" class="form-label">
              How do you intend to pay for the course?
              <span class="text-danger">*</span>
            </label>

            <select id="how-pay" name="how_do_you_intend_to_pay_for_the_course_" class="form-control">
              <option value="" disabled selected>
                Select your answer
              </option>
              <option value="Paying on my own">
                I'll be paying on my own.
              </option>
              <option value="Planning to finance">
                I'm planning to finance tuition.
              </option>
              <option value="Employer will be paying / reimbursing">
                My employer will be paying/reimbursing me.
              </option>
              <option value="Other">
                Other
              </option>
            </select>
          </div>
        </div>
        <!-- End Input -->

        <!-- Input -->
        <div class="col-12 mb-6">
            <div class="js-form-message form-group">
              <label for="best-describes" class="form-label">
                Which of these best describes you?
                <span class="text-danger">*</span>
              </label>

              <select id="best-describes" name="which_of_these_best_describes_you_" class="form-control">
                <option value="" disabled selected>
                  Select your answer
                </option>
                <option value="I'm researching coding bootcamps.">
                  I'm researching coding bootcamps.</option>
                <option value="I'm teaching myself to code, but I'm stuck.">
                  I'm teaching myself to code, but I'm stuck.
                </option>
                <option value="I'm interested in a career in tech.">
                  I'm interested in switching to a career in tech.
                </option>
                <option value="I'm an entrepreneur with an idea.">
                  I'm an entrepreneur with an idea.
                </option>
                <option value="I'm looking for a college alternative.">
                  I'm looking for a college alternative.
                </option>
                <option value="I want to learn a new skill for my current job.">
                  I want to learn a new skill for my current job.
                </option>
              </select>
            </div>
          </div>
          <!-- End Input -->

        <button
          class="btn btn-wide btn-round bg-purple size-20 text-white d-flex justify-content-center my-5 mx-auto"
          type="Submit"
        >
          Submit
        </button>
        {% include_relative partials/recaptcha-text.html %}
      </div>
    </div>
  </form>
</div>
