---
layout: default
permalink: /csharp/
---

{% include header.html %}

{% include tracks/heroCsharp.html %}

<section class="section-margin">
  {% include tracks/curriculumCsharp.html %}
  <div class="floating-button">
    <a href="#">
      <div class="wide-button cta-button primary-gradient hover-scale-button">
        Download Course Guide
      </div>
    </a>
  </div>
</section>

<section class="section-margin">
  {% include tracks/comparisonCardsCsharp.html %}
</section>

<section class="section-margin">
  <div class="container">
    <h4 class="font-family-alt text-center font-weight-bold">
      Need Help With Tuition?
    </h4>
    <a class="text-center" href="/financing">
      <h5>
        View Financing Options <span class="fas fa-arrow-right small"></span>
      </h5>
    </a>
  </div>
</section>

<section class="section-margin">
  {% include tracks/courseDatesCsharp.html %}
  <div class="floating-button">
    <a href="/apply">
      <div class="wide-button cta-button primary-gradient hover-scale-button">
        Apply
      </div>
    </a>
  </div>
</section>

<section class="section-margin">{% include campusLocations.html %}</section>

<section class="section-margin">
  <h2 class="font-family-alt font-weight-bold text-center display-4">
    Still Have Questions?
  </h2>
  <div style="max-width:500px; margin: 0 auto;">
    <p class="size-20 mb-4 text-center">
      From choosing the right course to understanding course details, we're here
      to help.
    </p>
    {% include contactForm.html %}
  </div>
</section>

{% include footer.html %}
