---
layout: default
permalink: "/faq/"
title: Austin Coding Academy FAQ | Frequently Asked Questions
description: 'Answers to frequently asked questions: Have a question about Austin
  Coding Academy? Find help and useful links in our FAQ section.'
redirect_from: []
categories:
  general:
    title: Frequently Asked Questions
    faqs:
    - question: I’m an employer looking to hire some developers, how do I get in touch
        with you?
      answer: Pretty soon, we’ll have a “Hire a Grad” page with profile links to our
        graduates, but for now the best way to get in touch is to fill out our <a
        href="/contact">Contact Form</a> &#8208; we try to respond as quickly as possible!
    - question: Are your classes in-person only?
      answer: Right now, our classes are in-person only. If you have special circumstances,
        we may be able to admit you into our classes remotely.
    - question: Who should apply?
      answer: All of our graduates share these core qualities&#58; <br/>&#8208;&nbsp;A
        desire to improve their life <br/>&#8208;&nbsp;Exhibit “growth mindset” <br/>&#8208;&nbsp;Willing
        to take a risk <br/>&#8208;&nbsp;15 hrs to commit to the class and coursework
        each week <br/>&#8208;&nbsp;Availability to attend classes <br/>If this sounds
        like you, don’t hesitate to <a href="/apply">apply now!</a>
    - question: What is the application process like?
      answer: First, you'll fill out a short application and schedule an Admissions
        Interview for us to get to know you and answer your questions. Then, you'll
        complete a quick admissions assignment for review. Your acceptance will follow
        that, then you'll enroll and get started on your selected start date!
    - question: Can I change my start date if I’ve already applied?
      answer: Yes, just let us know.
    - question: Where can I view your course starting dates?
      answer: You may see our upcoming start dates on Course Track pages. The next
        <a href="https://austincodingacademy.com/javascript/">JavaScript</a> Track
        will start March 4th, and the next <a href="https://austincodingacademy.com/csharp/">C#/.NET</a>
        Track will start April 23.
    - question: Where are classes held?
      answer: We’ve got two locations - one in downtown Austin at Capital Factory
        and one in Central Austin at Highland.
    - question: Is there parking downtown?
      answer: Yes, we have an agreement with a local parking garage to allow parking
        for $5/night. Additionally, street parking is available.
    - question: Who teaches the classes?
      answer: All of our classes are taught by professional developers currently employed
        in the field. They code by day and teach by night. This ensures our curriculum
        and instruction is up-to-date and aligned with current industry norms. We’ll
        soon have an instructor page with all of our instructors listed, but for now,
        visit our homepage to see a few.
  tuition:
    title: Tuition Questions
    faqs:
    - question: How much is tuition?
      answer: Each 8-week class is $2,990, and each track consists of 4 classes.
    - question: What if I really want to sign up but I can’t afford it?
      answer: We encourage you to check with your current employer to see if they’d
        be willing to assist with the costs. Also, we partner with a reputable organization
        for financing. <a href="https://austincodingacademy.com/financing/">Skills
        Fund</a> is simple to apply for, and offers the same great rate for every
        student approved for financing.
    - question: Do you offer scholarships?
      answer: Yes! Make sure you’re signed up for our blog and are subscribed to our
        newsletter to learn about these opportunities as they arise. Also note that
        if you’re a driver for Lyft, we offer tuition discounts - <a href="https://sites.google.com/lyft.com/lyftaustinonboarding/driver-deals/education">click
        here</a> to learn more.
    - question: Do you offer financial aid? (as in FAFSA)
      answer: We do not offer financial aid.
    - question: What payment methods do you accept?
      answer: We accept credit cards and checks.
    - question: Can I just take a single course?
      answer: Yes, absolutely. If you’re a novice, you’d have to take Web 101 first.
        If you’re already a developer, it’s possible you could test out of Web 101
        and start in a more advanced class. You’ll go through the same application
        process either way and we’ll get all the details we need to get you in the
        right class during our interview call, so don’t hesitate &#8208; <a href="/apply">apply
        now!</a>
    - question: Do I have to take each course consecutively?
      answer: If you apply and register for the Full Track, you’ll take each course
        consecutively. If you’re already a developer interested in individual courses,
        it’s possible you could test into specific classes. Either way, you’ll need
        to go through the application process, and we’ll get all the details we need
        to get you into the right class during our interview call, so we encourage
        you to go ahead and <a href="/apply">apply now!</a>
    - question: What do I need for class?
      answer: Students must have a laptop and a desire to change their life!
    - question: What kind of computer do I need?
      answer: A laptop computer purchased in the last 5 or 6 years will work.
  job:
    title: Job-Related Questions
    faqs:
    - question: How long does it take students to find a job afterwards?
      answer: It usually takes our graduates between 3 and 6 months after graduation
        to secure a full-time job.
    - question: Will I be ready for a job after this?
      answer: Yes, we teach technologies currently used by tech companies. Our instructors
        are full-time developers and make you job-ready. Our Job Placement class will
        teach you how to land interviews and succeed in getting job offers.
    - question: What kind of help do you provide ACA students during their job search?
      answer: Our Director of Job Placement will be there every step of the way.
    - question: Do you help me get a job?
      answer: Yes, we have your back and will help you find a job!
    - question: What’s the rate of students getting jobs?
      answer: 85% of our graduates in 2018 found jobs prior to December 1st, 2018.
        (In our JavaScript program per Annual Reporting)
    - question: Can I take the course and then afterwards get a job outside of Austin?
      answer: Yes, the technologies we teach are valued in software companies all
        over the world.
    - question: Will there be networking opportunities during the programs?
      answer: Together, we will attend networking opportunities with potential employers.
  course:
    title: Course Questions
    faqs:
    - question: What is the average class size?
      answer: Our classes are between 10 and 20 students. You will have access to
        a professional developer. All of our classes come with unlimited tutoring.
    - question: What is JavaScript?
      answer: JavaScript is the most-used web development language in the world. JavaScript
        adds interactive functionality to web pages. Learning JavaScript will prepare
        you for a career as a web developer.
    - question: What does Full-stack mean?
      answer: Full-stack development means both front-end and back-end. The front
        end is what people see, and the back end stores and uses the data.
    - question: What is C# .NET?
      answer: C#, pronounced “C Sharp”, is a very popular programming language developed
        in 2000 by Microsoft. It is used to build web applications, computer programs,
        and video games. The .NET Framework, pronounced “Dot Net”, is a framework
        developed and maintained by Microsoft. It used to build web applications,
        mobile applications, desktop applications, and even alternative operating
        systems.
    - question: Which track should I choose? C# or JavaScript?
      answer: In the JavaScript track, you will learn the fundamentals of JavaScript,
        React, Node, Express, and MongoDB. In the C# .NET track, you will learn the
        fundamentals of JavaScript, C#, .NET Framework, and SQL. Do a job search for
        open positions at a company you love to determine which track you should choose.
    - question: What’s the difference between the C# .NET track and the JavaScript
        Track?
      answer: In both tracks, you will study the fundamentals of computer programming
        and web development. The C# .NET track has a great emphasis on object-oriented
        programming while the JavaScript track focuses on newer technologies such
        as React and Node.
    - question: What kind of projects will I have in my portfolio?
      answer: You will build full-stack applications hosted online for potential employers
        to see. Your projects are integral to securing employment.
    - question: Will I have the opportunity to work on my own projects at ACA?
      answer: Yes, please bring in your creative ideas. Your personal projects will
        help you land your first coding job.
    - question: How do I get the most out of ACA?
      answer: We highly encourage you to attend every class, work alongside your classmates
        whenever possible (you’ll have access to both of our locations) and take advantage
        of unlimited tutoring, which is included in your tuition!
    - question: What is the policy on missing class days for special events, weddings,
        trips, etc?
      answer: Students may miss no more than 2 classes per 8-week class. Classes are
        recorded, and students are expected to watch class recordings and makeup missing
        work.

---
<div class="container mt-90 py-5">
  {% for category in page.categories %}
    <div class="my-10">
      <h2 class="font-family-alt mb-6 text-center display-5">
        {{category[1].title}}
      </h2>
      <amp-accordion disable-session-states>
        {% for faq in category[1].faqs %}
          <section class="mb-3">
            <h4 class="display-7 bg-light mb-0 px-2 p-1 rounded-top">
              {{faq.question}}
            </h4>
            <p class="text-default px-2 py-1 border border-top-0 rounded-bottom">
              {{faq.answer}}
            </p>
          </section>
        {% endfor %}
      </amp-accordion>
    </div>
  {% endfor %}
  <section class="my-10">
    <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
      Still Have Questions?
    </h2>
    <div class="d-flex flex-column justify-content-center">
      {% include contact-form.html %}
    </div>
  </section>
</div>