---
layout: default
permalink: "/faq/"

---
<style>
  .accordion-section {
    margin: 0 auto 98px;
    max-width: 1110px;
  }
  .top-84 {
    margin-top: 84px;
  }
  .font-size-large {
    font-size: 1.05em;
    /* font-style: italic; */
  }
</style>

<!-- begin FAQ Section -->


<div class="container">
  <h2 class="font-family-alt top-84 bottom-48 text-center display-4">
    Frequently Asked Questions
  </h2>
  <!-- Basics Accordion -->
  <div class="accordion-section" id="basics-accordion">
    {% for faq in site.data.faqs.basics %}
    <!-- Card -->
    <div class="card mb-3">
      <div class="card-header card-collapse" id="basics-heading-{{ forloop.index0 }}">
        <h5 class="mb-0">
          <button
            class="font-size-large btn btn-link btn-block d-flex justify-content-between card-btn p-3"
            data-toggle="collapse"
            data-target="#basics-collapse-{{forloop.index0}}"
            aria-expanded="false"
            aria-controls="basics-collapse-{{forloop.index0}}">
            {{faq.question}}

          </button>
        </h5>
      </div>
      <div
        id="basics-collapse-{{forloop.index0}}"
        class="collapse"
        aria-labelledby="basics-heading-{{forloop.index0}}"
        data-parent="#basics-accordion">
        <div class="card-body bg-light">
          {{faq.answer}}
        </div>
      </div>
    </div>
    <!-- End Card -->
    {% endfor %}
  </div>
  <!-- End Basics Accordion -->

  <h2 class="font-family-alt bottom-48 text-center display-4">
    Tuition Questions
  </h2>

  <!-- Tuition Accordion -->
  <div class="accordion-section" id="tuition-accordion">
    {% for faq in site.data.faqs.tuition %}
    <!-- Card -->
    <div class="card mb-3">
      <div class="card-header card-collapse" id="tuition-heading-{{forloop.index0}}">
        <h5 class="mb-0">
          <button
            class="font-size-large btn btn-link btn-block d-flex justify-content-between card-btn p-3"
            data-toggle="collapse"
            data-target="#tuition-collapse-{{forloop.index0}}"
            aria-expanded="false"
            aria-controls="tuition-collapse-{{forloop.index0}}">
            {{faq.question}}

          </button>
        </h5>
      </div>
      <div
        id="tuition-collapse-{{forloop.index0}}"
        class="collapse"
        aria-labelledby="tuition-heading-{{forloop.index0}}"
        data-parent="#tuition-accordion">
        <div class="card-body bg-light">
          {{faq.answer}}
        </div>
      </div>
    </div>
    <!-- End Card -->
    {% endfor %}
  </div>
  <!-- End Tuition Accordion -->

  <h2 class="font-family-alt bottom-48 text-center display-4">
    Job-Related Questions
  </h2>

  <!-- Job Accordion -->
  <div class="accordion-section" id="job-accordion">
      {% for faq in site.data.faqs.job %}
      <!-- Card -->
      <div class="card mb-3">
        <div class="card-header card-collapse" id="job-heading-{{forloop.index0}}">
          <h5 class="mb-0">
            <button
              class="font-size-large btn btn-link btn-block d-flex justify-content-between card-btn p-3"
              data-toggle="collapse"
              data-target="#job-collapse-{{forloop.index0}}"
              aria-expanded="false"
              aria-controls="job-collapse-{{forloop.index0}}">
              {{faq.question}}

            </button>
          </h5>
        </div>
        <div
          id="job-collapse-{{forloop.index0}}"
          class="collapse"
          aria-labelledby="job-heading-{{forloop.index0}}"
          data-parent="#job-accordion">
          <div class="card-body bg-light">
            {{faq.answer}}
          </div>
        </div>
      </div>
      <!-- End Card -->
      {% endfor %}
  </div>
  <!-- End Job Accordion -->

  <h2 class="font-family-alt bottom-48 text-center display-4">
    Course Questions
  </h2>

  <!-- Course Accordion -->
  <div class="accordion-section" id="course-accordion">
    {% for faq in site.data.faqs.course %}
    <!-- Card -->
    <div class="card mb-3">
      <div class="card-header card-collapse" id="course-heading-{{forloop.index0}}">
        <h5 class="mb-0">
          <button
            class="font-size-large btn btn-link btn-block d-flex justify-content-between card-btn p-3"
            data-toggle="collapse"
            data-target="#course-collapse-{{forloop.index0}}"
            aria-expanded="false"
            aria-controls="course-collapse-{{forloop.index0}}">
            {{faq.question}}

          </button>
        </h5>
      </div>
      <div
        id="course-collapse-{{forloop.index0}}"
        class="collapse"
        aria-labelledby="course-heading-{{forloop.index0}}"
        data-parent="#course-accordion">
        <div class="card-body bg-light">
          {{faq.answer}}
        </div>
      </div>
    </div>
    <!-- End Card -->
    {% endfor %}
  </div>
  <!-- End Course Accordion -->

<!-- end FAQ Section -->

<section style="margin: 0 auto 48px;">
  <h2 class="font-family-alt font-weight-bold text-center display-4 mb-5">
    Still Have Questions?
  </h2>
  <p class="section-text text-center">Ask away!</p>
  <div style="width: 500px; margin: 0 auto;">
    {% include contact-form.html %}
  </div>
</section>
</div>