---
layout: default
permalink: "/hire-edit/"
title: "Austin Coding Academy | Hire an ACA Graduate"
description: ""
---

<div class="container mt-90 py-5">
  <div class="row my-5 mx-auto d-flex justify-content-center align-items-end">
    {% for page in site.pages %}
      {% if page.layout == 'resume' %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 text-center">
          <a href="https://github.com/AustinCodingAcademy/austincodingacademy.com/edit/preview/{{page.path}}">
            {% unless page.categories contains 'hire' %} 🚧 {% endunless %} Edit This Page {% unless page.categories contains 'hire' %} 🚧 {% endunless %}
          </a>
          <div class="card shadow">
            <div class="card-header">
              <a href="{{ page.url }}">
                <!-- htmllint preset="none" -->
                <amp-img width="1" height="1"
                  layout="responsive"
                  class="img-fluid w-100 rounded photo-hover"
                  src="https://gravatar.com/avatar/{{ page.email | downcase | md5 }}?s=400&r=pg&d=retro"
                  alt="Gravatar for {{ page.fullname }}"
                ></amp-img>
                <!-- htmllint preset="$previous" -->
              </a>
            </div>
            <div class="card-body text-center px-1">
              <a href="{{ page.url }}">
                <h5>{{ page.fullname }}</h5>
              </a>
              <div class="row">
                <div class="col pr-0 d-flex flex-column align-items-center justify-content-around">
                  {% assign skills = page.skills | slice:0, 3 %}
                  {% for skill in skills %}
                    <div class="badge bg-purple text-white font-weight-medium rounded m-1 p-1">
                      {{skill}}
                      <span class="sr-only">top skill</span>
                    </div>
                  {% endfor %}
                </div>
                <div class="col pl-0 d-flex flex-column align-items-center justify-content-around border-left">
                  <a href="{{ page.github }}" target="_blank" rel="noopener">
                    <i class="text-dark display-6 fab fa-github mb-2"></i>
                  </a>
                  <a href="{{ page.linkedin }}" target="_blank" rel="noopener">
                    <i class="text-dark display-6 fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>