---
layout: default
---
{% include header.html %}

{% include hero.html %}

<section class="homeSection">
    <div class="sectionHeader">
        <h2 class="montserratBold centeredText size45">Why Our Students Love Us</h2>
    </div>
    {% include tabsAlt.html %}
</section>

<section class="homeSection">
    <div class="sectionHeader">
        <h2 class="montserratBold centeredText size45">Two Paths to Choose From</h2>
    </div>
    {% include tracksInfoCards.html %}
</section>

<section class="homeSection">
    <div class="sectionHeader">
        <h2 class="montserratBold centeredText size45">Our Instructors Work Full-Time in the Industry</h2>
    </div>
    {% include instructorsAlt.html %}
</section>

<section class="homeSection">
    <div class="sectionHeader">
        <h2 class="montserratBold centeredText size45">Our Graduates Are Working At</h2>
    </div>
    {% include gradCompanies.html %}
</section>

<section class="homeSection">
    <div class="sectionHeader">
        <h2 class="montserratBold centeredText size45">
            Student Success Stories
        </h2>
    </div>
    {% include studentStoriesAlt.html %}
</section>

<section class="ctaSection homeSection">
    <div class="sectionHeader">
        <h2 class="montserratBold centeredText size45">
        Next Classes Start January 15th<br>
        <span style="font-weight: normal">Save your spot today</span>
        </h2>
    </div>
    <a class="btn stockBlueButton whiteText" href="#">Apply</a>
</section>

<section class="homeSection">
    <div class="sectionHeader">
        <h2 class="montserratBold centeredText size45">
            Contact Us
        </h2>
        <p class="sectionText centeredText">
            Whether you have questions or you would just<br>
            like to say hello, contact us.
        </p>
    </div>
    {% include contactForm.html %}
</section>

{% include footer.html %}
