---
layout: default
title: ""
description: ""
permalink: "/instructors/"
heading: ACA Instructors
defaultBio: Our instructors live and work in Austin as full-time software developers.
  They come from diverse backgrounds and love to help our students get all the skills they need in a real
  workplace, no matter which stack they choose to pursue.
profiles:
  - name: Dinh Huynh
    email: dinh@austincodingacademy.com
    linkedin: https://www.linkedin.com/in/dinhhuynh/
    title: JS 211 (North Campus)
    campus: North
    bio: "Dinh has worked as a software engineer at SCCI since March 2017 and has worked as a developer at Spredfast."

  - name: Keith Kritselis
    email: keith@austincodingacademy.com
    linkedin: https://www.linkedin.com/in/keith-kritselis/
    title: Web 101 (Central Campus)
    campus: Central
    bio: "Keith is president and co-founder of K &amp; T Manufacturing and has been a contract instructor for programming schools since September 2014."

  - name: Emily Anne Moses
    email: emily@austincodingacademy.com
    linkedin: https://www.linkedin.com/in/emilyannemoses/
    title: JS 211 (Central Campus)
    campus: Central
    bio: "Emily is a freelance developer who has worked at Home Depot and GreyMeta."

  - name: Juan Rodriguez
    email: juan@austincodingacademy.com
    linkedin: https://www.linkedin.com/in/juanrod1/
    title: Web 101 (North Campus)
    campus: North
    bio: "Juan has been a developer at L7 Informatics since August 2018 and has worked as a developer for MediaScience and DCR Point-of-Sale Systems."

  - name: Yousif Seedhom
    email: yousif@austincodingacadey.com
    linkedin: https://www.linkedin.com/in/yousifs/
    title: C# 221 (North Campus)
    campus: North
    bio: "Yousif has been a senior software engineer at Pulselight since November 2013 and before that at Open Sky Software."

  - name: Matt Viteri
    email: matt@austincodingacademy.com
    linkedin: https://www.linkedin.com/in/mxviteri/
    title: JS 311 (North Campus)
    campus: North
    bio: "Matt began at Volusion in July 2017 as a senior software engineer and now works as a software engineering manager."

  - name: Jon Woo
    email: jon@austincodingacademy.com
    linkedin: https://www.linkedin.com/in/jon-woo-3a28175a/
    title: JS 311 (Central Campus)
    campus: Central
    bio: "Jon has worked at CDK Global as a software developer since January 2019 and has been an instructor at multiple coding schools since January 2014."

  - name: Erik Zambrano
    email: erik@austincodingacademy.com
    linkedin: https://www.linkedin.com/in/e-zambrano/
    title: .NET 321 (North Campus)
    campus: North
    bio: "Erik has been a front-end engineer at Gartner since September 2018. Before that he was a software engineer at General Motors."

---
{% include profiles-page.html %}
{% comment %}
<div class="container-fluid mt-90 py-5">
  <div class="row my-5 mx-auto d-flex justify-content-center align-items-end">
    {% for instructor in page.profiles %}
      <div class="col-6 col-md-4 col-lg-3">
        <div>
          <!-- htmllint preset="none" -->
            <amp-img
              width="1"
              height="1"
              layout="responsive"
              class="img-fluid w-100 rounded"
              src="https://gravatar.com/avatar/{{ instructor.email | downcase | md5 }}?s=400&r=pg"
              alt="{{ instructor.name }}"
            ></amp-img>
          <!-- htmllint preset="$previous" -->
        </div>
        <div class="card border-0 shadow-sm mt-n6 mx-3">
          <div class="text-center py-2 px-1">
            <a href="{{ instructor.linkedin }}" target="_blank" rel="noopener">
              <h3 class="h6 font-weight-bold">{{ instructor.name }}</h3>
            </a>
            <h4 class="h6 font-weight-bold">{{ instructor.class }}</h4>
            <h5 class="size-14">{{ instructor.campus }} Campus</h5>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endcomment %}
