---
layout: default
permalink: "/javascript/"
track: javascript
title: JavaScript
description: ''
courses:
  - title: Web 101 - Intro to Web Development
    color: purple
    sections:
      - dates     : March 4th - April 24th
        weekdays  : Mondays &amp; Wednesdays
        time      : 6:30pm - 9:00pm
        campus    : North Austin Highland Campus
      - dates     : April 2 - May 23
        weekdays  : Tuesdays &amp; Thursdays
        time      : 6:30pm - 9:00pm
        campus    : Downtown Capital Factory Campus


  - title: JS 211 - JavaScript Basics
    color: yellow
    sections:
      - dates     : April 29th - June 24th
        weekdays  : Mondays &amp; Wednesdays
        time      : 6:30pm - 9:00pm
        campus    : North Austin Highland Campus
      - dates     : May 28 - July 23
        weekdays  : Tuesdays &amp; Thursdays
        time      : 6:30pm - 9:00pm
        campus    : Downtown Capital Factory Campus

  - title: JS 311 - Front-End JavaScript
    color: green
    sections:
      - dates     : June 26th - August 21st
        weekdays  : Mondays &amp; Wednesdays
        time      : 6:30pm - 9:00pm
        campus    : North Austin Highland Campus
      - dates     : July 30 - Sept 19
        weekdays  : Tuesdays &amp; Thursdays
        time      : 6:30pm - 9:00pm
        campus    : Downtown Capital Factory Campus

  - title: JS 411 - Back-End Javascript
    color: red
    sections:
      - dates     : August 26th - October 21st
        weekdays  : Mondays &amp; Wednesdays
        time      : 6:30pm - 9:00pm
        campus    : North Austin Highland Campus
      - dates     : September 24 - November 14
        weekdays  : Tuesdays &amp; Thursdays
        time      : 6:30pm - 9:00pm
        campus    : Downtown Capital Factory Campus

  - title: Job 501 - Job Placement Course
    color: blue
    sections:
      - dates     : November 11th - December 12th
        weekdays  : Tuesdays &amp; Thursdays
        time      : 6:30pm - 9:00pm
        campus    : North Austin Highland Campus
        class     : Job 501 - Job Placement Course
---
<style>
  .hero { background-image: url("/assets/images/header-javascript.png"); }
</style>

<div class="hero py-11">
  <h1 class="text-white font-family-alt font-weight-bold display-4 text-center">
    JavaScript Track
  </h1>
</div>

<main class="container">
  <h2 class="display-6 text-center my-10 text-muted">
    JavaScript is used everywhere on the internet. It’s a programming language
    used to make not only websites but games, web apps, animations, and mobile
    applications for both Android and iOS.
  </h2>

  {% include_relative partials/curriculum.html %}

  <div class="my-10">
    {% include_relative partials/course-guide-form.html %}
  </div>

  {% include_relative partials/comparison-cards.html %}

  <div class="my-10">
    {% include_relative partials/tuition-help.html %}
  </div>

  {% include_relative partials/course-dates.html %}

  <div class="d-flex justify-content-center my-10">
    {% include_relative partials/btn-apply.html class="btn-wide" %}
  </div>

  {% include_relative partials/campus-locations.html %}

  <h2 class="font-family-alt font-weight-bold text-center display-4 mt-10">
    Still Have Questions?
  </h2>
  <p class="size-20 mb-4 text-center">
    From choosing the right course to understanding course details, we're here
    to help.
  </p>
  {% include_relative partials/contact-form.html %}
  <div class="my-10"></div>

</main>