h2 {
    margin: 1em auto;
    text-align: center;
    color: #377dff;
}

body {
    margin: 0;
}

#navBarTitle {
    font-size: 1.5em;
}

.cta-button {
    background-color: #f5b02c;
    color: white;
}