---
layout: default
permalink: "/team/"
title: ""
description: ""
profiles:
  - name: Chris Sica
    title: Co-Founder
    email: chris@austincodingacademy.com
    bio: "Chris and his co-founder, Luke Filipos, were frustrated with hiring a dev team to build an app for them. They decided they were going to learn how to code themselves so they could get an MVP up and running. When they noticed that most of the coding bootcamps meant quitting their day jobs and having to pay almost 20k up front, they decided there had to be a better way. Thus was born the first part time coding school in Austin."
    links:
    - link: mailto:chris@austincodingacademy.com
      icon: fas fa-envelope-square
      hex: "#303133"
    - link: https://www.linkedin.com/in/christophermatthewsica/
      icon: fab fa-linkedin
      hex: "#0077b5"
  - name: Chris Lofton
    title: CEO
    email: clofton@austincodingacademy.com
    bio: "Chris Lofton graduated from Texas State University with a B.S. in Psychology and began teaching middle school math in San Antonio, TX with Teach For America and KIPP. Through these educational institutions, Chris experienced the power of project-based learning and began to see a path towards improving our education system. While working for the University of Texas, Chris studied with Austin Coding Academy. After his class, he was hired as the Director of Academics, managing all curriculum and instructors, and became the CEO in April of 2017. Chris lives in Austin with his wife and 2-year-old daughter."
    links:
    - link: mailto:clofton@austincodingacademy.com
      icon: fas fa-envelope-square
      hex: "#303133"
    - link: https://www.linkedin.com/in/chris-lofton-83997431/
      icon: fab fa-linkedin
      hex: "#0077b5"
  - name: Kevin Colten
    title: Chief Technology Officer + Lead Instructor
    email: kevin@austincodingacademy.com
    bio: "A life-learner and new technology nerd, Kevin works hard at the things he loves: programming, teaching, and learning. As a software developer of more than six years and a teacher of more than ten, he has combined his teaching experience and passion for coding to help create an accessible, living, and relevant curriculum aimed to open up the tech industry to those determined to break in."
    links:
    - link: mailto:kevin@austincodingacademy.com
      icon: fas fa-envelope-square
      hex: "#303133"
    - link: https://kevincolten.com
      icon: fas fa-external-link-square-alt
      hex: "#303133"
    - link: https://www.linkedin.com/in/kevincolten/
      icon: fab fa-linkedin
      hex: "#0077b5"
    - link: https://github.com/kevincolten
      icon: fab fa-github-square
      hex: "#303133"
  - name: Dan Cumming
    title: Director of Placement and Partnerships
    email: dan@austincodingacademy.com
    bio: "As a humble hustler, I've grown with Austin Coding Academy over the last three years holding several roles wherever I could add value to the school and to the students. I graduated with a Journalism BS from University of Richmond (go Spiders!), and got my professional start with sales and leadership. I've traveled coast-to-coast on my motorcycle several times, which led me to find a true home here in Austin in 2014. I'm all about connecting, so say hello!"
    links:
    - link: mailto:dan@austincodingacademy.com
      icon: fas fa-envelope-square
      hex: "#303133"
    - link: https://www.linkedin.com/in/daniel-cumming/
      icon: fab fa-linkedin
      hex: "#0077b5"
    - link: https://www.facebook.com/daniel.cumming.5
      icon: fab fa-facebook-square
      hex: "#3b5998"
  - name: Clayton Berger
    title: Senior Academic Manager
    email: clayton@austincodingacademy.com
    bio: "Artistic flair paired with technical deftness. I'm a teacher turned programmer that loves code and wants all of my students to fall in-love with it too. My mission at ACA is make everyone around me better by making myself better each day!"
    links:
    - link: mailto:clayton@austincodingacademy.com
      icon: fas fa-envelope-square
      hex: "#303133"
    - link: https://linkedin.com/in/claytonrberger
      icon: fab fa-linkedin
      hex: "#0077b5"
    - link: https://github.com/hipperger
      icon: fab fa-github-square
      hex: "#303133"
  - name: Nai Obeid
    title: Compliance &amp; Design Specialist
    email: nai@austincodingacademy.com
    bio: "I'm a graphic designer from Lebanon. I moved here 9 years ago for a new adventure and I've been lucky to call Austin home since. When I'm not at work, I'm usually at one of Austin's many amazing coffee shops, making art or planning my next trip or both.
        Creating beautiful things is my passion. Being at ACA allows me to do what I love everyday, surrounded by the best team."
    links:
    - link: mailto:nai@austincodingacademy.com
      icon: fas fa-envelope-square
      hex: "#303133"
    - link: https://naio-experimental.tumblr.com/
      icon: fas fa-external-link-square-alt
      hex: "#303133"
    - link: https://www.linkedin.com/in/dotthenai/
      icon: fab fa-linkedin
      hex: "#0077b5"
    - link: https://www.instagram.com/naio.design/
      icon: fab fa-instagram
      hex: "#f00075"
  - name: Zecharias Mengis
    title: Digital Marketing Specialist
    email: zech@austincodingacademy.com
    bio: "I'm Zech, the marketing lead at Austin Coding Academy. I graduated from Northwestern University in 2018 and my continued passion for learning led me to move to Austin after graduation to join a marketing apprenticeship program. In addition to spending my evenings developing my marketing skills, I'm also currently taking ACA's Full Stack JavaScript class. Outside of work I love watching and playing soccer, reading about tech and business, and traveling!"
    links:
    - link: mailto:zech@austincodingacademy.com
      icon: fas fa-envelope-square
      hex: "#303133"
    - link: https://www.linkedin.com/in/zechariasmengis/
      icon: fab fa-linkedin
      hex: "#0077b5"
    - link: https://www.instagram.com/themengiskhan/
      icon: fab fa-instagram
      hex: "#f00075"
  - name: Georgina Elizondo Griffin
    title: Admissions Representative
    email: georgina@austincodingacademy.com
    bio: "I moved to the States from Mexico when I was 3 years old, and have grown up in Texas ever since. I grew up with a lot of travel and adventure and was taught by my father how to ski and scuba dive. I graduated from UT Austin in 2015, married a software engineer and now am a mom of a needy dog and an ambivalent cat. I'm fascinated by the tech scene in Austin and love the opportunity to collaborate with innovative people and teams. I'm happy to be working with ACA and contributing to this amazing and supportive community!"
    links:
    - link: mailto:georgina@austincodingacademy.com
      icon: fas fa-envelope-square
      hex: "#303133"
    - link: https://www.linkedin.com/in/georgina-elizondo/
      icon: fab fa-linkedin
      hex: "#0077b5"
  - name: Charles Cole
    title: Junior Web Developer
    email: charcole@protonmail.com
    bio: "I grew up in Austin and love it here. In 2014, I graduated from Southwestern University with a BA in Classical Greek. From classes under the Parthenon to farming in Costa Rica, I have been fortunate to be able to bounce around a lot, and I love going to new places and trying new things. Since I decided to enroll with ACA, I haven't looked back for a moment. Being able to build amazing new things that help people and exercise my creativity makes every day exciting!"
    links:
    - link: mailto:charcole@protonmail.com
      icon: fas fa-envelope-square
      hex: "#303133"
    - link: https://linkedin.com/in/char-cole
      icon: fab fa-linkedin
      hex: "#0077b5"
    - link: https://github.com/char-cole
      icon: fab fa-github-square
      hex: "#303133"
---

<div class="container mt-90 py-5">
  <h2 class="font-family-alt font-weight-bold text-center display-4 my-10">
    Meet the Team
  </h2>
  <div class="row my-5 mx-auto d-flex justify-content-start">
    {% for profile in page.profiles %}
      <div class="col-12 col-lg-6 my-5">
        <div class="row">
          <div class="col">
            <div>
              <!-- htmllint preset="none" -->
              <amp-img
              width="200"
              height="200"
              layout="responsive"
              class="img-fluid w-100 rounded"
              src="https://gravatar.com/avatar/{{ profile.email | downcase | md5 }}?s=200&r=pg"
              alt="{{ profile.name }}"
              ></amp-img>
              <!-- htmllint preset="$previous" -->
            </div>
            <div class="card border-0 shadow-sm mt-n6 mx-3">
              <div class="card-body text-center p-2">
                <h3 class="h6">{{ profile.name }}</h3>
                <h4 class="size-14">{{ profile.title }}</h4>
                <ul class="list-inline d-flex align-items-center justify-content-center flex-wrap">
                  {% for link in profile.links %}
                    <li class="list-inline-item">
                      <a href="{{ link.link }}" target="_blank" rel="noopener">
                        <!-- htmllint preset="none" -->
                        <i style="color: {{ link.hex }}" class="display-7 {{ link.icon }}"></i>
                        <!-- htmllint preset="$previous" -->
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
              <p class="size-14">{{ profile.bio }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>