---
layout: default
permalink: /javascript/
---

{% include header.html %} {% include /tracks/heroJS.html %}
<div class="my-10"></div>
<section class="container-fluid">
  {% include /tracks/curriculumJS.html %}
  <div class="my-10"></div>
  <div class="row">
    <div class="col col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
      <a href="" class="btn-primary btn primary-gradient hover-scale-button btn-block">
        Download Course Guide
      </a>
    </div>
  </div>

  <div class="my-10"></div>
  {% include /tracks/comparisonCardsJS.html %}

  <div class="container">
    <h4 class="font-family-alt text-center font-weight-bold">
      Need Help With Tuition?
    </h4>
    <a class="text-center" href="/financing/">
      <h5>
        View Financing Options
        <span class="fas fa-arrow-right small"></span></h5
    ></a>
  </div>
  <div class="my-10"></div>
  {% include /tracks/courseDatesJS.html %}
  <div class="floating-button">
    <a href="/apply">
      <div class="wide-button cta-button primary-gradient hover-scale-button">
        Apply
      </div>
    </a>
  </div>

{% include campusLocations.html %}
  <div class="my-10"></div>
  <h2 class="font-family-alt font-weight-bold text-center display-4">
    Still Have Questions?
  </h2>
  <div style="max-width:500px; margin: 0 auto;">
    <p class="size-20 mb-4 text-center">
      From choosing the right course to understanding course details, we're here
      to help.
    </p>
    {% include contactForm.html %}
  </div>
  <div class="my-10"></div>
</section>

{% include footer.html %}
