---
layout: default
permalink: "/tutors/"
title: Tutors
description: ''
redirect_from: []
icons:
- rocketchat: fab fa-rocketchat
- email: fas fa-envelope
- discourse: fab fa-discourse
- linkedin: fab fa-linkedin
- website: fas fa-globe
- github: fab fa-github
tutors:
- name: Eric Barrs
  skills: Web 101, JS 211, JS 311
  email: eric@austincodingacademy.com
  calendar: https://acaappointment.as.me/?calendarID=2522414
  virtual: https://meet.google.com/enj-jjez-zcw
  rocketchat: https://chat.austincodingacademy.com/direct/ericbarrs-913
- name: Cynthia Williams
  skills: Web 101, JS 211
  email: cynthia@austincodingacademy.com
  calendar: https://acaappointment.as.me/?calendarID=2620427
  virtual: https://meet.google.com/qio-pvbk-dfx
  rocketchat: https://chat.austincodingacademy.com/direct/cynthiawilliams-967
- name: Todd Frederking
  skills: Web 101, JS 211, JS 311
  email: toddfrederking@gmail.com
  calendar: https://acaappointment.as.me/schedule.php?calendarID=2705629
  virtual: https://meet.google.com/trg-zcnw-mhj
  rocketchat: https://chat.austincodingacademy.com/direct/toddfrederking-797
- name: Sarah Cheatham
  skills: Web 101, JS 211, JS 311
  email: sarah.cheatham14@gmail.com
  calendar: https://acaappointment.as.me/schedule.php?calendarID=2705621
  virtual: https://meet.google.com/tqy-mboo-gkt
  rocketchat: https://chat.austincodingacademy.com/direct/sarahcheatham-955
- name: Sean Philippi
  skills: Web 101, JS 211, JS311
  email: sean.philippi@gmail.com
  calendar: https://acaappointment.as.me/schedule.php?calendarID=2705627
  virtual: https://meet.google.com/sas-cnup-mce
  rocketchat: https://chat.austincodingacademy.com/direct/sean.philippigmail.com
- name: Keith Murgic
  skills: JS 211, JS 311; Meet at North
  email: keithmurgic@gmail.com
  calendar: https://acaappointment.as.me/schedule.php?calendarID=2705620
  virtual: https://meet.google.com/dmx-hocp-jds
  rocketchat: https://chat.austincodingacademy.com/direct/keithdybvig-945
- name: Lisa Umhey
  skills: Web 101, C# 221, .Net 321
  email: lisa.umhey@gmail.com
  calendar: https://acaappointment.as.me/schedule.php?calendarID=2705631
  virtual: https://meet.google.com/ztd-zaxv-jjn
  rocketchat: https://chat.austincodingacademy.com/direct/lisaumhey-973
- name: Eddie Crochet
  skills: Web 101, C# 221, .Net 321
  email: eddiecrochet1994@gmail.com
  calendar: https://acaappointment.as.me/schedule.php?calendarID=2705640
  virtual: https://meet.google.com/muz-nsbp-czb
  rocketchat: https://chat.austincodingacademy.com/direct/eddiecrochet-939
- name: Justin Lyle
  skills: Web 101, C# 221, .NET 321
  email: justin@austincodingacademy.com
  calendar: https://acaappointment.as.me/?calendarID=2550348
  virtual: https://meet.google.com/fce-bbqd-buo
  rocketchat: https://chat.austincodingacademy.com/direct/justinlyle-814
- name: Andrew Lee
  skills: Web 101, JS 211, JS 311
  email: andrew@austincodingacademy.com
  calendar: https://acaappointment.as.me/?calendarID=2620430
  virtual: https://meet.google.com/cqc-qach-mwk
  rocketchat: https://chat.austincodingacademy.com/direct/andrewlee-810
- name: Lillian Situ
  skills: Full Stack Graduate Mentor (GRADS ONLY)
  email: lillian@austincodingacademy.com
  calendar: https://acaappointment.as.me/?calendarID=2550374
  virtual: https://meet.google.com/zhe-ixfg-snm
  rocketchat: https://chat.austincodingacademy.com/direct/lillian_situ
- name: Matt Viteri
  skills: Full Stack Graduate Mentor (GRADS ONLY)
  email: matt@austincodingacademy.com
  calendar: https://acaappointment.as.me/?calendarID=2550361
  virtual: https://meet.google.com/nbk-vphc-xmk
  rocketchat: https://chat.austincodingacademy.com
- name: Matt Cameron
  skills: C# &amp; JS Full Stack Graduate Mentor (GRADS ONLY)
  email: cameron.matt@gmail.com
  calendar: https://acaappointment.as.me/?calendarID=2550362
  virtual: https://meet.google.com/zxc-hkry-ckr
  rocketchat: https://chat.austincodingacademy.com/direct/matthewcameron-917
- name: Steven Fiero
  skills: Full Stack Graduate Mentor (GRADS ONLY)
  email: stevensfiero@gmail.com
  calendar: https://acaappointment.as.me/?calendarID=2717635
  virtual: https://meet.google.com/kdd-zxax-xth
  rocketchat: https://chat.austincodingacademy.com/direct/steven-fiero
---
<div class="container d-flex justify-content-center">
  <div class="card-deck d-block d-md-flex mt-5 row-eq">
    <!-- Tutors -->
    {% for tutor in page.tutors %}
      <div class="card mb-3 mb-5">
        <div class="card-body text-center p-0">
          <div class="py-4 px-6 equalizer d-flex flex-column justify-content-between">
            <!-- Team -->
            <div class="mb-4">
              <div class="position-relative u-lg-avatar mx-auto mb-3">
                <amp-img
                  width="80"
                  height="80"
                  layout="fixed"
                  class="u-lg-avatar rounded-circle"
                  src="http://gravatar.com/avatar/{{ tutor.email | downcase | md5 }}?s=144"
                  alt="{{tutor.name}}"
                ></amp-img>
              </div>
              <h2 class="h6 mb-0">{{tutor.name}}</h2>
              <p class="small">{{tutor.location}}</p>
              <p class="small">{{tutor.skills}}</p>
            </div>
            <!-- End Team -->

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              {% for icon_hash in page.icons %}
                {% for icon in icon_hash %}
                  {% assign key = icon[0] %}
                  {% if tutor[key] %}
                    <li class="list-inline-item">
                      <!-- htmllint preset="none" -->
                      <a class="u-icon u-icon--sm u-icon-secondary--air rounded-circle" href="{% if key == 'email' %}mailto:{% endif %}{{ tutor[key] }}" target="_blank" rel="noopener">
                        <span class="{{ icon[1] }} u-icon__inner"></span>
                      </a>
                      <!-- htmllint preset="$previous" -->
                    </li>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </ul>
            <!-- End Social Networks -->
          </div>

          <hr class="my-0">

          <div class="py-2">
            <!-- htmllint preset="none" -->
            <a class="{% unless tutor.calendar %} disabled {% endunless %} btn btn-sm u-btn-primary--air transition-3d-hover" href="{{tutor.calendar}}" target="_blank">
            <!-- htmllint preset="$previous" -->
              <span class="far fa-calendar-alt mr-2"></span>
              Schedule Tutoring
            </a>
          </div>
          <div class="py-2">
            <!-- htmllint preset="none" -->
            <a class="{% unless tutor.virtual %} disabled {% endunless %} btn btn-sm u-btn-primary--air transition-3d-hover" href="{{tutor.virtual}}" target="_blank">
            <!-- htmllint preset="$previous" -->
              <span class="fa fa-chalkboard-teacher mr-2"></span>
              Virtual Classroom
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- End Tutors -->
  </div>
</div>