---
layout: default
permalink: /tutors/
title: Tutors | Austin Coding Academy
description: Schedule a time to meet with a tutor to keep yourself on track!
head: >
  <style>
    .card-deck .card {
      min-width: 260px;
      max-width: 345px;
    }
  </style>
body: >
icons:
  - rocketchat: fab fa-rocketchat
  - email: fas fa-envelope
  - discourse: fab fa-discourse
  - linkedin: fab fa-linkedin
  - website: fas fa-globe
  - github: fab fa-github
---
<div class="container d-flex justify-content-center">
  <div class="card-deck d-block d-md-flex mt-5 row-eq">
    <!-- Tutors -->
    {% for tutor in site.data.tutors %}
      <div class="card mb-3 mb-5">
        <div class="card-body text-center p-0">
          <div class="py-4 px-6 equalizer d-flex flex-column justify-content-between">
            <!-- Team -->
            <div class="mb-4">
              <div class="position-relative u-lg-avatar mx-auto mb-3">
                <img class="u-lg-avatar rounded-circle" src="http://gravatar.com/avatar/{{ tutor.email | downcase | md5 }}?s=144" alt="{{tutor.name}}">
              </div>
              <h2 class="h6 mb-0">{{tutor.name}}</h2>
              <p class="small">{{tutor.location}}</p>
              <p class="small">{{tutor.skills}}</p>
            </div>
            <!-- End Team -->

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              {% for icon_hash in page.icons %}
                {% for icon in icon_hash %}
                  {% assign key = icon[0] %}
                  {% if tutor[key] %}
                    <li class="list-inline-item">
                      <a class="u-icon u-icon--sm u-icon-secondary--air rounded-circle" href="{% if key == 'email' %}mailto:{% endif %}{{ tutor[key] }}" target="_blank">
                        <span class="{{ icon[1] }} u-icon__inner"></span>
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </ul>
            <!-- End Social Networks -->
          </div>

          <hr class="my-0">

          <div class="py-2">
            <a class="{% unless tutor.calendar %} disabled {% endunless %} btn btn-sm u-btn-primary--air transition-3d-hover" href="{{tutor.calendar}}" target="_blank">
              <span class="far fa-calendar-alt mr-2"></span>
              Schedule Tutoring
            </a>
          </div>
          <div class="py-2">
            <a class="{% unless tutor.virtual %} disabled {% endunless %} btn btn-sm u-btn-primary--air transition-3d-hover" href="{{tutor.virtual}}" target="_blank">
              <span class="fa fa-chalkboard-teacher mr-2"></span>
              Virtual Classroom
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- End Tutors -->
  </div>
</div>
