---
layout: default
permalink: "/tutors/"
title: Tutors
description: ''
redirect_from: []
icons:
- rocketchat: fab fa-rocketchat
- email: fas fa-envelope
- discourse: fab fa-discourse
- linkedin: fab fa-linkedin
- website: fas fa-globe
- github: fab fa-github
tutors:
- name: Eric Barrs
  skills: Web 101, JS 211, JS 311
  email: eric@austincodingacademy.com
  location: North Campus
  calendar: https://acaappointment.as.me/?calendarID=2522414
  virtual: https://meet.google.com/enj-jjez-zcw
  rocketchat: https://chat.austincodingacademy.com/direct/ericbarrs-913
- name: Sarah Cheatham
  skills: Web 101, JS 211, JS 311
  email: sarah.cheatham14@gmail.com
  location: 
  calendar: https://acaappointment.as.me/schedule.php?calendarID=2705621
  virtual: https://meet.google.com/tqy-mboo-gkt
  rocketchat: https://chat.austincodingacademy.com/direct/sarahcheatham-955
- name: Charles Cole
  skills: Web 101, JS 211, JS 311
  email: charles@austincodingacademy.com
  location: North Campus
  calendar: https://acaappointment.as.me/?calendarID=2850726
  virtual: https://meet.google.com/vki-mtiq-auh
  rocketchat: https://chat.austincodingacademy.com/direct/charlescole
- name: Eddie Crochet
  skills: Web 101, C# 221, .Net 321
  email: eddiecrochet1994@gmail.com
  location: North Campus
  calendar: https://acaappointment.as.me/schedule.php?calendarID=2705640
  virtual: https://meet.google.com/muz-nsbp-czb
  rocketchat: https://chat.austincodingacademy.com/direct/eddiecrochet-939
- name: Andrew Lee
  skills: Web 101, JS 211, JS 311
  email: andrew@austincodingacademy.com
  location: 
  calendar: https://acaappointment.as.me/?calendarID=2620430
  virtual: https://meet.google.com/cqc-qach-mwk
  rocketchat: https://chat.austincodingacademy.com/direct/andrewlee-810
- name: Todd Frederking
  skills: Web 101, JS 211, JS 311
  email: toddfrederking@gmail.com
  location: Central Campus
  calendar: https://acaappointment.as.me/schedule.php?calendarID=2705629
  virtual: https://meet.google.com/trg-zcnw-mhj
  rocketchat: https://chat.austincodingacademy.com/direct/toddfrederking-797
- name: Keith Murgic
  skills: JS 211, JS 311 - Meet @North Campus Only
  email: keithmurgic@gmail.com
  location: North Campus
  calendar: https://acaappointment.as.me/schedule.php?calendarID=2705620
  virtual: https://meet.google.com/dmx-hocp-jds
  rocketchat: https://chat.austincodingacademy.com/direct/keithdybvig-945
- name: Sean Philippi
  skills: Web 101, JS 211, JS311
  email: sean.philippi@gmail.com
  location: North Campus
  calendar: https://acaappointment.as.me/schedule.php?calendarID=2705627
  virtual: https://meet.google.com/sas-cnup-mce
  rocketchat: https://chat.austincodingacademy.com/direct/sean.philippigmail.com
- name: Blaise Angoma
  skills: C# Students &amp; JS (Full Stack Grads Only)
  email: angomablaise@gmail.com
  location: 
  calendar: https://acaappointment.as.me/schedule.php?calendarID=2795465
  virtual: meet.google.com/kpz-neek-nsb
  rocketchat: https://chat.austincodingacademy.com/direct/blaiseangoma-1285
- name: Matt Cameron
  skills: C# &amp; JS Full Stack Graduate Mentor (GRADS ONLY)
  email: cameron.matt@gmail.com
  location: 
  calendar: https://acaappointment.as.me/?calendarID=2550362
  virtual: https://meet.google.com/zxc-hkry-ckr
  rocketchat: https://chat.austincodingacademy.com/direct/matthewcameron-917
- name: Olamide Kolawole
  skills: C# Students and Grads &amp; JS Grads Only
  email: olamshin@gmail.com
  location: 
  calendar: https://acaappointment.as.me/?calendarID=2803756
  virtual: meet.google.com/mjm-tgxu-fut
  rocketchat: https://chat.austincodingacademy.com/direct/olamidekolawole-1293
- name: Lillian Situ
  skills: Full Stack Graduate Mentor (GRADS ONLY)
  email: lillian@austincodingacademy.com
  location: 
  calendar: https://acaappointment.as.me/?calendarID=2550374
  virtual: https://meet.google.com/zhe-ixfg-snm
  rocketchat: https://chat.austincodingacademy.com/direct/lillian_situ
- name: Greg Swan
  skills: JS Grads Only
  email: greg.c.swan@gmail.com
  location: 
  calendar: https://acaappointment.as.me/?calendarID=2803741
  virtual: https://meet.google.com/fce-bbqd-buo
  rocketchat: https://chat.austincodingacademy.com/direct/greg.swan

---
<div class="container mt-90 py-5">
  <div class="text-center">
    <h3 class="font-weight-bold">
      Group Coding &amp; Tutoring Sessions
    </h3>
    <h3>
      Every Weekend <a href="https://www.google.com/maps/place/314+E+Highland+Mall+Blvd,+Austin,+TX+78752/@30.3290949,-97.7136072,17z/data=!3m1!4b1!4m5!3m4!1s0x8644ca3c817930a1:0xdcef6c070dfbaef7!8m2!3d30.3290949!4d-97.7114185">@<span class="link-underlined">North Campus</span></a>
    </h3>
    <h4>
      Saturdays: 10am - 6pm
      <br/>
      Sundays: 3pm - 6pm
    </h4>
  </div>
  <div class="row mt-5">
    <!-- Tutors -->
    {% for tutor in page.tutors %}
      <div class="col-6 col-md-3 mb-3">
        <div class="card text-center">
          <div class="py-4 px-6 d-flex flex-column justify-content-between">
            <!-- Team -->
            <div>
              <div class="mx-auto mb-3">
                <!-- htmllint preset="none" -->
                <amp-img
                  width="100px"
                  height="100px"
                  layout="fixed"
                  class="rounded-circle"
                  src="http://gravatar.com/avatar/{{ tutor.email | downcase | md5 }}?s=100&r=pg&d=retro"
                  alt="{{tutor.name}}"
                ></amp-img>
                <!-- htmllint preset="$previous" -->
              </div>
              <h2 class="h6 mb-0">{{tutor.name}}</h2>
              <p class="small m-0">{{tutor.skills}}</p>
            </div>
            <!-- End Team -->

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              {% for icon_hash in page.icons %}
                {% for icon in icon_hash %}
                  {% assign key = icon[0] %}
                  {% if tutor[key] %}
                    <li class="list-inline-item">
                      <!-- htmllint preset="none" -->
                      <a class="u-icon u-icon--sm u-icon-secondary--air rounded-circle" href="{% if key == 'email' %}mailto:{% endif %}{{ tutor[key] }}" target="_blank" rel="noopener">
                        <span class="{{ icon[1] }} u-icon__inner"></span>
                      </a>
                      <!-- htmllint preset="$previous" -->
                    </li>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </ul>
            <!-- End Social Networks -->
          </div>

          <hr class="my-0">

          <div class="py-2">
            <!-- htmllint preset="none" -->
            <a class="{% unless tutor.calendar %} disabled {% endunless %} btn btn-sm u-btn-primary--air transition-3d-hover" href="{{tutor.calendar}}" target="_blank">
            <!-- htmllint preset="$previous" -->
              <span class="far fa-calendar-alt mr-2"></span>
              Schedule Tutoring
            </a>
          </div>
          <div class="py-2">
            <!-- htmllint preset="none" -->
            <a class="{% unless tutor.virtual %} disabled {% endunless %} btn btn-sm u-btn-primary--air transition-3d-hover" href="{{tutor.virtual}}" target="_blank">
            <!-- htmllint preset="$previous" -->
              <span class="fa fa-chalkboard-teacher mr-2"></span>
              Virtual Classroom
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- End Tutors -->
  </div>
</div>