<form
  action-xhr="{{site.form_url}}/{{site.hubspot_portal_id}}/33cc0e23-1881-4874-a1d0-2c0307f20e41"
  method="POST"
  target="_top"
>
  <div class="form-container">
    <input name="lifecyclestage" type="hidden" value="lead">
    <input name="hs_lead_status" type="hidden" value="NEW">
    <input name="page_name" type="hidden" value="{{page.title}}">
    <input name="page_uri" type="hidden" value="{{site.baseurl}}{{site.url}}{{page.url}}">
    <input name="hutk" type="hidden" value="">
    <div class="row center-form">
      <!-- Input -->
      <div class="col-sm-6 mb-6">
        <div class="js-form-message">
          <label for="first-name" class="form-label">
            First Name <span class="text-danger">*</span>
          </label>

          <input
            id="first-name"
            type="text"
            class="form-control"
            name="firstname"
            placeholder="First Name"
            aria-label="Your name"
            required
            data-msg="Please enter your first name."
            data-error-class="u-has-error"
            data-success-class="u-has-success"
          />
        </div>
      </div>
      <!-- End Input -->

      <!-- Input -->
      <div class="col-sm-6 mb-6">
        <div class="js-form-message">
          <label for="last-name" class="form-label">
            Last Name <span class="text-danger">*</span>
          </label>

          <input
            id="last-name"
            type="text"
            class="form-control"
            name="lastname"
            placeholder="Last Name"
            aria-label="Your last name"
            required
            data-msg="Please enter your last name."
            data-error-class="u-has-error"
            data-success-class="u-has-success"
          />
        </div>
      </div>
      <!-- End Input -->

      <!-- Input -->
      <div class="col-sm-6 mb-6">
        <div class="js-form-message">
          <label for="email" class="form-label">
            Email <span class="text-danger">*</span>
          </label>

          <input
            id="email"
            type="email"
            class="form-control"
            name="email"
            placeholder="Email"
            aria-label="Your email address"
            required
            data-msg="Please enter a valid email address."
            data-error-class="u-has-error"
            data-success-class="u-has-success"
          />
        </div>
      </div>
      <!-- End Input -->

      <!-- Input -->
      <div class="col-sm-6 mb-6">
        <div class="js-form-message">
          <label for="phone" class="form-label">
            Phone <span class="text-danger">*</span>
          </label>

          <input
            id="phone"
            type="text"
            class="form-control"
            name="phone"
            placeholder="Phone"
            aria-label="Your phone number"
            required
            data-msg="Please enter your phone number."
            data-error-class="u-has-error"
            data-success-class="u-has-success"
          />
        </div>
      </div>
      <!-- End Input -->

      <!-- Input -->
      <div class="js-form-message mb-6 col-sm-12">
        <label for="message" class="form-label">
          Message <span class="text-danger">*</span>
        </label>

        <div class="input-group">
          <textarea
            id="message"
            class="form-control"
            rows="4"
            name="message"
            placeholder="Enter your questions or comments here"
            aria-label="Enter your questions or comments here"
            required
            data-msg="Please enter a message."
            data-error-class="u-has-error"
            data-success-class="u-has-success"
          ></textarea>
        </div>
      </div>
      <!-- End Input -->

      <div class="text-center col-sm-12">
        <button
          type="submit"
          class="text-white btn send-button transition-3d-hover mb-4"
        >
          Send
        </button>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div submit-error>
      <template type="amp-mustache">
        <p class="text-danger">There was an error with your request. Please try again.</p>
      </template>
    </div>
  </div>
</form>
