<!-- CTA Section -->
<div id="cta-section" class="svg-preloader position-relative gradient-half-primary-v1 text-center z-index-2 overflow-hidden">
    <div class="container space-2">
        <h3 class="h2 text-info font-weight-semi-bold mb-3">Ready to get started?</h3>
        <p class="lead text-white mb-5">
        <span class="font-weight-semi-bold">Front Template</span> – the simplest and fastest way to build sites.
        </p>
        <a class="btn btn-white btn-wide transition-3d-hover" href="#">Start Free Trial</a>
    </div>

    <!-- SVG Component -->
    <figure class="position-absolute top-0 left-0 w-100 max-width-27 z-index-n1">
        <img class="js-svg-injector" src="https://austincodingacademy.github.io/front/assets/svg/components/abstract-shapes-8.svg" alt="Image Description"
            data-parent="#cta-section">
    </figure>
    <!-- End SVG Component -->

    <!-- SVG Component -->
    <figure class="position-absolute bottom-0 right-0 w-100 max-width-27 z-index-n1">
        <img class="js-svg-injector" src="https://austincodingacademy.github.io/front/assets/svg/components/abstract-shapes-5.svg" alt="Image Description"
            data-parent="#cta-section">
    </figure>
    <!-- End SVG Component -->
</div>
<!-- End CTA Section -->