<div class="container text-center narrow">
  <h2 style="max-width: 500px;" class="mx-auto mb-5 display-5 font-family-alt font-weight-bold">
    Learn at One of Our Two Locations
  </h2>

  <div class="row">
    <div class="col-12 col-md">
      <h6 class="size-20 font-weight-bold">
        Downtown
      </h6>
      <p>
        Capital Factory, 701 Brazos St, Ste 1616,<br>Austin, TX 78701
      </p>
      <div style="width: 100%; height: 242px; background-color: #2d2f77;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.884212774376!2d-97.74275278540087!3d30.26888011489123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b4e31ad087bd%3A0xd6644ce54fe2531c!2sAustin+Coding+Academy!5e0!3m2!1sen!2sus!4v1547074227021"
          width="100%" height="242" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-12 col-md">
      <h6 class="size-20 font-weight-bold">
        North Austin - Highland
      </h6>
      <p>
        314 E Highland Mall Blvd, Ste 114,<br>Austin, TX 78752
      </p>
      <div style="width: 100%; height: 242px; background-color: #2d2f77;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110200.41214904394!2d-97.78151655754779!3d30.32926183845195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644cba00a32dc3d%3A0x8807e75b730c450f!2sNorth+Austin+Coding+Academy!5e0!3m2!1sen!2sus!4v1547074172078"
          width="100%" height="242" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>