<div class="container text-center narrow">
    <h2 style="max-width: 500px;" class=" mx-auto mb-5 display-5 font-family-alt font-weight-bold">
        Learn at One of Our Two Locations
    </h2>

    <div class="row">
        <div class="col-12 col-md">
            <h6 class="size-20 font-weight-bold">
                Downtown
            </h6>
            <p>
                Capital Factory, 701 Brazos St, Ste 1616,<br>Austin, TX 78701
            </p>
            <div style="width: 100%; height: 242px; background-color: #2d2f77;"></div>
        </div>
        <div class="col-12 col-md">
            <h6 class="size-20 font-weight-bold">
                Central Austin
            </h6>
            <p>
                314 E Highland Mall Blvd, Ste 114,<br>Austin, TX 78752
            </p>
            <div style="width: 100%; height: 242px; background-color: #2d2f77;"></div>
        </div>
    </div>
</div>