<!-- Clients Section -->
<div class="d-flex justify-content-center bg-primary p-5">
        <div class="mx-4">
          <img class="u-clients" src="https://austincodingacademy.github.io/front/assets/svg/clients-logo/slack-white.svg" alt="Image Description">
        </div>
        <div class="mx-4">
          <img class="u-clients" src="https://austincodingacademy.github.io/front/assets/svg/clients-logo/google-white.svg" alt="Image Description">
        </div>
        <div class="mx-4">
          <img class="u-clients" src="https://austincodingacademy.github.io/front/assets/svg/clients-logo/spotify-white.svg" alt="Image Description">
        </div>
      </div>
      <!-- End Clients Section -->