<!-- Pricing Section -->
<div class="container">
  <div class="w-lg-80 mx-lg-auto">
    <div class="card-deck d-flex justify-content-center align-items-center card-md-gutters-3 mb-5">
      <!-- Pricing -->
      <div class="card card-frame-highlighted text-center mb-5 mb-md-0">
        <!-- Header -->
        <header class="card-header p-5">
          <h4 class="h5 text-primary">Full {{page.track}} Track</h4>
          <div>
            <span class="h1 text-default font-weight-medium">
              <span class="align-top font-size-2">$</span>10,960
            </span>
          </div>
        </header>
        <!-- End Header -->

        <!-- Content -->
        <div class="card-body p-5 text-center">
          <p>
            Save $1,000 off the cost of individual classes and go from complete
            beginner to job-ready in just 36 weeks with our full {{page.track}}
            Track!
          </p>
          {% include btn-apply.html %}
        </div>
        <!-- End Content -->
      </div>
      <!-- End Pricing -->

      <!-- Pricing -->
      <div class="card text-center">
        <!-- Header -->
        <header class="card-header p-5">
          <h4 class="h5 text-success">Single Class</h4>
          <div>
            <span class="h1 text-default font-weight-medium">
              <span class="align-top font-size-2">$</span>2,990
            </span>
          </div>
        </header>
        <!-- End Header -->

        <!-- Content -->
        <div class="card-body p-5 text-center">
          <p>
            Level-up your career and apply to one of our single classes. You can
            learn Front-End, {{page.skills}} without completing the entire
            track. <br />
          </p>
          {% include btn-apply.html %}
        </div>
        <!-- End Content -->
      </div>
      <!-- End Pricing -->
    </div>
  </div>
</div>
<!-- End Pricing Section -->
