<head>
    <style>
        .center-button {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<!-- Pricing Section -->
<div class="container">
  <div class="w-lg-65 mx-lg-auto">
    <div class="card-deck d-block d-md-flex card-md-gutters-3 mb-5">
      <!-- Pricing -->
      <div class="card text-center mb-5 mb-md-0">
        <!-- Header -->
        <header class="card-header p-5">
          <h4 class="h5 text-success">Full JavaScript Track</h4>
          <div>
            <span class="h1 text-dark font-weight-medium">
              <span class="align-top font-size-2">$</span>10,990
            </span>
          </div>
        </header>
        <!-- End Header -->

        <!-- Content -->
        <div class="card-body p-5">
            <p>
                Go from complete begineer to job ready in just 30 weeks with our full JavaScript Track.
            </p>
            <a class="center-button" href="/apply">
                <div class="wide-button cta-button primary-gradient hover-scale-button">
                    Apply Now!
                </div>
            </a>
        </div>
        <!-- End Content -->
      </div>
      <!-- End Pricing -->

      <!-- Pricing -->
      <div class="card card-frame-highlighted text-center">
        <!-- Header -->
        <header class="card-header p-5">
          <h4 class="h5 text-primary">Single Courses*</h4>
          <div>
            <span class="h1 text-dark font-weight-medium">
              <span class="align-top font-size-2">$</span>2,990
            </span>
          </div>
        </header>
        <!-- End Header -->

        <!-- Content -->
        <div class="card-body p-5">
            <p>
                Level-up your career and apply to one of our single courses in either Front or Back-end JS*
            </p>
            <a class="center-button" href="/apply">
                <div class="wide-button cta-button primary-gradient hover-scale-button">
                    Apply Now!
                </div>
            </a>
            <p class="small">
                *Students must first test out of Intro classes
            </p>
        </div>
        <!-- End Content -->
      </div>
      <!-- End Pricing -->
    </div>
  </div>
</div>
<!-- End Pricing Section -->