<!-- Pricing Section -->
<div class="mb-5">
  <div class="w-lg-80 mx-lg-auto">
    <div class="card-deck d-flex justify-content-center align-items-center card-md-gutters-3 mb-5">
      <!-- Pricing -->
      <div class="card shadow-black text-center mb-5 mb-md-0">
        <!-- Header -->
        <header class="card-header p-4">
          <div class="shadow-dark rounded p-2">
            <!-- htmllint preset="none" -->
            <h5 class="text-default">Full {{page.track}} Track</h5>
            <!-- htmllint preset="$previous" -->
            <div>
              <span class="h1 text-default font-weight-medium">
                <span class="align-top font-size-2">$</span>10,960
              </span>
            </div>
          </div>
        </header>
        <!-- End Header -->

        <!-- Content -->
        <div class="card-body p-5 text-center">
          <p>
            Save $1,000 off the cost of individual classes and go from complete
            beginner to job-ready in just 36 weeks with our full {{page.track}}
            Track!
          </p>
        </div>
        <!-- End Content -->
      </div>
      <!-- End Pricing -->

      <!-- Pricing -->
      <div class="card shadow-black text-center">
        <!-- Header -->
        <header class="card-header p-5">
          <h5 class="text-default">Single Class</h5>
          <div>
            <span class="h1 text-default font-weight-medium">
              <span class="align-top font-size-2">$</span>2,990
            </span>
          </div>
        </header>
        <!-- End Header -->

        <!-- Content -->
        <div class="card-body p-5 text-center">
          <p>
            Level-up your career and apply to one of our single classes. You can
            learn Front-End, {{page.skills}} without completing the entire
            track. <br />
          </p>
        </div>
        <!-- End Content -->
      </div>
      <!-- End Pricing -->
    </div>
  </div>
</div>
<!-- End Pricing Section -->
