<form class="js-validate">
    <div class="row">
        <!-- Input -->
        <div class="col-sm-6 mb-6">
            <div class="js-form-message">
            <label class="formLabel">
                Name
                <span class="text-danger">*</span>
            </label>
    
            <input type="text" class="form-control" name="name" placeholder="Your name" aria-label="Your name" required
                    data-msg="Please enter your name."
                    data-error-class="u-has-error"
                    data-success-class="u-has-success">
            </div>
        </div>
        <!-- End Input -->
    
        <!-- Input -->
        <div class="col-sm-6 mb-6">
            <div class="js-form-message">
            <label class="formLabel">
                Email
                <span class="text-danger">*</span>
            </label>
    
            <input type="email" class="form-control" name="email" placeholder="Your email address" aria-label="Your email address" required
                    data-msg="Please enter a valid email address."
                    data-error-class="u-has-error"
                    data-success-class="u-has-success">
            </div>
        </div>
        <!-- End Input -->
    
        <!-- Input -->
        <div class="js-form-message mb-6 col-sm-12">
            <label class="formLabel">
                Message
                <span class="text-danger">*</span>
            </label>
        
            <div class="input-group">
                <textarea class="form-control" rows="4" name="text" placeholder="Enter your questions or comments here" aria-label="Enter your questions or comments here" required
                        data-msg="Please enter a message."
                        data-error-class="u-has-error"
                        data-success-class="u-has-success"></textarea>
            </div>
        </div>
        <!-- End Input -->
    
        <div class="text-center col-sm-12">
            <button type="submit" class="whiteText btn sendButton transition-3d-hover mb-4">
                Send
            </button>
        </div>
    </div>
</form>