<!-- htmllint preset="none" -->
<div id="hero-{{ page.hero }}" class="hero py-5 py-md-11">
<!-- htmllint preset="$previous" -->
  <h1 class="mt-10 mb-5 mb-md-10 text-white font-family-alt font-weight-bold display-4 text-center">
      {{ page.track }} Track
  </h1>
  <p class="text-white text-center mx-auto px-2 mw-600">
    {{ page.hero_text }}
  </p>
</div>

<main>

  {% include observer-and-header-animation.html %}

  <section class="py-5 container">
    {% include curriculum.html %}
  </section>

  <section class="mb-6">
    {% include course-guide-form.html %}
  </section>

  <!-- htmllint preset="none" -->
  <section class="{{page.hero}}-gradient text-white my-5">
  <!-- htmllint preset="$previous" -->
    <div class="container py-11">
      <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
        Take Our Full Track and Save
      </h2>
      {% include comparison-cards.html %}
      {% include tuition-help.html %}
    </div>
  </section>

  <section class="mb-6 py-5">
    <div class="container px-2 p-md-0">
      {% include course-dates.html %}
    </div>
  </section>

  <!-- htmllint preset="none" -->
  <section class="{{page.hero}}-gradient text-white my-5">
  <!-- htmllint preset="$previous" -->
    {% include campus-locations.html %}
  </section>

  <section class="py-5">
    <div class="d-flex flex-column justify-content-center align-items-center mx-auto">
      <h2 class="font-family-alt font-weight-bold text-center display-5">
        Still Have Questions?
      </h2>
      <div class="mw-600 p-2 p-md-0">
        <h5 class="mb-4 text-center">
          From choosing the right course to understanding course details, we're here
          to help.
        </h5>
        {% include contact-form.html %}
      </div>
    </div>
  </section>

  {% for course in page.courses %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Course",
      "name": "{{ course.title }}",
      "courseCode": "{{ course.code }}",
      "description": "{{ course.description }}",
      "hasCourseInstance": [
        {% for section in course.sections %}
        {
          "@type": "CourseInstance",
          "name": "{{ course.title }}",
          "description": "{{ course.description }}",
          "startDate": "{{ section.start }}",
          "endDate": "{{ section.end }}",
          "location": {
            "@type": "Place",
            "name": "{{ section.campus }}",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "{{ section.address }}",
              "addressLocality": "Austin"
            }
          }
        }{% unless section == course.sections.last %},{% endunless %}
        {% endfor %}
      ],
      "provider": {
        "@type": "Organization",
        "name": "Austin Coding Academy",
        "logo": {
          "@type": "ImageObject",
          "url": "{{site.url}}/assets/images/logo-aca.png"
        }
      }
    }
    </script>
  {% endfor %}

</main>