<h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
  Download Our Course Guide
</h2>
<form class="d-flex justify-content-center align-items-center" target="_top" action-xhr="{{site.form_url}}/{{site.hubspot_portal_id}}/702969c4-4c75-4b99-b6d2-59d04d6ebd03"
  method="POST">
  <div class="form-container mw-850 px-5 px-lg-0">
    <input name="lifecyclestage" type="hidden" value="marketingqualifiedlead">
    <input name="downloaded_a_courses_guide" type="hidden" value="true">
    <input name="hs_lead_status" type="hidden" value="NEW">
    <input name="page_name" type="hidden" value="{{page.title}}">
    <input name="page_uri" type="hidden" value="{{site.url}}{{page.url}}">
    <input name="hutk" type="hidden" value="">

    <div class="row center-form">
      <!-- Input -->
      <div class="col-sm-6">
        <div class="form-group">
          <label for="first-name" class="form-label">
            Name <span class="text-red">*</span>
          </label>

          <input id="first-name" type="text" class="form-control" name="firstname" placeholder="Name" aria-label="Your name"
            required data-msg="Please enter your name." data-error-class="u-has-error" data-success-class="u-has-success" />
        </div>
      </div>
      <!-- End Input -->

      <!-- Input -->
      <div class="col-sm-6">
        <div class="form-group">
          <label for="email" class="form-label">
            Email <span class="text-red">*</span>
          </label>

          <input id="email" type="email" class="form-control" name="email" placeholder="Email" aria-label="Your email address"
            required data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success" />
        </div>
      </div>
      <!-- End Input -->
      <div class="col-sm-6 d-flex flex-column justify-content-end">
        {% include referral-question.html %}
      </div>

      <!-- Input -->
      <div class="col-sm-6 d-flex flex-column justify-content-end form-group">
        <label class="form-label" for="best-describes">Which of these best describes you? <span class="text-red">*</span></label>
        <select id="best-describes" name="which_of_these_best_describes_you_" class="form-control" required>
          <option disabled selected value="">Select your answer</option>
          <option value="I'm researching coding bootcamps">I'm researching coding bootcamps</option>
          <option value="I'm teaching myself to code but I'm stuck">I'm teaching myself to code but I'm stuck</option>
          <option value="I'm interested in a career in tech">I'm interested in a career in tech</option>
          <option value="I'm an entrepreneur with an idea">I'm an entrepreneur with an idea</option>
          <option value="I'm looking for a college alternative">I'm looking for a college alternative</option>
          <option value="I want to learn a new skill for my current job">I want to learn a new skill for my current job</option>
        </select>
      </div>
      <!-- End Input -->

      <!-- Input -->
      <div class="col-12 d-flex align-items-end justify-content-center form-group">
        <button type="submit" class="btn btn-round btn-sm-block text-white bg-purple hover-white">
          View Guide
        </button>
      </div>
      <!-- End Input -->
      <div class="col-12 d-flex justify-content-center">
        {% include data-agreement.html %}
      </div>
    </div>
  </div>

  <div class="text-center">
    <div submit-error>
      <template type="amp-mustache">
        <p class="text-red">There was an error with your request. Please try again.</p>
      </template>
    </div>
  </div>
</form>