<h2 class="display-5 mb-5 font-family-alt text-center font-weight-bold">
  Individual Course Dates
</h2>

{% for course in page.courses %}
<div class="mx-auto mb-5">
  <h4>
    {{ course.code }}: <b>{{ course.title }}</b>
  </h4>
  {% for section in course.sections %}
  <div class="row border shadow rounded my-2 align-items-center">
    <div class="col-6 col-md-3 my-4">
      {{ section.start | date: "%b %e" }} - {{ section.end | date: "%b %e" }}
    </div>
    <div class="col-6 col-md-3 my-4">{{ section.weekdays }}</div>
    <div class="col-6 col-md-2 my-4">{{ section.time }}</div>
    <div class="col-6 col-md-4 my-4">{{ section.campus }}</div>
  </div>
  {% endfor %}
</div>
{% endfor %}
