<h2 class="display-5 mt-5 font-family-alt text-center font-weight-bold">Individual Course Dates</h3>

<div class="my-5 container">
    <h4 class="font-weight-bold">WD101 - Intro to Web Development</h4>
    <div class="row border my-2">
        <div class="col-6 col-md my-4">
            Month Day - Month Day
        </div>
        <div class="col-6 col-md my-4">
            Tuesdays & Thursdays
        </div>
        <div class="col-6 col-md my-4">
            6:30pm - 8:00pm
        </div>
        <div class="col-6 col-md my-4">
            Downtown Campus
        </div>
    </div>
    <div class="row border my-2 mb-4">
        <div class="col-6 col-md my-4">
            Month Day - Month Day
        </div>
        <div class="col-6 col-md my-4">
            Tuesdays & Thursdays
        </div>
        <div class="col-6 col-md my-4">
            6:30pm - 8:00pm
        </div>
        <div class="col-6 col-md my-4">
            Downtown Campus
        </div>
    </div>
    <h4 class="font-weight-bold">JS211 - JavaScript Basics</h4>
    <div class="row border my-2">
        <div class="col-6 col-md my-4">
            Month Day - Month Day
        </div>
        <div class="col-6 col-md my-4">
            Tuesdays & Thursdays
        </div>
        <div class="col-6 col-md my-4">
            6:30pm - 8:00pm
        </div>
        <div class="col-6 col-md my-4">
            Downtown Campus
        </div>
    </div>
    <div class="row border my-2 mb-4">
        <div class="col-6 col-md my-4">
            Month Day - Month Day
        </div>
        <div class="col-6 col-md my-4">
            Tuesdays & Thursdays
        </div>
        <div class="col-6 col-md my-4">
            6:30pm - 8:00pm
        </div>
        <div class="col-6 col-md my-4">
            Downtown Campus
        </div>
    </div>
    <h4 class="font-weight-bold">JS311 - Front-end JavaScript</h4>
    <div class="row border my-2">
        <div class="col-6 col-md my-4">
            Month Day - Month Day
        </div>
        <div class="col-6 col-md my-4">
            Tuesdays & Thursdays
        </div>
        <div class="col-6 col-md my-4">
            6:30pm - 8:00pm
        </div>
        <div class="col-6 col-md my-4">
            Downtown Campus
        </div>
    </div>
    <div class="row border my-2 mb-4">
        <div class="col-6 col-md my-4">
            Month Day - Month Day
        </div>
        <div class="col-6 col-md my-4">
            Tuesdays & Thursdays
        </div>
        <div class="col-6 col-md my-4">
            6:30pm - 8:00pm
        </div>
        <div class="col-6 col-md my-4">
            Downtown Campus
        </div>
    </div>
    <h4 class="font-weight-bold">JS411 - Back-end Javascript</h4>
    <div class="row border my-2">
        <div class="col-6 col-md my-4">
            Month Day - Month Day
        </div>
        <div class="col-6 col-md my-4">
            Tuesdays & Thursdays
        </div>
        <div class="col-6 col-md my-4">
            6:30pm - 8:00pm
        </div>
        <div class="col-6 col-md my-4">
            Downtown Campus
        </div>
    </div>
    <div class="row border my-2 mb-4">
        <div class="col-6 col-md my-4">
            Month Day - Month Day
        </div>
        <div class="col-6 col-md my-4">
            Tuesdays & Thursdays
        </div>
        <div class="col-6 col-md my-4">
            6:30pm - 8:00pm
        </div>
        <div class="col-6 col-md my-4">
            Downtown Campus
        </div>
    </div>
    <h4 class="font-weight-bold">JB500 - Job Search Training</h4>
    <div class="row border my-2">
        <div class="col-6 col-md my-4">
            Month Day - Month Day
        </div>
        <div class="col-6 col-md my-4">
            Tuesdays & Thursdays
        </div>
        <div class="col-6 col-md my-4">
            6:30pm - 8:00pm
        </div>
        <div class="col-6 col-md my-4">
            Downtown Campus
        </div>
    </div>
    <div class="row border my-2">
        <div class="col-6 col-md my-4">
            Month Day - Month Day
        </div>
        <div class="col-6 col-md my-4">
            Tuesdays & Thursdays
        </div>
        <div class="col-6 col-md my-4">
            6:30pm - 8:00pm
        </div>
        <div class="col-6 col-md my-4">
            Downtown Campus
        </div>
    </div>
</div>