
<div id="hero-{{ page.hero }}" class="hero py-11">
    <h1 class="text-white font-family-alt font-weight-bold display-4 text-center">
        {{ page.track }} Track
    </h1>
</div>

<main class="container">

  <h2 class="display-6 text-center my-10 text-muted">
    {{ page.overview }}
  </h2>

  {% include_relative partials/curriculum.html %}

  <div class="my-10">
    {% include_relative partials/course-guide-form.html %}
  </div>

  {% include_relative partials/comparison-cards.html %}

  <div class="my-10">
    {% include_relative partials/tuition-help.html %}
  </div>

  {% include_relative partials/course-dates.html %}

  <div class="d-flex justify-content-center my-10">
    {% include_relative partials/btn-apply.html class="btn-wide" %}
  </div>

  {% include_relative partials/campus-locations.html %}

  <div class="container d-flex flex-column justify-content-center mt-10">

    <h2 class="font-family-alt font-weight-bold text-center display-4">
      Still Have Questions?
    </h2>

    <p class="size-20 mb-4 text-center">
      From choosing the right course to understanding course details, we're here
      to help.
    </p>

    {% include_relative partials/contact-form.html %}

  </div>

  <div class="my-10"></div>

  {% for course in page.courses %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Course",
    "name": "{{ course.title }}",
    "courseCode": "{{ course.code }}",
    "description": "{{ course.description }}",
    "hasCourseInstance": [
      {% for section in course.sections %}
      {
        "@type": "CourseInstance",
        "name": "{{ course.title }}",
        "description": "{{ course.description }}",
        "startDate": "{{ section.start }}",
        "endDate": "{{ section.end }}",
        "location": {
          "@type": "Place",
          "name": "{{ section.campus }}",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "{{ section.address }}",
            "addressLocality": "Austin"
          }
        }
      }{% unless section == course.sections.last %},{% endunless %}
      {% endfor %}
    ],
    "provider": {
      "@type": "Organization",
      "name": "Austin Coding Academy",
      "logo": {
        "@type": "ImageObject",
        "url": "{{site.url}}/assets/images/logo-aca.png"
      }
    }
  }
  </script>
  {% endfor %}

</main>