<div class="text-center mx-auto mw-850">
  <h2 class="font-family-alt display-5">Our {{page.track}} Curriculum</h2>
  <p class="mx-auto mb-6 mw-600">
    Our {{page.track}} Track is composed of 5 courses, designed to take you from
    beginner to job-ready in under a year, without having to quit your day job
    or mortgage your future. If you're looking to level-up in your current job,
    you can also apply to take any of these courses individually.
  </p>
</div>

<div class="pl-md-11 mx-auto mw-600">
  {% for course in page.courses %}
    <h4>
      <!-- htmllint preset="none" -->
      <i class="fas fa-circle text-{{page.trackColor}}"></i>
      <!-- htmllint preset="$previous" -->
      {{course.code}}: <b>{{course.title}}</b>
    </h4>
    <ul class="fa-ul">
      {% for item in course.list %}
      <li class="mb-1"><span class="fa-li" ><i class="fas fa-chevron-right"></i></span>{{item}}</li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>