<div style="margin-top: 209px;">
    <h2 class="monsterratBold bottom48 centeredText size45">
        Frequently Asked Questions
    </h2>
    <!-- Basics Accordion -->
    <div class="accordionSection" id="basicsAccordion">
        <!-- Card -->
        <div class="card mb-3">
          <div class="card-header card-collapse" id="basicsHeadingOne">
            <h5 class="mb-0">
              <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3"
                      data-toggle="collapse"
                      data-target="#basicsCollapseOne"
                      aria-expanded="true"
                      aria-controls="basicsCollapseOne">
                    I’m an employer looking to hire some developers, how do I get in touch with you?      
                <span class="card-btn-arrow">
                  <span class="fas fa-arrow-left small"></span>
                </span>
              </button>
            </h5>
          </div>
          <div id="basicsCollapseOne" class="collapse show"
               aria-labelledby="basicsHeadingOne"
               data-parent="#basicsAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
        </div>
        <!-- End Card -->
      
        <!-- Card -->
        <div class="card mb-3">
          <div class="card-header card-collapse" id="basicsHeadingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                      data-toggle="collapse"
                      data-target="#basicsCollapseTwo"
                      aria-expanded="false"
                      aria-controls="basicsCollapseTwo">
                    Who should apply?
                <span class="card-btn-arrow">
                  <span class="fas fa-arrow-left small"></span>
                </span>
              </button>
            </h5>
          </div>
          <div id="basicsCollapseTwo" class="collapse"
               aria-labelledby="basicsHeadingTwo"
               data-parent="#basicsAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
        </div>
        <!-- End Card -->
      
        <!-- Card -->
        <div class="card mb-3">
          <div class="card-header card-collapse" id="basicsHeadingThree">
            <h5 class="mb-0">
              <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                      data-toggle="collapse"
                      data-target="#basicsCollapseThree"
                      aria-expanded="false"
                      aria-controls="basicsCollapseThree">
                    What is the application process like?
                <span class="card-btn-arrow">
                  <span class="fas fa-arrow-left small"></span>
                </span>
              </button>
            </h5>
          </div>
          <div id="basicsCollapseThree" class="collapse"
               aria-labelledby="basicsHeadingThree"
               data-parent="#basicsAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
        </div>
        <!-- End Card -->
      
        <!-- Card -->
        <div class="card mb-3">
          <div class="card-header card-collapse" id="basicsHeadingFour">
            <h5 class="mb-0">
              <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                      data-toggle="collapse"
                      data-target="#basicsCollapseFour"
                      aria-expanded="false"
                      aria-controls="basicsCollapseFour">
                    Can I change my start date if I’ve already applied?
                <span class="card-btn-arrow">
                  <span class="fas fa-arrow-left small"></span>
                </span>
              </button>
            </h5>
          </div>
          <div id="basicsCollapseFour" class="collapse"
               aria-labelledby="basicsHeadingFour"
               data-parent="#basicsAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="basicsHeadingFive">
                <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#basicsCollapseFive"
                        aria-expanded="false"
                        aria-controls="basicsCollapseFive">
                    Where can I view your course starting dates?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
                </h5>
            </div>
            <div id="basicsCollapseFive" class="collapse"
                    aria-labelledby="basicsHeadingFive"
                    data-parent="#basicsAccordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="basicsHeadingSix">
                <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#basicsCollapseSix"
                        aria-expanded="false"
                        aria-controls="basicsCollapseSix">
                    Where are classes held?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
                </h5>
            </div>
            <div id="basicsCollapseSix" class="collapse"
                    aria-labelledby="basicsHeadingSix"
                    data-parent="#basicsAccordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="basicsHeadingSeven">
                <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#basicsCollapseSeven"
                        aria-expanded="false"
                        aria-controls="basicsCollapseSeven">
                    Is there parking downtown?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
                </h5>
            </div>
            <div id="basicsCollapseSeven" class="collapse"
                    aria-labelledby="basicsHeadingSeven"
                    data-parent="#basicsAccordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="basicsHeadingEight">
                <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#basicsCollapseEight"
                        aria-expanded="false"
                        aria-controls="basicsCollapseEight">
                    Who teaches the classes?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
                </h5>
            </div>
            <div id="basicsCollapseEight" class="collapse"
                    aria-labelledby="basicsHeadingEight"
                    data-parent="#basicsAccordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <!-- End Card -->
    </div>
    <!-- End Basics Accordion -->

    <h2 class="monsterratBold bottom48 centeredText size45">
        Tuition Questions
    </h2>

    <!-- Tuition Accordion -->
    <div class="accordionSection" id="tuitionAccordion">
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="tuitionHeadingOne">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3"
                        data-toggle="collapse"
                        data-target="#tuitionCollapseOne"
                        aria-expanded="true"
                        aria-controls="tuitionCollapseOne">
                    How much is tuition?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="tuitionCollapseOne" class="collapse show"
                aria-labelledby="tuitionHeadingOne"
                data-parent="#tuitionAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->
        
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="tuitionHeadingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#tuitionCollapseTwo"
                        aria-expanded="false"
                        aria-controls="tuitionCollapseTwo">
                    What if I really want to sign up but I can’t afford it?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="tuitionCollapseTwo" class="collapse"
                aria-labelledby="tuitionHeadingTwo"
                data-parent="#tuitionAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->
        
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="tuitionHeadingThree">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#tuitionCollapseThree"
                        aria-expanded="false"
                        aria-controls="tuitionCollapseThree">
                    Do you offer scholarships?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="tuitionCollapseThree" class="collapse"
                aria-labelledby="tuitionHeadingThree"
                data-parent="#tuitionAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->
        
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="tuitionHeadingFour">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#tuitionCollapseFour"
                        aria-expanded="false"
                        aria-controls="tuitionCollapseFour">
                    Do you offer financial aid? (as in FAFSA)
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="tuitionCollapseFour" class="collapse"
                aria-labelledby="tuitionHeadingFour"
                data-parent="#tuitionAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="tuitionHeadingFive">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#tuitionCollapseFive"
                        aria-expanded="false"
                        aria-controls="tuitionCollapseFive">
                    What payment methods do you accept?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="tuitionCollapseFive" class="collapse"
                aria-labelledby="tuitionHeadingFive"
                data-parent="#tuitionAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="tuitionHeadingSix">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#tuitionCollapseSix"
                        aria-expanded="false"
                        aria-controls="tuitionCollapseSix">
                    Can I just take the Web 101 course?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="tuitionCollapseSix" class="collapse"
                aria-labelledby="tuitionHeadingSix"
                data-parent="#tuitionAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="tuitionHeadingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#tuitionCollapseSeven"
                        aria-expanded="false"
                        aria-controls="tuitionCollapseSeven">
                    Do I have to take the Intro course to get into the Intermediate etc?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="tuitionCollapseSeven" class="collapse"
                aria-labelledby="tuitionHeadingSeven"
                data-parent="#tuitionAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="tuitionHeadingEight">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#tuitionCollapseEight"
                        aria-expanded="false"
                        aria-controls="tuitionCollapseEight">
                    Do I have to take each course immediately after?                    <span class="card-btn-arrow">
                    <span class="card-btn-arrow">
                            <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="tuitionCollapseEight" class="collapse"
                aria-labelledby="tuitionHeadingEight"
                data-parent="#tuitionAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="tuitionHeadingNine">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#tuitionCollapseNine"
                        aria-expanded="false"
                        aria-controls="tuitionCollapseNine">
                    What do I need to bring?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="tuitionCollapseNine" class="collapse"
                aria-labelledby="tuitionHeadingNine"
                data-parent="#tuitionAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="tuitionHeadingTen">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#tuitionCollapseTen"
                        aria-expanded="false"
                        aria-controls="tuitionCollapseTen">
                    What kind of computer do I need?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="tuitionCollapseTen" class="collapse"
                aria-labelledby="tuitionHeadingTen"
                data-parent="#tuitionAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="tuitionHeadingEleven">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#tuitionCollapseEleven"
                        aria-expanded="false"
                        aria-controls="tuitionCollapseEleven">
                    Will I need to buy a computer?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="tuitionCollapseEleven" class="collapse"
                aria-labelledby="tuitionHeadingEleven"
                data-parent="#tuitionAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->
    </div>
    <!-- End Tuition Accordion -->

    <h2 class="monsterratBold bottom48 centeredText size45">
        Job-Related Questions
    </h2>

    <!-- Job Accordion -->
    <div class="accordionSection" id="jobAccordion">
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3"
                        data-toggle="collapse"
                        data-target="#jobCollapseOne"
                        aria-expanded="true"
                        aria-controls="jobCollapseOne">
                    How long does it take students to find a job afterwards?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="jobCollapseOne" class="collapse show"
                aria-labelledby="jobHeadingOne"
                data-parent="#jobAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->
        
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="jobHeadingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#jobCollapseTwo"
                        aria-expanded="false"
                        aria-controls="jobCollapseTwo">
                    Will I be ready for a job after this?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="jobCollapseTwo" class="collapse"
                aria-labelledby="jobHeadingTwo"
                data-parent="#jobAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->
        
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="jobHeadingThree">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#jobCollapseThree"
                        aria-expanded="false"
                        aria-controls="jobCollapseThree">
                    What kind of help do you provide ACA students during their job search?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="jobCollapseThree" class="collapse"
                aria-labelledby="jobHeadingThree"
                data-parent="#jobAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->
        
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="jobHeadingFour">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#jobCollapseFour"
                        aria-expanded="false"
                        aria-controls="jobCollapseFour">
                    Do you help me get a job?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="jobCollapseFour" class="collapse"
                aria-labelledby="jobHeadingFour"
                data-parent="#jobAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="jobHeadingFive">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#jobCollapseFive"
                        aria-expanded="false"
                        aria-controls="jobCollapseFive">
                    What’s the rate of students getting jobs?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="jobCollapseFive" class="collapse"
                aria-labelledby="jobHeadingFive"
                data-parent="#jobAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="jobHeadingSix">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#jobCollapseSix"
                        aria-expanded="false"
                        aria-controls="jobCollapseSix">
                    Can I take the course and then afterwards get a job outside of Austin?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="jobCollapseSix" class="collapse"
                aria-labelledby="jobHeadingSix"
                data-parent="#jobAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="jobHeadingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#jobCollapseSeven"
                        aria-expanded="false"
                        aria-controls="jobCollapseSeven">
                    Will there be networking opportunities during the programs?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="jobCollapseSeven" class="collapse"
                aria-labelledby="jobHeadingSeven"
                data-parent="#jobAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->
    </div>
    <!-- End Job Accordion -->

    <h2 class="monsterratBold bottom48 centeredText size45">
        Course Questions
    </h2>

    <!-- Course Accordion -->
    <div class="accordionSection" id="courseAccordion">
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="courseHeadingOne">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3"
                        data-toggle="collapse"
                        data-target="#courseCollapseOne"
                        aria-expanded="true"
                        aria-controls="courseCollapseOne">
                    How many students are in each class?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="courseCollapseOne" class="collapse show"
                aria-labelledby="courseHeadingOne"
                data-parent="#courseAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->
        
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="courseHeadingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#courseCollapseTwo"
                        aria-expanded="false"
                        aria-controls="courseCollapseTwo">
                    What is Javascript?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="courseCollapseTwo" class="collapse"
                aria-labelledby="courseHeadingTwo"
                data-parent="#courseAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->
        
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="courseHeadingThree">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#courseCollapseThree"
                        aria-expanded="false"
                        aria-controls="courseCollapseThree">
                    What does Full-stack mean?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="courseCollapseThree" class="collapse"
                aria-labelledby="courseHeadingThree"
                data-parent="#courseAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->
        
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="courseHeadingFour">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#courseCollapseFour"
                        aria-expanded="false"
                        aria-controls="courseCollapseFour">
                    What is C#?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="courseCollapseFour" class="collapse"
                aria-labelledby="courseHeadingFour"
                data-parent="#courseAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="courseHeadingFive">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#courseCollapseFive"
                        aria-expanded="false"
                        aria-controls="courseCollapseFive">
                    What is .Net?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="courseCollapseFive" class="collapse"
                aria-labelledby="courseHeadingFive"
                data-parent="#courseAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="courseHeadingSix">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#courseCollapseSix"
                        aria-expanded="false"
                        aria-controls="courseCollapseSix">
                    Which track should I choose? C# or Javascript?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="courseCollapseSix" class="collapse"
                aria-labelledby="courseHeadingSix"
                data-parent="#courseAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="courseHeadingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#courseCollapseSeven"
                        aria-expanded="false"
                        aria-controls="courseCollapseSeven">
                    What’s the difference between the C# .NET track and the Javascript Track?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="courseCollapseSeven" class="collapse"
                aria-labelledby="courseHeadingSeven"
                data-parent="#courseAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="courseHeadingEight">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#courseCollapseEight"
                        aria-expanded="false"
                        aria-controls="courseCollapseEight">
                    What kind of projects will I have in my portfolio?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="courseCollapseEight" class="collapse"
                aria-labelledby="courseHeadingEight"
                data-parent="#courseAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="courseHeadingNine">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#courseCollapseNine"
                        aria-expanded="false"
                        aria-controls="courseCollapseNine">
                    Will I have the opportunity to work on my own projects at ACA?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="courseCollapseNine" class="collapse"
                aria-labelledby="courseHeadingNine"
                data-parent="#courseAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="courseHeadingTen">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#courseCollapseTen"
                        aria-expanded="false"
                        aria-controls="courseCollapseTen">
                    What is the average class size? (student to teacher ratio)
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="courseCollapseTen" class="collapse"
                aria-labelledby="courseHeadingTen"
                data-parent="#courseAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="courseHeadingEleven">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#courseCollapseEleven"
                        aria-expanded="false"
                        aria-controls="courseCollapseEleven">
                    How many students are in each class?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="courseCollapseEleven" class="collapse"
                aria-labelledby="courseHeadingEleven"
                data-parent="#courseAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="courseHeadingTwelve">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#courseCollapseTwelve"
                        aria-expanded="false"
                        aria-controls="courseCollapseTwelve">
                    How do I get the most out of ACA?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="courseCollapseTwelve" class="collapse"
                aria-labelledby="courseHeadingTwelve"
                data-parent="#courseAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header card-collapse" id="courseHeadingThirteen">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                        data-toggle="collapse"
                        data-target="#courseCollapseThirteen"
                        aria-expanded="false"
                        aria-controls="courseCollapseThirteen">
                    What is the policy on missing class days for special events, weddings, trips, etc?
                    <span class="card-btn-arrow">
                        <span class="fas fa-arrow-left small"></span>
                    </span>
                </button>
            </h5>
            </div>
            <div id="courseCollapseThirteen" class="collapse"
                aria-labelledby="courseHeadingThirteen"
                data-parent="#courseAccordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            </div>
        </div>
        <!-- End Card -->
    </div>
    <!-- End Course Accordion -->
</div>