<div style="margin: 95px auto; width: 900px">
    <a href="https://austincodingacademy.skills.fund/"><img src="/assets/images/SKILLSfund.png" width="205px" height="auto" alt="SKILLS fund"></a>
    <p class="size18 top12">
        If you’re unable to cover the cost of tuition on your own, we have an arrangement with
        Skills Fund and they are our preferred vendor
    </p>
    <ul>
        <li>Option to finance some or all of your tuition</li>
        <li>Only work with schools who they believe will get a return on their loan</li>
        <li>Affordable monthly payments</li>
    </ul>
    <a class="btn stockBlueButton text-white top32 hover-scale-button" href="https://austincodingacademy.skills.fund/" target="_blank">
        Learn More
    </a>

    <h2 class="font-family-alt font-weight-bold top84 display-4">Other Funding Options</h2>
    <p class="size18 bottom48">
        Our students have been quite creative in their approach to financing their Austin Coding Academy education. Since we are the most affordable coding school in town, students are often able to cover
        the cost of tuition on their own, perhaps with some of the following supplements:
    </p>

    <p class="size18">
        <span style="font-weight: bold">Companies:</span> <br/>
        Often, companies have a Professional Development company. We highly recommend that you approach
        your current employer to see if they would be able to cover all or some of your tuition. It’s a great way
        for your company to invest in your future AND increase your team’s value
    </p>

    <p class="size18">
        <span style="font-weight: bold">Families:</span> <br/>
        You can tell your parents or immediate family member that this is the last loan you’ll ever need
        because you’ll have a well-paying job after you complete a track at ACA
    </p>

    <p class="size18">
        <span style="font-weight: bold">Private Financing:</span> <br/>
        You’re always free to obtain a loan from any lender, not just our preferred vendors.
        We encourage you to be weary of lending startups who can sometimes take advantage of
        folks with poor credit. Please note that while other loan programs may be available to you,
        there is no agreement in place with Austin Coding Academy and these organizations.
    </p>

</div>