<!-- ========== FOOTER ========== -->
<footer class="alt-gradient">
  <div class="container space-top-2 space-bottom-1">
    <div class="row justify-content-lg-start mb-7">
      <div class="col-12 col-lg-6 mb-7 mx-auto mx-lg-0">
        <div
          class="row">
          <div class="col d-flex align-items-center justify-content-center">
            <!-- Logo -->
            <a
              id="logo"
              class="d-flex align-items-center"
              href="/">
              <amp-img
                width="140px"
                height="140px"
                layout="fixed"
                alt="ACA Logo"
                src="/assets/images/logo-aca-white.png"
              ></amp-img>
            </a>
            <!-- End Logo -->
          </div>

          <div
            class="col">
            <!-- List Group -->
            <ul class="list-group mt-5 list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
              <li class="text-white footer-title size-20 font-weight-bold">
                Find Us
              </li>
              <li>
                <a
                  href="tel:{{site.phone}}"
                  class="text-white list-group-item size-18 list-group-item-action">
                  <span class="text-white fas fa-phone"></span>&nbsp; {{site.phone}}
                </a>
              </li>
              <li>
                <a
                  href="https://www.google.com/maps/place/Austin+Coding+Academy/@30.2688755,-97.7427528,17z/data=!3m1!4b1!4m5!3m4!1s0x8644b4e31ad087bd:0xd6644ce54fe2531c!8m2!3d30.2688755!4d-97.7405641"
                  class="text-white list-group-item size-18 list-group-item-action"
                >
                  <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0 fa-ul">
                    <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Downtown</li>
                    <li>(Capital Factory)</li>
                    <li>701 Brazos St, Ste 1616</li>
                    <li>Austin, TX 78701</li>
                  </ul>
                </a>
              </li>
              <li>
                <a
                  href="https://www.google.com/maps/place/North+Austin+Coding+Academy/@30.3290949,-97.7136072,17z/data=!3m1!4b1!4m5!3m4!1s0x8644cba00a32dc3d:0x8807e75b730c450f!8m2!3d30.3290949!4d-97.7114185"
                  class="text-white list-group-item size-18 list-group-item-action"
                >
                  <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0 fa-ul">
                    <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span> North Austin</li>
                    <li>(Highland)</li>
                    <li>314 E Highland Mall Blvd, Ste 114</li>
                    <li>Austin, TX 78752</li>
                  </ul>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 mx-auto ml-lg-auto mr-lg-0">
        <div class="row">

          <div class="text-center text-lg-left col-6 ml-lg-auto mb-4">
            <!-- List Group -->
            <ul class="list-group mt-5 list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
              <li class="text-white footer-title size-20 font-weight-bold">
                About
              </li>
              {% for item in site.menus.footer-about %}
                <li>
                  <a
                    class="text-white list-group-item size-18 list-group-item-action"
                    href="{{ item.url }}"
                  >
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
            <!-- End List Group -->
          </div>

          <div class="text-center text-lg-left col-6 mb-4">
            <!-- List Group -->
            <ul class="list-group mt-5 list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
              <li class="text-white footer-title size-20 font-weight-bold">
                Community
              </li>
              {% for item in site.menus.footer-community %}
                <li>
                  <a class="text-white list-group-item size-18 list-group-item-action"
                    href="{{ item.url }}"
                  >
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
            <!-- End List Group -->
          </div>
        </div>

        <div class="d-flex justify-content-center justify-content-lg-start">
          {% for item in site.menus.social %}
            <!-- htmllint preset="none" -->
            <a href="{{ item.url }}" class="{{ item.margin }}">
              <span class="text-white fab fa-{{ item.title }} fa-2x"></span>
            </a>
            <!-- htmllint preset="$previous" -->
          {% endfor %}
        </div>

      </div>

    </div>

    <div class="text-center">
      <!-- Copyright -->
      <p class="small text-white-70 mb-0">
        © Austin Coding Academy 2019. All rights reserved.
      </p>
      <!-- End Copyright -->
    </div>
  </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Austin Coding Academy",
    "url": "{{site.url}}",
    "priceRange": "$2990",
    "logo": {
      "@type": "ImageObject",
      "url": "{{site.url}}/assets/images/logo-aca.png"
    },
    "image": {
      "@type": "ImageObject",
      "url": "{{site.url}}/assets/images/header-index.jpg"
    },
    "telephone": "{{ site.phone }}",
    "address": [
      {
        "@type": "PostalAddress",
        "streetAddress": "701 Brazos St, Ste 1616",
        "addressLocality": "Austin, TX 78701"
      },
      {
        "@type": "PostalAddress",
        "streetAddress": "314 E Highland Mall Blvd, Ste 114",
        "addressLocality": "Austin, TX 78752"
      }
    ]
  }
  </script>