<head>
  <style>
    footer p {
        padding: 0 10px;
        margin: 25px 0;
        font-size: 16px;
    }

    .footer-title {
        font-size: 20px;
        font-weight: bold;
    }

    footer .list-group {
        margin-top: 50px;
    }

    footer .list-group-item {
        font-size: 18px !important;
    }

    .alt-gradient {
      background: linear-gradient(to right, #2d2f77, #00b3d1);
    }
  </style>
</head>

<!-- ========== FOOTER ========== -->
<footer class="alt-gradient">
    <div class="container space-top-2 space-bottom-1">
      <div class="row justify-content-lg-start mb-7">
        <div class="col-sm-9 col-lg-4 mb-7">
          <!-- Logo -->
          <a href="/">
            <img width="140px" src="/assets/images/aca-logo-3.png">
          </a>
          <!-- End Logo -->

          <ul class="text-white" style="list-style: none; margin-top: 20px;">
              <li style="list-style-image: url(/assets/images/icons/whiteMarker.png)">Downtown</li>
              <li>(Capital Factory)</li>
              <li>701 Brazos St, Ste 1616,</li>
              <li>Austin, TX 78701</li>
          </ul>
          <ul class="text-white" style="list-style: none; margin-top: 20px;">
              <li style="list-style-image: url(/assets/images/icons/whiteMarker.png)">Central Austin</li>
              <li>(Highland)</li>
              <li>314 E Highland Mall Blvd, Ste 114,</li>
              <li>Austin, TX 78752</li>
          </ul>
        </div>

        <div class="col-6 col-sm-4 col-lg-2 ml-lg-auto mb-4">
          <!-- List Group -->
          <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
            <li class="text-white footer-title">About</li>
            <li><a class="text-white list-group-item list-group-item-action" href="/courses">Tracks &amp; Tuition</a></li>
            <li><a class="text-white list-group-item list-group-item-action" href="/financing">Financing</a></li>
            <li><a class="text-white list-group-item list-group-item-action" href="/student-grievances">Student Grievance Policy</a></li>
            <li><a class="text-white list-group-item list-group-item-action" href="/apply">Apply Now</a></li>
          </ul>
          <!-- End List Group -->
        </div>

        <div class="col-6 col-sm-4 col-lg-2 mb-4">
          <!-- List Group -->
          <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
            <li class="text-white footer-title">Community</li>
            <li><a class="text-white list-group-item list-group-item-action" href="https://www.eventbrite.com/o/austin-coding-academy-10937668459" rel="noopener" target="_blank">Upcoming Events</a></li>
            <li><a class="text-white list-group-item list-group-item-action" href="/faq">FAQ</a></li>
            <li><a class="text-white list-group-item list-group-item-action" href="/contact">Contact Us</a></li>
          </ul>
          <!-- End List Group -->
        </div>

      </div>

      <div class="col-sm-6 text-sm-right">
        <!-- Copyright -->
        <p class="small text-white-70 mb-0">© Austin Coding Academy 2018. All rights reserved.</p>
        <!-- End Copyright -->
      </div>
    </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->