<!-- ========== FOOTER ========== -->
<footer class="alt-gradient">
  <div class="container-fluid pt-2 px-0">
    <div class="row justify-content-around p-4">
      <div class="col-12 col-md text-left mb-5 mb-md-0">
        <h5 class="text-white font-weight-bold pb-1 border-bottom">
          Find Us
        </h5>
        <div class="row">
          <div class="col d-flex flex-column justify-content-around align-items-start">
            <div class="my-2">
              <a
                href="https://www.google.com/maps/place/Austin+Coding+Academy/@30.2688755,-97.7427528,17z/data=!3m1!4b1!4m5!3m4!1s0x8644b4e31ad087bd:0xd6644ce54fe2531c!8m2!3d30.2688755!4d-97.7405641"
              >
                <span class="text-white hover-shadow-yellow"><i class="fas fa-map-marker-alt"></i>&nbsp;Downtown</span>
              </a>
            </div>
            <div class="my-2">
              <a
                href="https://www.google.com/maps/place/North+Austin+Coding+Academy/@30.3290949,-97.7136072,17z/data=!3m1!4b1!4m5!3m4!1s0x8644cba00a32dc3d:0x8807e75b730c450f!8m2!3d30.3290949!4d-97.7114185"
              >
                <span class="text-white hover-shadow-yellow"><i class="fas fa-map-marker-alt"></i>&nbsp;North Austin</span>
              </a>
            </div>
          </div>
          <div class="col d-flex flex-column justify-content-around align-items-start">
            <a
              href="tel:{{site.phone}}"
              class="text-white hover-shadow-yellow my-2">
              <span class="text-white hover-shadow-yellow fas fa-phone"></span>&nbsp;(512) 827-8498{{site.phone}}
            </a>
            <div class="my-2">
              {% for item in site.menus.social %}
                <!-- htmllint preset="none" -->
                <a href="{{ item.url }}" class="{{ item.class }}">
                  <span class="text-white hover-shadow-yellow h4 fab fa-{{ item.title }}"></span>
                </a>
                <!-- htmllint preset="$previous" -->
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="col text-left">
        <h5 class="text-white font-weight-bold pb-1 border-bottom">
          More
        </h5>
        <!-- List Group -->
          <div class="row">
            {% for item in site.menus.footer %}
              <div class="col-6 my-2">
                <a
                  class="text-white hover-shadow-yellow"
                  href="{{ item.url }}"
                >
                  {{ item.title }}
                </a>
              </div>
            {% endfor %}
          </div>
        <!-- End List Group -->
      </div>
    </div>
    <div class="text-center border-top bg-purple py-3 w-100">
      <p class="small text-white-70 mb-0">
        © Austin Coding Academy 2019. All rights reserved.<br/>
        <a class="text-white" href="https://discourse.austincodingacademy.com/tos">Terms of Service</a> | <a class="text-white" href="https://discourse.austincodingacademy.com/privacy">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Austin Coding Academy",
    "url": "{{site.url}}",
    "priceRange": "$2990",
    "logo": {
      "@type": "ImageObject",
      "url": "{{site.url}}/assets/images/logo-aca.png"
    },
    "image": {
      "@type": "ImageObject",
      "url": "{{site.url}}/assets/images/header-index.jpg"
    },
    "telephone": "{{ site.phone }}",
    "address": [
      {
        "@type": "PostalAddress",
        "streetAddress": "701 Brazos St, Ste 1616",
        "addressLocality": "Austin, TX 78701"
      },
      {
        "@type": "PostalAddress",
        "streetAddress": "314 E Highland Mall Blvd, Ste 114",
        "addressLocality": "Austin, TX 78752"
      }
    ]
  }
  </script>