<div class="logoSection container">
    <div class="row">
        <div class="col-sm-4 col-md-2 companyLogoDiv">
            <img class="u-clients" src="https://austincodingacademy.github.io/front/assets/svg/clients-logo/slack.svg" alt="Image Description">
        </div>
        <div class="col-sm-4 col-md-2 companyLogoDiv">
            <img class="u-clients" src="https://austincodingacademy.github.io/front/assets/svg/clients-logo/spotify.svg" alt="Image Description">
        </div>
        <div class="col-sm-4 col-md-2 companyLogoDiv">
            <img class="u-clients" src="https://austincodingacademy.github.io/front/assets/svg/clients-logo/google.svg" alt="Image Description">
        </div>
        <div class="col-sm-4 col-md-2 companyLogoDiv">
            <img class="u-clients" src="https://austincodingacademy.github.io/front/assets/svg/clients-logo/paypal.svg" alt="Image Description">
        </div>
        <div class="col-sm-4 col-md-2 companyLogoDiv">
            <img class="u-clients" src="https://austincodingacademy.github.io/front/assets/svg/clients-logo/netflix.svg" alt="Image Description">
        </div>
        <div class="col-sm-4 col-md-2 companyLogoDiv">
            <img class="u-clients" src="https://austincodingacademy.github.io/front/assets/svg/clients-logo/amazon.svg" alt="Image Description">
        </div>
    </div>
</div>