<!-- Clients Section -->
<div class="d-flex justify-content-center">
    <div class="mx-4">
        <img class="u-clients" src="https://austincodingacademy.github.io/front/assets/svg/clients-logo/slack.svg" alt="Image Description">
    </div>
    <div class="mx-4">
        <img class="u-clients" src="https://austincodingacademy.github.io/front/assets/svg/clients-logo/google.svg" alt="Image Description">
    </div>
    <div class="mx-4">
        <img class="u-clients" src="https://austincodingacademy.github.io/front/assets/svg/clients-logo/spotify.svg" alt="Image Description">
    </div>
    <div class="mx-4">
        <img class="u-clients" src="https://austincodingacademy.github.io/front/assets/svg/clients-logo/slack.svg" alt="Image Description">
    </div>
    <div class="mx-4">
        <img class="u-clients" src="https://austincodingacademy.github.io/front/assets/svg/clients-logo/google.svg" alt="Image Description">
    </div>
    <div class="mx-4">
        <img class="u-clients" src="https://austincodingacademy.github.io/front/assets/svg/clients-logo/spotify.svg" alt="Image Description">
    </div>
</div>
<!-- End Clients Section -->