<head>
    <style>
        .navbar {
            background-color: #202254;
            position: relative;
        }
        #apply-gradient {
            width: 140px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<nav class="navbar container-fluid navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/">
        <img src="/assets/images/ACA_Logo_White.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white fas fa-bars fa-2x"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="text-white font-weight-bold nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Courses &amp; Tuition
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="text-white dropdown-item" href="/javascript/">JavaScript</a>
                    <a class="text-white dropdown-item" href="/c#/">C# .NET</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="text-white font-weight-bold nav-link" href="/financing/">Financing</a>
            </li>
            <li class="nav-item">
                <a class="text-white font-weight-bold nav-link" href="/contact/">Contact</a>
            </li>
            <li class="nav-item">
              <a href="/apply/">
                <div id="apply-gradient" class="cta-button primary-gradient text-white font-weight-bold size-18">
                    Apply
                </div>
              </a>
            </li>
        </ul>
    </div>
</nav>