<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--bg-transparent u-header--white-nav-links-md u-header--abs-top"
        data-header-fix-moment="500"
        data-header-fix-effect="slide">
  <div class="u-header__section">
    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
        
        <!-- Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-text-white" href="index.html" aria-label="Front">
          <img src=/assets/images/ACA_Logo_White.png>
        </a>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
          <span id="hamburgerTrigger" class="u-hamburger__box">
            <span class="u-hamburger__inner"></span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
          <ul class="navbar-nav u-header__navbar-nav">
            <!-- Home -->
            <li class="nav-item hs-has-mega-menu u-header__nav-item">
              <a class="nav-link u-header__nav-link whiteText size18" href="#" aria-expanded="false">Courses</a>
            </li>
            <!-- End Home -->

            <!-- Pages -->
            <li class="nav-item hs-has-sub-menu u-header__nav-item">
              <a class="nav-link u-header__nav-link whiteText size18" href="#" aria-expanded="false" aria-labelledby="pagesSubMenu">Tuition</a>
            </li>
            <!-- End Pages -->

            <!-- Blog -->
            <li class="nav-item hs-has-sub-menu u-header__nav-item">
              <a class="nav-link u-header__nav-link whiteText size18" href="#" aria-expanded="false" aria-labelledby="blogSubMenu">Instructors</a>
            </li>
            <!-- End Blog -->

            <!-- Shop -->
            <li class="nav-item hs-has-mega-menu u-header__nav-item">
              <a class="nav-link u-header__nav-link whiteText size18" href="#" aria-expanded="false">Outcomes</a>
            </li>
            <!-- End Shop -->

            <!-- Demos -->
            <li class="nav-item hs-has-mega-menu u-header__nav-item">
              <a class="nav-link u-header__nav-link whiteText size18" href="#" aria-expanded="false">Hire a Grad</a>
            </li>
            <!-- End Demos -->

            <!-- Docs -->
            <li class="nav-item hs-has-mega-menu u-header__nav-item">
              <a class="nav-link u-header__nav-link whiteText size18" href="/contact.html" aria-expanded="false">Contact</a>
            </li>
            <!-- End Docs -->

            <!-- Button -->
            <li class="nav-item u-header__nav-last-item">
              <a href="#">
                <div class="outlinedCTA whiteText size18">
                  Apply
                </div>
              </a>
            </li>
            <!-- End Button -->
          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->