<!-- ========== HEADER ========== -->
{% if page.hero %}
  {% assign color = 'transparent' %}
{% endif %}
<amp-sidebar
  on="tap:sidebar.open"
  role="navigation"
  scrollable
  id="sidebar"
  class="m-0 bg-dark d-flex d-md-none row flex-column align-items-start justify-content-start"
  layout="nodisplay"
  side="right">
  {% for item in site.menus.header %}
    <div
      class="mt-5 text-left"
      on="tap:sidebar.open"
      role="dialog"
      tabindex="20">
      {% if item.children %}
        <div class="ml-5 text-white">
          {{ item.title }}
          <ul class="pl-5 m-0 fa-ul">
            {% for child in item.children %}
              <li class="mt-3">
                <span class="fa-li">
                  <i class="fas fa-code fa-xs"></i>
                </span>
                <a href="{{ child.url }}" class="text-white">
                  {{ child.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        <!-- htmllint preset="none" -->
        {% if item.button %}
          <a href="{{ item.url }}" class="text-white text-left">
            <button class="{{ item.button }}">
              {{ item.title }}
            </button>
        {% else %}
          <a href="{{ item.url }}" class="ml-5 text-white text-left">
            {{ item.title }}
        {% endif %}
        </a>
        <!-- htmllint preset="$previous" -->
      {% endif %}
    </div>

  {% endfor %}

</amp-sidebar>

<!-- htmllint preset="none" -->
<header
  id="header"
  class="u-header {% if color == 'transparent' %} u-header--bg-transparent u-header--white-nav-links-md u-header--abs-top {% else %} u-header--navbar-bg {% endif %}"
>
  <div
    class="u-header__section bg-{{ color | default: 'purple' }} p-2"
  >
  <!-- htmllint preset="$previous" -->
    <div class="container">
      <!-- Nav -->
      <nav
        class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space"
      >
        <!-- Logo -->
        <a
          class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-text-white"
          href="/"
          aria-label="Logo"
          style="width:90px; height:90px;"
        >
          <amp-img
            width="90px"
            height="90px"
            layout="fixed"
            alt="ACA Home"
            src="/assets/images/logo-aca-white.png"
            class="w-100"
          ></amp-img>
        </a>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button
          class="display-5 text-white btn btn-link d-flex d-md-none"
          on="tap:sidebar.open"
          role="button">
          <i class="fas fa-bars"></i>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div
          id="nav-bar"
          class="collapse navbar-collapse u-header__navbar-collapse d-none d-md-flex"
        >
          <ul class="navbar-nav u-header__navbar-nav ml-auto">

            {% for item in site.menus.header %}

              {% if item.children %}
                <li class="nav-item u-header__nav-item">
                  <a href="#" class="nav-link u-header__nav-link">
                    <span class="text-white">{{ item.title }} <i class="fas fa-caret-down"></i></span>
                  </a>
                  <ul class="d-none position-absolute list-unstyled">
                  {% for child in item.children %}
                    <li class="position-relative py-1 pl-3">
                      <a class="text-white nav-link" href="{{ child.url }}">
                          <span class="text-white">{{ child.title }}</span>
                      </a>
                    </li>
                  {% endfor %}
                  </ul>
                </li>

              {% else %}
                <!-- htmllint preset="none" -->
                <li class="nav-item u-header__nav-item">
                  {% if item.button %}
                    <a class="{{ item.button }}" href="{{ item.url }}">
                  {% else %}
                    <a class="text-white nav-link u-header__nav-link" href="{{ item.url }}">
                  {% endif %}
                      <span class="text-white">{{ item.title }}</span>
                    </a>
                </li>
                <!-- htmllint preset="$previous" -->
              {% endif %}

            {% endfor %}

          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->
