<div id="homeHero" class="container-fluid">

  <div id="homeHeroContent">
      <div class="">
        <h1 class="whiteText heroTitle montserratBold size77">
          Change Your Life<br>With a New Career
        </h1>
        <p class="whiteText size31">Part-time coding classes instructed<br> 
          by full-time developers here in Austin, TX</p>
      </div>

      <div id="heroButtons" class="row">
        <a class="col-6" href="/courses.html">
          <div class="wideButton infoButton hoverScaleButton">
              Learn More
          </div>
        </a>
        <a class="col-6" href="/apply.html">
          <div class="wideButton ctaButton primaryGradient hoverScaleButton">
            Apply Now!
          </div>
        </a>
      </div>
  </div>
  
</div>



