<style>
  #js-hero {
    background-image: url("/assets/images/financingHero.png");
    height: 392px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

<div id="js-hero" class="w-100">
  <h1 class="text-white font-family-alt font-weight-bold display-4">
    C# .NET Track
  </h1>
  <h2 style="max-width: 640px;" class="size-20 text-white text-center">
    Learn to build professional, applications and mobile-friendly websites that
    include Javascript to run web-apps and games with C# language and the .NET
    framework. Graduates of the C#.NET program find jobs at companies such as
    Frost Bank, Tyler Technologies, Governmental Agencies, universities, and the
    military.
  </h2>
</div>
