<head>
    <style>  
        #js-hero {
            background-image: url("/assets/images/financingHero.png");
            width: 100%;
            height: 392px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<div id="js-hero">
    <h1 class="text-white font-family-alt font-weight-bold display-4">JavaScript Track</h1>
    <h2 style="max-width: 640px;" class="size-20 text-white text-center">
            JavaScript is used everywhere on the internet. It’s a programming language used to make not only websites but games, web apps, animations, and mobile applications for both Android and iOS.
    </h2>
</div>