<head>
  <style>
    #home-hero {
      background-image: url(/assets/images/placeholders/Artboard.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      position: relative;

      width: 100%;
      height: 110vh;
      margin: 0;
    }

    #home-hero-content {
        position: absolute;
        top: 200px;
        left: 5%;
    }

    #hero-buttons {
        display: flex;
        justify-content: space-between;
        width: 491px;
    }
  </style>
</head>

<div id="home-hero" class="container-fluid">

  <div id="home-hero-content">
      <div class="">
        <h1 class="text-white font-family-alt font-weight-bold display-3">
          Change Your Life<br>With a New Career
        </h1>
        <p class="text-white size-31">Part-time coding classes instructed<br>
          by full-time developers here in Austin, TX</p>
      </div>

      <div id="hero-buttons" class="row">
        <a class="col-6" href="/courses">
          <div class="wide-button info-button hover-scale-button">
              Learn More
          </div>
        </a>
        <a class="col-6" href="/apply">
          <div class="wide-button cta-button primary-gradient hover-scale-button">
            Apply Now!
          </div>
        </a>
      </div>
  </div>

</div>



