<!-- Hero Section -->
<!-- style="background-image: url(https://austincodingacademy.com/assets/images/laptop-roof.jpg);" -->
<div id="SVGGraphicIllustration1" class=" d-lg-flex align-items-lg-center gradient-half-primary-v1 height-lg-100vh" style="background-image: url(/assets/images/placeholders/Artboard.png)">
  <div class="d-none d-lg-block bg-img-hero position-absolute top-0 right-0 left-0 height-lg-100vh"></div>
  <div class="container space-top-3 space-bottom-2 space-top-md-4 space-bottom-md-3">
    <div id="heroText" class="row align-items-md-center">
      <div class="col-lg-9">
        <!-- Title -->
        <div class="mb-57">
          <h1 class="whiteText heroTitle montserratBold mt-5 display-3">
            Change Your Life<br>With a New Career
          </h1>
          <p class="whiteText size31">Part-time coding classes instructed<br> 
            by full-time developers here in Austin, TX</p>
        </div>
        <!-- End Title -->
        <div id="heroButtons" class="row">
          <a class="col-md-6 col-xs-12" href="#">
            <div class="wideButton infoButton hoverScaleButton">
                Learn More
            </div>
          </a>
          <a class="col-md-6 col-xs-12" href="#">
            <div class="wideButton ctaButton primaryGradient hoverScaleButton">
              Apply Now!
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 d-none d-lg-inline-block">
        <!-- SVG Shapes -->
        <!-- End SVG Shapes -->
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->