<!-- Team Section -->
<div class="container">
        <!-- Team Carousel -->
        <div class="js-slick-carousel u-slick u-slick--gutters-3"
             data-slides-show="4"
             data-slides-scroll="1"
             data-pagi-classes="d-lg-none text-center u-slick__pagination mb-7"
             data-responsive='[{
               "breakpoint": 992,
               "settings": {
                 "slidesToShow": 3
               }
             }, {
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 2
               }
             }, {
               "breakpoint": 554,
               "settings": {
                 "slidesToShow": 1
               }
             }]'>
          <div class="js-slide pb-4">
            <!-- Team -->
            <img class="img-fluid w-100 rounded" src="https://austincodingacademy.github.io/front/assets/img/350x400/img1.jpg" alt="Image Description">
            <div class="card border-0 shadow-sm mt-n6 mx-3">
              <div class="card-body text-center p-4">
                <h3 class="h6 mb-1">Maria Muszynska</h3>
                <p class="font-size-1 mb-0">Lead Designer</p>
              </div>
            </div>
            <!-- End Team -->
          </div>
      
          <div class="js-slide pb-4">
            <!-- Team -->
            <img class="img-fluid w-100 rounded" src="https://austincodingacademy.github.io/front/assets/img/350x400/img2.jpg" alt="Image Description">
            <div class="card border-0 shadow-sm mt-n6 mx-3">
              <div class="card-body text-center p-4">
                <h3 class="h6 mb-1">Jack Wayley</h3>
                <p class="font-size-1 mb-0">CEO, Director</p>
              </div>
            </div>
            <!-- End Team -->
          </div>
      
          <div class="js-slide pb-4">
            <!-- Team -->
            <img class="img-fluid w-100 rounded" src="https://austincodingacademy.github.io/front/assets/img/350x400/img3.jpg" alt="Image Description">
            <div class="card border-0 shadow-sm mt-n6 mx-3">
              <div class="card-body text-center p-4">
                <h3 class="h6 mb-1">Emmely Jackson</h3>
                <p class="font-size-1 mb-0">Marketer</p>
              </div>
            </div>
            <!-- End Team -->
          </div>
      
          <div class="js-slide pb-4">
            <!-- Team -->
            <img class="img-fluid w-100 rounded" src="https://austincodingacademy.github.io/front/assets/img/350x400/img4.jpg" alt="Image Description">
            <div class="card border-0 shadow-sm mt-n6 mx-3">
              <div class="card-body text-center p-4">
                <h3 class="h6 mb-1">Mark McManus</h3>
                <p class="font-size-1 mb-0">Project Manager</p>
              </div>
            </div>
            <!-- End Team -->
          </div>
        </div>
        <!-- End Team Carousel -->
      
        <!-- Hire Us -->
        <div class="text-center">
          <div class="d-sm-inline-flex align-items-center shadow-sm rounded-pill p-2 pr-3">
            <span class="u-label u-label--sm u-label--primary mb-2 mb-sm-0 mr-2">New</span>
            <span class="d-block d-sm-inline-block">
              We are hiring.
              <a href="../pages/hire-us.html">Send your application.</a>
            </span>
          </div>
        </div>
        <!-- End Hire Us -->
      </div>
      <!-- End Team Section -->