<div class="container-fluid">
<div class="row cardBlock">

<div class="col-xs-6 col-sm-3">
    <img class="img-fluid w-100 rounded" src="/assets/images/bio/instructors/DanaWen.jpeg" alt="Dana Wen">
    <div class="card border-0 shadow-sm mt-n6 mx-3">
        <div class="card-body text-center p-4">
            <a href="https://www.linkedin.com/in/danawen/"><h3 class="h6 mb-1">Dana Wen</h3></a>
            <p class="font-size-1 mb-0">ChickTech Austin</p>
        </div>
    </div>
</div>

<div class="col-xs-6 col-sm-3">
    <img class="img-fluid w-100 rounded" src="/assets/images/bio/instructors/JuanRodriguez.jpeg" alt="Dana Wen">
    <div class="card border-0 shadow-sm mt-n6 mx-3">
        <div class="card-body text-center p-4">
            <a href="https://www.linkedin.com/in/juanrod1/"><h3 class="h6 mb-1">Juan Rodriguez</h3></a>
            <p class="font-size-1 mb-0">L7 Informatics</p>
        </div>
    </div>
</div>

<div class="col-xs-6 col-sm-3">
    <img class="img-fluid w-100 rounded" src="/assets/images/bio/instructors/DanFerguson2.jpeg" alt="Dana Wen">
    <div class="card border-0 shadow-sm mt-n6 mx-3">
        <div class="card-body text-center p-4">
            <a href="https://www.linkedin.com/in/ferguson-dan/"><h3 class="h6 mb-1">Dan Ferguson</h3></a>
            <p class="font-size-1 mb-0">Tyler Technologies</p>
        </div>
    </div>    
</div>

<!-- <div class="col-xs-6 col-sm-3">
    <img class="img-fluid w-100 rounded" src="https://austincodingacademy.github.io/front/assets/img/350x400/img4.jpg" alt="Image Description">
    <div class="card border-0 shadow-sm mt-n6 mx-3">
        <div class="card-body text-center p-4">
        <h3 class="h6 mb-1">Mark McManus</h3>
        <p class="font-size-1 mb-0">Project Manager</p>
    </div>
</div> -->

</div>
</div>