<div class="container-fluid">
<div class="row cardBlock">

<div class="col-xs-6 col-sm-3">
    <img class="img-fluid w-100 rounded" src="https://austincodingacademy.github.io/front/assets/img/350x400/img1.jpg" alt="Image Description">
    <div class="card border-0 shadow-sm mt-n6 mx-3">
        <div class="card-body text-center p-4">
        <h3 class="h6 mb-1">Maria Muszynska</h3>
        <p class="font-size-1 mb-0">Lead Designer</p>
        </div>
    </div>
</div>

<div class="col-xs-6 col-sm-3">
    <img class="img-fluid w-100 rounded" src="https://austincodingacademy.github.io/front/assets/img/350x400/img2.jpg" alt="Image Description">
    <div class="card border-0 shadow-sm mt-n6 mx-3">
        <div class="card-body text-center p-4">
        <h3 class="h6 mb-1">Jack Wayley</h3>
        <p class="font-size-1 mb-0">CEO, Director</p>
        </div>
    </div>
</div>

<div class="col-xs-6 col-sm-3">
    <img class="img-fluid w-100 rounded" src="https://austincodingacademy.github.io/front/assets/img/350x400/img3.jpg" alt="Image Description">
    <div class="card border-0 shadow-sm mt-n6 mx-3">
        <div class="card-body text-center p-4">
        <h3 class="h6 mb-1">Emmely Jackson</h3>
        <p class="font-size-1 mb-0">Marketer</p>
        </div>
    </div>    
</div>

<div class="col-xs-6 col-sm-3">
    <img class="img-fluid w-100 rounded" src="https://austincodingacademy.github.io/front/assets/img/350x400/img4.jpg" alt="Image Description">
    <div class="card border-0 shadow-sm mt-n6 mx-3">
        <div class="card-body text-center p-4">
        <h3 class="h6 mb-1">Mark McManus</h3>
        <p class="font-size-1 mb-0">Project Manager</p>
    </div>
</div>

</div>
</div>