<!-- Terms Title Section -->
<div class="position-relative">
        <div class="container space-2">
          <div class="w-md-80 w-lg-60">
            <h1 class="text-primary"><span class="font-weight-semi-bold">Job</span> Outlook</h1>
            <p>this is gonna be a graph on the right</p>
            <p>this is gonna be more text about jobs</p>
          </div>
        </div>
      
        <!-- SVG Background Shapes -->
        <div id="SVGbgElements2" class="svg-preloader d-none d-lg-block w-lg-40 content-centered-y right-0 z-index-n1 ml-9">
          <figure class="ie-bg-elements-2">
            <img class="js-svg-injector" src="https://austincodingacademy.github.io/front/assets/svg/components/bg-elements-2.svg" alt="Image Description"
                 data-parent="#SVGbgElements2">
          </figure>
        </div>
        <!-- End SVG Background Shapes -->
      </div>
      <!-- End Terms Title Section -->