<amp-position-observer
  on="scroll:fill-header-background.seekTo(percent=event.percent)"
  intersection-ratios="0"
  layout="nodisplay">
</amp-position-observer>

<amp-animation id="fill-header-background" layout="nodisplay">
  <script type="application/json">
    {
      "duration": "1",
      "fill": "both",
      "animations": [{
        "selector": "#header-background",
        "keyframes": [{
          "opacity": "0",
          "offset": 0
        },
        {
          "opacity": "1",
          "offset": {{ page.scroll_offset_for_animation | default: 0.05}}
        },
        {
          "opacity": "1",
          "offset": 1
        }]
      }]
    }
  </script>
</amp-animation>