<amp-position-observer
  on="scroll:fill-header-background.seekTo(percent=event.percent)"
  intersection-ratios="0"
  layout="nodisplay"
  tabindex="-1"
>
</amp-position-observer>

<amp-animation id="fill-header-background" layout="nodisplay">
  <script type="application/json">
    {
      "duration": "1",
      "fill": "both",
      "animations": [{
        "selector": "#header-background",
        "keyframes": [{
          "opacity": "0",
          "offset": 0
        },
        {
          "opacity": "0",
          "offset": 0.005
        },
        {
          "opacity": "1",
          "offset": {{ page.scroll_offset_for_header | default: 0.05}}
        },
        {
          "opacity": "1",
          "offset": 1
        }]
      }]
    }
  </script>
</amp-animation>

<!-- scroll offset is higher than 0.05 for pages shorter than index, lower for pages longer than index.
The value should be adjusted only enough to allow or approach 0% opacity at the very top of the page,
but priority should be ensuring that the opacity animation begins immediately on first scroll. -->