<div class="container mt-90 py-5">
  <h2 class="d-lg-none font-family-alt font-weight-bold text-center display-5 my-10">
    {{ page.heading }}
  </h2>
  <div class="row my-5 mx-auto d-flex justify-content-start">
    <div class="col-12 col-lg">
      <div class="row">
        {% for profile in page.profiles %}
          <div class="col-4 p-1">
            <!-- htmllint preset="none" -->
            <amp-img
              width="200"
              height="200"
              layout="responsive"
              class="img-fluid w-100 rounded photo-hover"
              src="https://gravatar.com/avatar/{{ profile.email | downcase | md5 }}?s=400&r=pg&d=retro"
              alt="{{ profile.name }}"
              title="{{ profile.name }}"
              on="tap:AMP.setState({
                selectedBio:'{{profile.bio}}',
                selectedName:'{{profile.name}}',
                selectedTitle:'{{profile.title}}'
              }),bio-section.scrollTo(duration=200)"
            ></amp-img>
            <!-- htmllint preset="$previous" -->
              <p class="p-1 text-center">
                {% if profile.links %}
                  {% for link in profile.links %}
                    <a href="{{ link.link }}" target="_blank" rel="noopener">
                      <!-- htmllint preset="none" -->
                      <i style="color: {{ link.hex }}" class="mx-1 {{ link.icon }}"></i>
                      <!-- htmllint preset="$previous" -->
                    </a>
                  {% endfor %}
                {% else %}
                  <a href="{{ profile.linkedin }}" target="_blank" rel="noopener">
                    {{ profile.name }}
                  </a>
                {% endif %}
              </p>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="py-10 col-12 d-md-none" id="bio-section"></div>
    <div class="col-12 col-md">
      <h2 class="d-none d-lg-block text-center font-family-alt font-weight-bold display-5 mb-5">
        {{ page.heading }}
      </h2>
      <p class="mx-5 p-5 rounded border shadow">
        <!-- htmllint preset="none" -->
        <span class="d-block font-weight-bold text-center" [text]="selectedName">About ACA</span>
        <small class="d-block font-weight-bold text-center mb-3" [text]="selectedTitle"></small>
        <span [text]="selectedBio">
          {{ page.defaultBio }}
        </span>
        <!-- htmllint preset="$previous" -->
      </p>
    </div>
  </div>
</div>
