<!-- OPEN GRAPH TAGS -->
<meta property="og:title" content="{{ page.title | liquify }}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://austincodingacademy.com{{ page.url }}">
<meta property="og:image" content="https://austincodingacademy.com/assets/images/logo-aca.png">
<meta property="og:description" content="{{ page.description | liquify }}">
<meta property="og:site_name" content="Austin Coding Academy" />
<meta property="og:locale" content="en_US" />
<!-- TWITTER TAGS -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@AustinCoding">
<meta name="twitter:creator" content="@AustinCoding">
<meta name="twitter:title" content="{{ page.title | liquify }}">
<meta name="twitter:description" content="{{ page.description | liquify }}">
<meta name="twitter:image" content="https://austincodingacademy.com/assets/images/logo-aca.png">