<!-- Team Section -->
<div class="container">
    <!-- Slick Carousel -->
    <div class="carousel1">
        <div class="px-3">
        <!-- Team -->
        <div class="row">
            <div class="studentStory col-sm-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
                <div class="w-100">
                    <h3 class="h5 mb-4">Maria Muszynska</h3>
                </div>
                <p class="font-size-1">
                    I am an ambitious workaholic, but apart from that, pretty simple person.
                </p>
            </div>
            <div class="col-sm-6">
                <img class="img-fluid rounded mx-auto" src="https://austincodingacademy.github.io/front/assets/img/350x400/img1.jpg" alt="Image Description">
            </div>
        </div>
        <!-- End Team -->
        </div>
    
        <div class="px-3">
        <!-- Team -->
        <div class="row">
            <div class=" col-sm-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
            <div class="w-100">
                <h3 class="h5 mb-4">Jack Wayley</h3>
            </div>
            <p class="font-size-1">I am an ambitious workaholic, but apart from that, pretty simple person.</p>

            </div>
            <div class="col-sm-6">
            <img class="img-fluid rounded mx-auto" src="https://austincodingacademy.github.io/front/assets/img/350x400/img2.jpg" alt="Image Description">
            </div>
        </div>
        <!-- End Team -->
        </div>
    </div>
    <!-- End Slick Carousel -->
</div>
<!-- End Team Section -->