<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="size-20"><strong>Lillian Situ</strong></h3>
      <h4 class="size-16">Software Engineer, Data.World</h4>
      <iframe
        src="https://player.vimeo.com/video/290925619"
        width="250"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
      ></iframe>
      <p class="size-14">
        "I've always been interested in programming and being able to create
        something so being able to take what I learned at ACA and get a job with
        it... was one of the best decisions I've made."
      </p>
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="size-20"><strong>Greg Swan</strong></h3>
      <h4 class="size-16">Web Developer, Kinetic Theory</h4>
      <iframe
        src="https://player.vimeo.com/video/290913789"
        width="250"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
      ></iframe>
      <p class="size-14">
        "ACA prepared me for the job market the way a high school teacher
        prepares you for college; they gave me a solid foundation of knowledge,
        taught me what not to do, and consistently reminded me that there was a
        job out there for me if I was willing to put in the work."
      </p>
    </div>
  </div>
</div>
