<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="size-20">Maria Muszynska</h3>
                    <h4 class="size-16">Some Company</h4>
                    <p class="size-14">
                        I am an ambitious workaholic, but apart from that, pretty simple person.
                    </p>
                </div>
                <div class="col-sm-6">
                    <img class="img-fluid rounded mx-auto" src="https://austincodingacademy.github.io/front/assets/img/350x400/img1.jpg" alt="Image Description">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="size-20">Jack Wayley</h3>
                    <h4 class="size-16">Some Company</h4>
                    <p class="size-14">
                        I am an ambitious workaholic, but apart from that, pretty simple person.
                    </p>
                </div>
                <div class="col-sm-6">
                    <img class="img-fluid rounded mx-auto" src="https://austincodingacademy.github.io/front/assets/img/350x400/img2.jpg" alt="Image Description">
                </div>
            </div>
        </div>
    </div>
</div>