<style amp-custom>
  :root {
    --color-primary: #2d2f77;
    --space-1: .5rem;  /* 8px */
    --space-4: 2rem;   /* 32px */
  }

  /* Styles for the flex layout based tabs */
  amp-selector[role=tablist].tabs-with-flex {
      display: flex;
      flex-wrap: wrap;
  }
  amp-selector[role=tablist].tabs-with-flex [role=tab] {
      flex-grow: 1;
      /* custom styling, feel free to change */
      text-align: center;
      padding: var(--space-1);
  }
  amp-selector[role=tablist].tabs-with-flex [role=tab][selected] {
      outline: none;
      /* custom styling, feel free to change */
      border-bottom: 2px solid var(--color-primary);
  }
  amp-selector[role=tablist].tabs-with-flex [role=tabpanel] {
      display: none;
      width: 100%;
      order: 1; /* must be greater than the order of the tab buttons to flex to the next line */
      /* custom styling, feel free to change */
      padding: var(--space-4);
  }
  amp-selector[role=tablist].tabs-with-flex [role=tab][selected] + [role=tabpanel] {
      display: block;
  }

  /* Styles for the selector based tabs */
  amp-selector[role=tablist].tabs-with-selector {
      display: flex;
  }
  amp-selector[role=tablist].tabs-with-selector [role=tab][selected] {
      outline: none;
      /* custom styling, feel free to change */
      border-bottom: 2px solid var(--color-primary);
  }
  amp-selector[role=tablist].tabs-with-selector {
      display: flex;
  }
  amp-selector[role=tablist].tabs-with-selector [role=tab] {
    /* custom styling, feel free to change */
    width: 100%;
    text-align: center;
    padding: var(--space-1);
  }
  amp-selector.tabpanels [role=tabpanel] {
    display: none;
    /* custom styling, feel free to change */
    padding: var(--space-4);
  }
  amp-selector.tabpanels [role=tabpanel][selected] {
    outline: none;
    display: block;
  }
</style>

<!-- Features Section -->

<script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>

<amp-selector class="tabs-with-flex"
  role="tablist">
  <div id="tab1"
    role="tab"
    class="tab-link"
    aria-controls="tabpanel1"
    option
    selected>Night Classes</div>
  <div id="tabpanel1"
    role="tabpanel"
    aria-labelledby="tab1"
  >
    <!-- Mockup Block -->
    <div class="row justify-content-lg-between align-items-lg-center">
      <div class="col-md mb-9 mb-lg-0">
        <!-- Info -->
        <div class="mb-5">
          <h3 class="h4 size-37">Dont worry, you can keep your day job.</h3>
          <p class="size-20">
            Unlike many coding bootcamps, which require full-time commitment
            and are hugely expensive, we go at a more steady pace offering
            part-time, in-person classes twice a week.
          </p>
          {% include btn-apply.html class="btn-wide" %}
        </div>
        <!-- End Info -->
      </div>

      <div class="d-none d-md-block col-md position-relative">
        <div class="pl-md-9">
          <img
            class="img-fluid shadow rounded"
            src="/assets/images/tab-dayjob.png"
            alt="Night Classes"
          />
        </div>
      </div>
    </div>
    <!-- End Mockup Block -->
  </div>
  <div id="tab2"
    role="tab"
    class="tab-link"
    aria-controls="tabpanel2"
    option>Innovative Curriculum</div>
  <div id="tabpanel2"
    role="tabpanel"
    aria-labelledby="tab2"
  >
    <!-- Mockup Block -->
    <div class="row justify-content-lg-between align-items-lg-center">
      <div class="col-md mb-9 mb-lg-0">
        <!-- Info -->
        <div class="mb-5">
          <h3 class="h4 size-37">We Help Keep You Relevant</h3>
          <p class="size-20">
            Our classes are taught by industry professionals currently working
            in the field and our curriculum is updated on a regular basis so
            you're always learning the most cutting-edge skills.
          </p>
          {% include btn-apply.html class="btn-wide" %}
        </div>
        <!-- End Info -->
      </div>

      <div class="d-none d-md-block col-md position-relative">
        <div class="pl-md-9">
          <img
            class="img-fluid shadow-sm rounded"
            src="/assets/images/tab-curriculum.png"
            alt="Innovative Curriculum"
          />
        </div>
      </div>
    </div>
    <!-- End Mockup Block -->
  </div>
  <div id="tab3"
    role="tab"
    class="tab-link"
    aria-controls="tabpanel3"
    option>Job Placement</div>
  <div id="tabpanel3"
    role="tabpanel"
    aria-labelledby="tab3"
  >
    <!-- Mockup Block -->
    <div class="row justify-content-lg-between align-items-lg-center">
      <div class="col-md mb-9 mb-lg-0">
        <!-- Info -->
        <div class="mb-5">
          <h3 class="h4 size-37">Job Placement Assistance</h3>
          <p class="size-20">
            We are committed to helping you get a job. We’ll show you how to
            craft your resume, setup networking events, introduce you to
            potential employers, and technical interviews.
          </p>
          {% include btn-apply.html class="btn-wide" %}
        </div>
        <!-- End Info -->
      </div>

      <div class="d-none d-md-block col-md position-relative">
        <div class="pl-md-9">
          <img
            class="img-fluid shadow-sm rounded"
            src="/assets/images/tab-jobplacement.png"
            alt="Job Placement"
          />
        </div>

        <!-- SVG Component -->
        <!-- End SVG Component -->
      </div>
    </div>
    <!-- End Mockup Block -->
  </div>
</amp-selector>
