<div class="container"">

<ul class="nav nav-tabs nav-justified" id="homeTabs" role="tablist">
    <div class="row" style="width: 100%; display: flex; justify-content: center;">
        <div class="col-4 noPadding">
            <li class="nav-item size20">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                    Night Classes
                </a>
            </li>
        </div>
        <div class="col-4 noPadding">
            <li class="nav-item size20">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                    Innovative Curriculum
                </a>
            </li>
        </div>
        <div class="col-4 noPadding">
            <li class="nav-item size20">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                    Job Placement
                </a>
            </li>
        </div>
    </div>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-4 mb-9 mb-lg-0">
          <!-- Info -->
          <div class="mb-5">
            <h3 class="h4 size37">Dont worry, you can
                keep your day job.</h3>
            <p class="size20">Unlike most coding bootcamps, which require 100% time commitment and are hugely expensive, we go at a more steady pace offering part-time, in-person classes twice a week.</p>
            <a href="#">
              <div class="wideButton primaryGradient ctaButton">
                Apply Now!
              </div>
            </a>
          </div>
          <!-- End Info -->
        </div>

        <div class="col-lg-7 position-relative">
          <div class="pl-md-9">
            <img class="img-fluid shadow rounded" src="/assets/images/tabs/dayjob.png" alt="Night Classes">
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-4 mb-9 mb-lg-0">
          <!-- Info -->
          <div class="mb-5">
            <h3 class="h4 size37">We Help Keep You Relevant</h3>
            <p class="size20">Our classes are taught by industry professionals currently working in the field and our curriculum is updated on a regular basis so you're alway learning the most cutting-edge skills.</p>
            <a href="#">
              <div class="wideButton primaryGradient ctaButton">
                  Apply Now!
              </div>
            </a>
          </div>
          <!-- End Info -->
        </div>

        <div class="col-lg-7 position-relative">
          <div class="pl-md-9">
            <img class="img-fluid shadow-sm rounded" src="/assets/images/tabs/curriculum.png" alt="Innovative Curriculum">
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-4 mb-9 mb-lg-0">
          <!-- Info -->
          <div class="mb-5">
            <h3 class="h4 size37">Job Placement Assistance</h3>
            <p class="size20">We are committed to helping you get a job. 
                We’ll show you how to craft your resume, setup  networking events, introduce you to potential employers, and  technical interviews.</p>
            <a href="#">
              <div class="wideButton primaryGradient ctaButton">
                  Apply Now!
              </div>
            </a>
          </div>
          <!-- End Info -->
        </div>

        <div class="col-lg-7 position-relative">
          <div class="pl-md-9">
            <img class="img-fluid shadow-sm rounded" src="/assets/images/tabs/jobplacement.png" alt="Job Placement">
          </div>
        </div>
      </div>
    </div>
</div>

</div>