<!-- Features Section -->
<div id="SVGmockupBg" class="svg-preloader container">
    <!-- Nav Classic -->
    <div class="position-relative w-lg-85 bg-white text-center z-index-2 mx-lg-auto">
      <ul class="nav tabNav nav-classic nav-rounded nav-justified" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link font-weight-medium active" id="pills-one-tab" data-toggle="pill" href="#pills-one" role="tab" aria-controls="pills-one" aria-selected="true">
            <div class="d-md-flex justify-content-md-center align-items-md-center">
              <figure class="ie-height-40 d-none d-md-block w-100 max-width-6 mr-3">
                <img class="js-svg-injector" src="https://austincodingacademy.github.io/front/assets/svg/icons/icon-19.svg" alt="SVG"
                     data-parent="#SVGmockupBg">
              </figure>
              Night Classes
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-medium" id="pills-two-tab" data-toggle="pill" href="#pills-two" role="tab" aria-controls="pills-two" aria-selected="false">
            <div class="d-md-flex justify-content-md-center align-items-md-center">
              <figure class="ie-height-40 d-none d-md-block w-100 max-width-6 mr-3">
                <img class="js-svg-injector" src="https://austincodingacademy.github.io/front/assets/svg/icons/icon-29.svg" alt="SVG"
                     data-parent="#SVGmockupBg">
              </figure>
              Innovative Curriculum
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-medium" id="pills-three-tab" data-toggle="pill" href="#pills-three" role="tab" aria-controls="pills-three" aria-selected="false">
            <div class="d-md-flex justify-content-md-center align-items-md-center">
              <figure class="ie-height-40 d-none d-md-block w-100 max-width-6 mr-3">
                <img class="js-svg-injector" src="https://austincodingacademy.github.io/front/assets/svg/icons/icon-5.svg" alt="SVG"
                     data-parent="#SVGmockupBg">
              </figure>
              Job Placement Assistance
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!-- End Nav Classic -->
  
    <!-- Tab Content -->
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade pt-9 show active" id="pills-one" role="tabpanel" aria-labelledby="pills-one-tab">
        <!-- Mockup Block -->
        <div class="row justify-content-lg-between align-items-lg-center">
          <div class="col-lg-4 mb-9 mb-lg-0">
            <!-- Info -->
            <div class="mb-5">
              <h3 class="h4 size37">Dont worry, you can
                  keep your day job.</h3>
              <p class="size20">Unlike most coding bootcamps, which require 100% time commitment and are hugely expensive, we go at a more steady pace offering part-time, in-person classes twice a week.</p>
              <a href="#">
                <div class="wideButton ctaButton">
                  Apply Now!
                </div>
              </a>
            </div>
            <!-- End Info -->
          </div>
  
          <div class="col-lg-7 position-relative">
            <div class="pl-md-9">
              <img class="img-fluid shadow rounded" src="https://austincodingacademy.github.io/front/assets/img/700x525/img1.jpg" alt="Image Description">
            </div>
          </div>
        </div>
        <!-- End Mockup Block -->
      </div>
      <div class="tab-pane fade pt-9" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab">
        <!-- Mockup Block -->
        <div class="row justify-content-lg-between align-items-lg-center">
          <div class="col-lg-4 mb-9 mb-lg-0">
            <!-- Info -->
            <div class="mb-5">
              <h3 class="h4 size37">We Help Keep You Relevant</h3>
              <p class="size20">Our classes are taught by industry professionals currently working in the field and our curriculum is updated on a regular basis so you're alway learning the most cutting-edge skills.</p>
              <a href="#">
                <div class="wideButton ctaButton">
                    Apply Now!
                </div>
              </a>
            </div>
            <!-- End Info -->
          </div>
  
          <div class="col-lg-7 position-relative">
            <div class="pl-md-9">
              <img class="img-fluid shadow-sm rounded" src="https://austincodingacademy.github.io/front/assets/img/700x525/img2.jpg" alt="Image Description">
            </div>
          </div>
        </div>
        <!-- End Mockup Block -->
      </div>
      <div class="tab-pane fade pt-9" id="pills-three" role="tabpanel" aria-labelledby="pills-three-tab">
        <!-- Mockup Block -->
        <div class="row justify-content-lg-between align-items-lg-center">
          <div class="col-lg-4 mb-9 mb-lg-0">
            <!-- Info -->
            <div class="mb-5">
              <h3 class="h4 size37">Job Placement Assistance</h3>
              <p class="size20">We are committed to helping you get a job. 
                  We’ll show you how to craft your resume, setup  networking events, introduce you to potential employers, and  technical interviews</p>
              <a href="#">
                <div class="wideButton ctaButton">
                    Apply Now!
                </div>
              </a>
            </div>
            <!-- End Info -->
          </div>
  
          <div class="col-lg-7 position-relative">
            <div class="pl-md-9">
              <img class="img-fluid shadow-sm rounded" src="https://austincodingacademy.github.io/front/assets/img/700x525/img3.jpg" alt="Image Description">
            </div>
  
            <!-- SVG Component -->
            <!-- End SVG Component -->
          </div>
        </div>
        <!-- End Mockup Block -->
      </div>
    </div>
    <!-- End Tab Content -->
  </div>
  <!-- End Features Section -->