<div class="card-deck d-block d-lg-flex card-lg-gutters-3">
        <div class="card card-frame text-center mb-5">
          <!-- Card -->
          <div class="card-body p-6">
            <div class="u-avatar mx-auto mb-4">
              <img class="img-fluid rounded" src="https://austincodingacademy.github.io/front/assets/img/160x160/img3.jpg" alt="Image Description">
            </div>
            <div class="mb-4">
              <h4 class="h6 mb-1">Javascript</h4>
              <p>Interactive web apps</p>
            </div>
            <a class="btn btn-sm btn-soft-primary btn-wide" href="#">View Details</a>
          </div>
          <!-- End Card -->
        </div>
      
        <div class="card card-frame text-center mb-5">
          <!-- Card -->
          <div class="card-body p-6">
            <div class="u-avatar mx-auto mb-4">
              <img class="img-fluid rounded" src="https://austincodingacademy.github.io/front/assets/img/160x160/img4.jpg" alt="Image Description">
            </div>
            <div class="mb-4">
              <h4 class="h6 mb-1">C# .NET</h4>
              <p>Interactive web apps (Microsoft)</p>
            </div>
            <a class="btn btn-sm btn-soft-primary btn-wide" href="#">View Details</a>
          </div>
          <!-- End Card -->
        </div>
      </div>