<div class="container mt-90 py-5">
  {% if page.permalink == "/tutors/" %}
    <amp-lightbox
      id="apply-now-lightbox"
      class="lightbox pt-10"
      layout="nodisplay"
      scrollable
      on="tap:apply-now-lightbox.close"
      tabindex="0"
      role="dialog"
    >
      <div class="container" on="tap:apply-now-lightbox.open" tabindex="0">
        <h2 class="font-family-alt font-weight-bold text-center display-5 mt-6 mb-0 p-5 text-white">
          Download Our Course Guide
        </h2>
      </div>
      <form class="d-flex justify-content-center align-items-center"
        target="_top"
        action-xhr="{{site.form_url}}/{{site.hubspot_portal_id}}/702969c4-4c75-4b99-b6d2-59d04d6ebd03"
        method="POST">
        <div class="form-container px-5 px-lg-11 mx-lg-11">
          <input name="lifecyclestage" type="hidden" value="marketingqualifiedlead">
          <input name="downloaded_a_courses_guide" type="hidden" value="true">
          <input name="hs_lead_status" type="hidden" value="NEW">
          <input name="page_name" type="hidden" value="{{page.title}}">
          <input name="page_uri" type="hidden" value="{{site.url}}{{page.url}}">
          <input name="hutk" type="hidden" value="">

          <div class="row center-form px-5 pb-3" on="tap:apply-now-lightbox.open" tabindex="0">
            <!-- Input -->
            <div class="col-sm-6">
              <div class="form-group">
                <label for="first-name" class="form-label text-white">
                  Name <span class="text-red">*</span>
                </label>

                <input id="first-name" type="text" class="form-control" name="firstname" placeholder="Name" aria-label="Your name"
                  required data-msg="Please enter your name." data-error-class="u-has-error" data-success-class="u-has-success" />
              </div>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="col-sm-6">
              <div class="form-group">
                <label for="email" class="form-label text-white">
                  Email <span class="text-red">*</span>
                </label>

                <input id="email" type="email" class="form-control" name="email" placeholder="Email" aria-label="Your email address"
                  required data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success" />
              </div>
            </div>
            <!-- End Input -->
            <div class="col-sm-6 d-flex flex-column justify-content-end text-white">
              {% include referral-question.html %}
            </div>

            <!-- Input -->
            <div class="col-sm-6 d-flex flex-column justify-content-end form-group">
              <label class="form-label text-white" for="best-describes">Which of these best describes you? <span class="text-red">*</span></label>
              <select id="best-describes" name="which_of_these_best_describes_you_" class="form-control" required>
                <option disabled selected value="">Select your answer</option>
                <option value="I'm researching coding bootcamps">I'm researching coding bootcamps</option>
                <option value="I'm teaching myself to code but I'm stuck">I'm teaching myself to code but I'm stuck</option>
                <option value="I'm interested in a career in tech">I'm interested in a career in tech</option>
                <option value="I'm an entrepreneur with an idea">I'm an entrepreneur with an idea</option>
                <option value="I'm looking for a college alternative">I'm looking for a college alternative</option>
                <option value="I want to learn a new skill for my current job">I want to learn a new skill for my current job</option>
              </select>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="col-12 d-flex align-items-end justify-content-center form-group">
              <button type="submit" class="btn btn-round btn-sm-block text-white bg-purple hover-white">
                View Guide
              </button>
            </div>
            <!-- End Input -->
            <div class="col-12 d-flex justify-content-center text-white">
              {% include data-agreement.html %}
            </div>
          </div>
        </div>

        <div class="text-center">
          <div submit-error>
            <template type="amp-mustache">
              <p class="text-red">There was an error with your request. Please try again.</p>
            </template>
          </div>
        </div>
      </form>
    </amp-lightbox>
  {% endif %}
  <h2 class="font-family-alt font-weight-bold text-center display-5 mt-10">
    Tutoring
  </h2>
  <h5 class="text-center mb-5 mx-auto">
    Austin Coding Academy offers unlimited tutoring to students and graduates!
  </h5>
  <div class="row mb-10">
    <div class="col-md">
      <h4 class="font-weight-bold">
        One-on-One Tutoring
      </h4>
      <ul class="fa-ul">
        <li class="mb-2">
          <span class="fa-li"><i class="fas fa-chevron-right"></i></span>
          Schedule an appointment with a tutor who is available for your class
        </li>
        <li class="mb-2">
          <span class="fa-li"><i class="fas fa-chevron-right"></i></span>
          Send a message on RocketChat to say hi, let the tutor know which class you're in,
          and confirm where you'll meet
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-chevron-right"></i></span>
          If you are unable to meet in person, Virtual Classroom is available for video chat
          and screen-sharing
        </li>
      </ul>
    </div>
    <div class="col-md">
      <h4 class="font-weight-bold">
        Group Coding &amp; Tutoring Sessions
      </h4>
      <ul class="fa-ul">
        <li class="mb-2">
          <span class="fa-li"><i class="fas fa-chevron-right"></i></span>
          Every weekend
          <a href="https://www.google.com/maps/place/314+E+Highland+Mall+Blvd,+Austin,+TX+78752/@30.3290949,-97.7136072,17z/data=!3m1!4b1!4m5!3m4!1s0x8644ca3c817930a1:0xdcef6c070dfbaef7!8m2!3d30.3290949!4d-97.7114185">
            @<span class="link-underlined">Highland Campus</span>
          </a>
        </li>
        <li class="mb-2">
          <span class="fa-li"><i class="fas fa-chevron-right"></i></span>
          Saturdays: 10am - 6pm
        </li>
        <li class="mb-2">
          <span class="fa-li"><i class="fas fa-chevron-right"></i></span>
          Sundays: 3pm - 6pm
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-chevron-right"></i></span>
          Check your email for a weekly invitation and list of tutors who will be there to help
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <!-- Tutors -->
    {% for tutor in site.menus.tutors %}
      {% if page.permalink == "/tutors/" %}
        {% assign splitName = tutor.name | split: " " %}
        {% assign name = splitName[0] %}
      {% else %}
        {% assign name = tutor.name %}
      {% endif %}
      <div class="col-6 col-md-3 mb-3">
        <div class="card text-center shadow">
          <div class="p-3 d-flex flex-column justify-content-between">
            <!-- Team -->
            <div>
              <div class="mx-auto mb-3">
                <!-- htmllint preset="none" -->
                <amp-img
                  width="100px"
                  height="100px"
                  layout="fixed"
                  class="rounded-circle"
                  src="http://gravatar.com/avatar/{{ tutor.email | downcase | md5 }}?s=100&r=pg&d=retro"
                  alt="{{tutor.name}}"
                ></amp-img>
                <!-- htmllint preset="$previous" -->
              </div>
              <h5 class="mb-0">
                {{ name }}
              </h5>
              <p class="small m-0">
                {% for skill in tutor.skills %}
                  {{skill}}{% unless skill == tutor.skills.last %} | {% endunless %}
                {% endfor %}
              </p>
              {% unless page.permalink == "/tutors/" %}
                <p class="small my-1">
                  <i>{{tutor.limitation}}</i>
                </p>
              {% endunless %}
            </div>
            <!-- End Team -->

            <!-- Contact -->
            <div class="mt-2">
              {% unless page.permalink == "/tutors/" %}
                <a href="{{tutor.rocketchat}}" rel="noopener" target="_blank">
                  <i class="display-7 fab fa-rocketchat"></i>
                </a>
                <a href="mailto:{{tutor.email}}" rel="noopener" target="_blank" class="ml-3">
                  <i class="display-7 fas fa-envelope"></i>
                </a>
              {% else %}
                <a href="#" on="tap:apply-now-lightbox.open" tabindex="0">
                  <i class="display-7 fab fa-rocketchat"></i>
                </a>
                <a href="#" on="tap:apply-now-lightbox.open" tabindex="0" class="ml-3">
                  <i class="display-7 fas fa-envelope"></i>
                </a>
              {% endunless %}
            </div>
            <!-- End Contact -->
          </div>

          <hr class="my-0">

          {% unless page.permalink == "/tutors/" %}
            <!-- htmllint preset="none" -->
            <a class="{% unless tutor.calendar %} disabled {% endunless %} btn btn-sm u-btn-primary--air transition-3d-hover" href="{{tutor.calendar}}" target="_blank">
            <!-- htmllint preset="$previous" -->
              <span class="far fa-calendar-alt mr-2"></span>
              Schedule Tutoring
            </a>
            <!-- htmllint preset="none" -->
            <a class="{% unless tutor.virtual %} disabled {% endunless %} btn btn-sm u-btn-primary--air transition-3d-hover" href="{{tutor.virtual}}" target="_blank">
            <!-- htmllint preset="$previous" -->
              <span class="fa fa-chalkboard-teacher mr-2"></span>
              Virtual Classroom
            </a>
          {% else %}
            <a href="#" on="tap:apply-now-lightbox.open" tabindex="0"
              class="btn btn-sm u-btn-primary--air transition-3d-hover"
            >
              <span class="far fa-calendar-alt mr-2"></span>
              Schedule Tutoring
            </a>
            <a href="#" on="tap:apply-now-lightbox.open" tabindex="0"
              class="btn btn-sm u-btn-primary--air transition-3d-hover"
            >
              <span class="fa fa-chalkboard-teacher mr-2"></span>
              Virtual Classroom
            </a>
          {% endunless %}
        </div>
      </div>
    {% endfor %}
    <!-- End Tutors -->
  </div>
</div>
