

/* @import '../_sass/index'; */

/* gradient-turq: 00b3d1 */
/* gradient-green: 7fc89a */

/* begin GLOBAL */
/*  */

body, p {
    font-family: "open sans", sans-serif;
    color: #303133;
}

.homeSection {
    margin-top: 100px;
    margin-bottom: 48px;
}

.sectionHeader {
    margin-bottom: 48px;
}

.montserratBold {
    font-family: "montserrat", sans-serif;
    font-weight: bold;
}

.centeredText {
    text-align: center;
}

.sectionText {
    font-size: 16px;
    color: #7E8697;
}

.headerTextMargins {
    margin-top: 84px;
    margin-bottom: 70px;
}

.size14 {
    font-size: 14px;
}

.size16 {
    font-size: 16px;
}

.size14 {
    font-size: 14px;
}

.size18 {
    font-size: 18px;
}

.size20 {
    font-size: 20px;
}

.size22 {
    font-size: 22px;
}

.size31 {
    font-size: 31px;
}

.size37 {
    font-size: 37px;
}

.size45 {
    font-size: 45px;
}

.bottom48 {
    margin-bottom: 48px;
}

.top12 {
    margin-top: 12px;
}

.top84 {
    margin-top: 84px;
}

.primaryGradient {
    background: linear-gradient(to right, #00b3d1, #7fc89a);
}

/*  */
/* end DEFAULT */


/* begin HEADER */
/*  */

.outlinedCTA {
    color: #ffffff;
    width: 135px;
    height: 44px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    background-repeat: no-repeat;
    border: 3px;
    border-style: solid;
    border-color: transparent;
    border-image-source: url(/assets/images/applyButton.svg);
    border-image-repeat: stretch stretch;
    border-image-slice: 21;
    border-image-width: 135px;
}

.hoverScaleButton:hover {
    transform: scale(1.05);
}

#header {
    padding: 17px 0;
}

#logoAndNav img {
    width: 90px;
}

#navBar ul {
    display: flex;
    justify-content: flex-end;
}

#navBar li {
    font-weight: bold;
}

#navBar .btn {
    width: 135px;
}

.whiteText {
    color: #ffffff !important;
}

.u-header--bg-transparent .u-header__navbar-nav {
    background-color: #303133;
}

@media (min-width: 768px) {
    .u-header--bg-transparent .u-header__navbar-nav {
        background-color: rgb(0,0,0,0);
    }
}

/* alt header below */

.headerApply {
    width: 140px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerBlue {
    background-color: #202254;
    padding: 17px 0;
    position: relative;
    width: 100%;
}


/* end HEADER */

/* begin HERO */
/*  */

/* #heroText {
    margin-top: 90px;
} */

.heroTitle {
    margin-bottom: 16px;
}

.wideButton {
    width: 228px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.ctaButton {
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
}

.infoButton {
    border: 3px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
}

#heroButtons {
    display: flex;
    justify-content: space-between;
    width: 491px;
}

.mb-57 {
    margin-bottom: 57px;
}

/*  */
/* end HERO */

/* begin TABS */
/*  */

#homeTabs {
    box-sizing: border-box;
    border-bottom: 0;
    box-shadow: 0 0 1px 1px rgba(140, 152, 164, 0.15);
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px
}

.noPadding {
    padding: 0;
}

.nav-tabs .nav-link {
    color: #303133;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-tabs .nav-link:hover {
    color: #00b3d1;
    border: 0;
    transform: none;
}

.nav-tabs .nav-link.active {
    color: #303133;
    font-weight: bold !important;

    border-width: 0;
    border-bottom: 3px solid #2d2f77;
    /* -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(#00b3d1), to(#7fc89a)) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(left, #00b3d1, #7fc89a) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(left, #00b3d1, #7fc89a) 1 100%;    
    -o-border-image:
      -o-linear-gradient(left, #00b3d1, #7fc89a) 1 100%;
    border-image:
      linear-gradient(to right, #00b3d1, #7fc89a) 1 100%; */
}

.hiddenIcon {
    /* visibility:hidden; */
    display: none;
}

/*  */
/* end TABS */

/* begin TRACKS */
/*  */

.card-deck {
    width: 100%;
}

.trackCard {
    max-width: 538px;
    max-height: 531px;
}

.stockBlueButton {
    font-size: 20px;
    border-radius: 50px;
    background-color: #2d2f77 !important;
    width: 228px;
}

/*  */
/* end TRACKS */

/* begin INSTRUCTORS */
/*  */

/*  */
/* end INSTRUCTORS */

.cardBlock {
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*  */
/* begin GRADCOMPANIES */

.companyLogoDiv {
    width: 270px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767.98px) {
    .companyLogoDiv {
        width: 135px;
        height: 80px;
    }

    .logoSection {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* end GRADCOMPANIES */
/*  */

/* begin CTA */
/*  */

.ctaSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/*  */
/* end CTA */

/* begin CONTACTUS */
/*  */

.centerForm {
    max-width: 800px;
    margin: 0 auto;
}

.centerForm .sendButton {
    max-width: 500px;
}

.sendButton {
    height: 50px;
    width: 100%;
    background-color: #2d2f77 !important;
    border-radius: 3px;
}

/*  */
/* end CONTACTUS */

/* begin FOOTER */
/*  */

footer p {
    padding: 0 10px;
    margin: 25px 0;
    font-size: 16px;
}

.footerTitle {
    font-size: 20px;
    font-weight: bold;
}

footer .list-group {
    margin-top: 50px;
}

footer .list-group-item {
    font-size: 18px !important;
}

/*  */
/* end FOOTER */

/* begin GRIEVANCEPOLICY */
/*  */

.policyBlock {
    max-width: 890px;
    width: 64.3%;
    padding: 80px;
    margin: 255px auto 215px;
    border: 1px solid #E7EAF3;
    border-radius: 4px;
}

.policyBlock .row {
    margin: 0;
}

.policyBlock p, .policyBlock ul {
    margin:0 0 25px;
    width: 100%;
    color: #77838F;
}

/*  */
/* end GRIEVANCEPOLICY */

/* begin CONTACTPAGE */
/*  */

.formLabel {
    font-family: "open sans", sans-serif;
    font-size: 13px;
}

/*  */
/* end CONTACTPAGE */

/* begin FAQ */
/*  */

.accordionSection {
    margin: 0 auto 98px;
    max-width: 1110px;

}

/*  */
/* end FAQ */

/* begin TUITION */
/*  */

#tuitionHero {
    background-color: #2d2f77;
    width: 100%;
    height: 392px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*  */
/* end TUITION */