.grecaptcha-badge {
  visibility: hidden;
}

body {
  font-family: "open sans", sans-serif;
  color: #303133;
}

.text-purple {
  color: #2d2f77 !important;
}
.text-yellow {
  color: #f5b02c !important;
}
.text-red {
  color: #ef4a2a !important;
}
.text-blue {
  color: #00b3d1 !important;
}
.text-green {
  color: #7fc89a !important;
}

.bg-purple {
  background-color: #2d2f77 !important;
}
.bg-yellow {
  background-color: #f5b02c !important;
}
.bg-red {
  background-color: #ef4a2a !important;
}
.bg-blue {
  background-color: #00b3d1 !important;
}
.bg-green {
  background-color: #7fc89a !important;
}

.btn-purple {
  color: #fff;
  background-color: #2d2f77;
  border-color: #2d2f77;
}

.btn-wide {
  padding-left: 5rem;
  padding-right: 5rem;
}

.btn-round {
  border-radius: 2rem;
}

.font-family-alt {
  font-family: "montserrat", sans-serif !important;
}

/* CUSTOM FONT SIZING */

.size-10 {
  font-size: 10px;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px !important;
}

.size-20 {
  font-size: 20px;
}

.font-size-large {
  font-size: 1.05em;
}

.display-5 {
  font-size: 3rem !important;
  font-weight: 300 !important;
  line-height: 1.2 !important;
}

.display-6 {
  font-size: 2rem !important;
  font-weight: 300 !important;
  line-height: 1.2 !important;
}

.display-7 {
  font-size: 1.95rem !important;
}

.flex-1 {
  flex: 1 !important;
}

.hero {
  background-position: 0 -1px;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-text {
  font-size: 16px;
  color: #7e8697;
}

/* CUSTOM MARGINS */

.bottom-48 {
  margin-bottom: 48px;
}

.top-84 {
  margin-top: 84px;
}

.vertical-120 {
  margin: 120px auto;
}

/* CUSTOM GRADIENTS */

.primary-gradient {
  background: linear-gradient(to right, #00b3d1, #7fc89a);
  color: white;
}

.primary-gradient:hover {
  color: #e6e5e0;
}

.alt-gradient {
  background: linear-gradient(to right, #2d2f77, #00b3d1);
}

/* CUSTOM BUTTONS */

.outlined-cta {
  min-width: 182px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  background-repeat: no-repeat;
  border: 3px;
  border-style: solid;
  border-color: transparent;
  border-image-source: url(/assets/images/apply-button.svg);
  border-image-repeat: stretch stretch;
  border-image-slice: 21;
  border-image-width: 182px;
}

.stock-blue-button {
  font-size: 20px;
  border-radius: 50px;
  background-color: #2d2f77 !important;
  width: 228px;
}

/* CUSTOM SECTION WIDTH */

.narrow {
  max-width: 850px;
}

.extra-narrow {
  max-width: 600px;
}

/* HEADER */

#sidebar button {
  min-width: 182px;
}

#sidebar div:hover #hidden-list {
  display: block !important;
}

/* Position Dropdown */
nav ul ul {
  top: 60px; /* the height of the main nav */
}

footer ul ul {
  bottom: 155px;
  left: 88px;
}

/* Display Dropdowns on Hover */
#nav-bar ul li:hover > ul {
  display:inherit !important;
}

footer ul li:hover > ul {
  display:inline !important;
}

/* First Tier Dropdown */
nav ul ul li {
  width:140px;
  float:none;
  display:list-item;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3px 0 3px 10px;
}

footer ul li ul {
  width:140px;
  float:none;
  display:list-item;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3px 0 3px 10px;
}

@media (max-width: 991.98px) {
  footer ul ul {
    left: 220px;
  }
}

@media (max-width: 767.98px) {
  footer ul ul {
    bottom: 155px;
    left: 175px;
  }
  footer ul li ul {
    width: 120px;
  }
}

/* INDEX */

.company-logo-div {
  width: 270px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767.98px) {
  .company-logo-div {
    width: 135px;
    height: 80px;
  }
}

/* AMP TABS */

/* htmllint preset="none" */
:root {
  --color-primary: #2d2f77;
  --space-1: .5rem;  /* 8px */
  --space-4: 2rem;   /* 32px */
}

/* Styles for the flex layout based tabs */
amp-selector[role=tablist].tabs-with-flex {
  display: flex;
  flex-wrap: wrap;
}
amp-selector[role=tablist].tabs-with-flex [role=tab] {
  flex-grow: 1;
  /* custom styling, feel free to change */
  text-align: center;
  padding: var(--space-1);
}
amp-selector[role=tablist].tabs-with-flex [role=tab][selected] {
  outline: none;
  /* custom styling, feel free to change */
  border-bottom: 2px solid var(--color-primary);
}
amp-selector[role=tablist].tabs-with-flex [role=tabpanel] {
  display: none;
  width: 100%;
  order: 1; /* must be greater than the order of the tab buttons to flex to the next line */
  /* custom styling, feel free to change */
  padding: var(--space-4);
}
amp-selector[role=tablist].tabs-with-flex [role=tab][selected] + [role=tabpanel] {
  display: block;
}

/* Styles for the selector based tabs */
amp-selector[role=tablist].tabs-with-selector {
  display: flex;
}
amp-selector[role=tablist].tabs-with-selector [role=tab][selected] {
  outline: none;
  /* custom styling, feel free to change */
  border-bottom: 2px solid var(--color-primary);
}
amp-selector[role=tablist].tabs-with-selector {
  display: flex;
}
amp-selector[role=tablist].tabs-with-selector [role=tab] {
  /* custom styling, feel free to change */
  width: 100%;
  text-align: center;
  padding: var(--space-1);
}
amp-selector.tabpanels [role=tabpanel] {
  display: none;
  /* custom styling, feel free to change */
  padding: var(--space-4);
}
amp-selector.tabpanels [role=tabpanel][selected] {
  outline: none;
  display: block;
}
/* htmllint preset="$previous" */

/* FORMS */

#policy-form li {
  color: #77838f;
}

.center-form {
  max-width: 800px;
  margin: 0 auto;
}

.send-button {
  height: 50px;
  width: 100%;
  background-color: #2d2f77 !important;
  border-radius: 3px;
}

.center-form .send-button {
  max-width: 500px;
}

.floating-button {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

/* HUBSPOT */

.form-columns-2, .form-columns-1, .form-columns-3, .hs-input {
  max-width: 100% !important;
}
[type='text'],  {
  width: 100% !important;
}
div:not(.form-columns-1) .hs-form-field:not(.hs-form-field:first-child) {
  padding-left: 10px;
}

/* TUTORS */

.card-deck .card {
  min-width: 260px;
  max-width: 345px;
}