

/* @import '../_sass/index'; */

/* gradient-turq: 00b3d1 */
/* gradient-green: 7fc89a */

/* gradient-blue: 00b3d1 */

/* begin GLOBAL */
/*  */

body, p {
    font-family: "open sans", sans-serif;
    color: #303133;
}

.font-family-alt {
    font-family: "montserrat", sans-serif;
}

.display-5 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.flex-1 {
    flex: 1;
}

.section-text {
    font-size: 16px;
    color: #7E8697;
}

.size-10 {
    font-size: 10px;
}

.size-14 {
    font-size: 14px;
}

.size-15 {
    font-size: 15px;
}

.size-16 {
    font-size: 16px;
}

.size-18 {
    font-size: 18px;
}

.size-20 {
    font-size: 20px;
}

.size-31 {
    font-size: 31px;
}

.size-37 {
    font-size: 37px;
}

.bottom-48 {
    margin-bottom: 48px;
}

.primary-gradient {
    background: linear-gradient(to right, #00b3d1, #7fc89a);
}

.stock-blue-button {
    font-size: 20px;
    border-radius: 50px;
    background-color: #2d2f77 !important;
    width: 228px;
}

.narrow {
    max-width: 850px;
}

/*  */
/* end DEFAULT */


/* begin HEADER */
/*  */


#logo-and-nav {
    max-width: 95%;
}

#logo-and-nav img {
    width: 90px;
}

#nav-bar ul {
    display: flex;
    justify-content: flex-end;
}

#nav-bar li {
    font-weight: bold;
}

#nav-bar .btn {
    width: 135px;
}

.u-header--bg-transparent .u-header__navbar-nav {
    background-color: #303133;
}

@media (min-width: 768px) {
    .u-header--bg-transparent .u-header__navbar-nav {
        background-color: rgb(0,0,0,0);
    }
}

/*  */
/* end HEADER */

/* begin HERO */
/*  */

.hover-scale-button:hover {
    transform: scale(1.05);
}

.wide-button {
    width: 228px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.cta-button {
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
}

.info-button {
    border: 3px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
}

@media (max-width: 767.98px) {
    #home-hero {
        height: 700px;
    }

    #hero-buttons {
        width: 100%;
        justify-content: space-around;
    }
    .wide-button {
        width: 175px;
    }

    #home-hero-content .display-3 {
        font-size: 50px;
    }

    #home-hero-content .size-31 {
        font-size: 20px;
    }
}

@media (max-width: 575.98px) {
    #home-hero {
        height: 600px;
    }

    #hero-buttons {
        width: 100%;
        justify-content: space-around;
    }
    .wide-button {
        width: 175px;
    }

    #home-hero-content .size-37 {
        font-size: 35px;
    }

    #home-hero-content .size-31 {
        font-size: 15px;
    }
}

/*  */
/* end HERO */

/* begin CONTACT */
/*  */

.center-form {
    max-width: 800px;
    margin: 0 auto;
}

.center-form .send-button {
    max-width: 500px;
}

.send-button {
    height: 50px;
    width: 100%;
    background-color: #2d2f77 !important;
    border-radius: 3px;
}

/*  */
/* end CONTACT */

/* begin FORMS */
/*  */

.form-outline {
    max-width: 890px;
    width: 64.3%;
    padding: 80px;
    margin: 115px auto 200px;
    border: 1px solid #E7EAF3;
    border-radius: 4px;
}

.form-outline .row {
    margin: 0;
}

.form-outline p, .form-outline ul {
    margin:0 0 25px;
    width: 100%;
    color: #77838F;
}

/*  */
/* end FORMS */
