

/* @import '../_sass/index'; */

/* gradient-turq: 00b3d1 */
/* gradient-green: 7fc89a */

/* begin INDEX */
/*  */

body {
    font-family: "open sans", sans-serif;
    color: #303133;
    margin: 0 20px;
}

.sectionHeader {
    margin-top: 148px;
    margin-bottom: 48px;
}

.sectionTitle {
    font-family: "montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
}

.sectionText {
    font-size: 16px;
    color: #7E8697;
    text-align: center;
}

.size14 {
    font-size: 14px;
}

.size16 {
    font-size: 16px;
}

.size14 {
    font-size: 14px;
}

.size20 {
    font-size: 20px;
}

.size31 {
    font-size: 31px;
}

.size37 {
    font-size: 37px;
}

.size45 {
    font-size: 45px;
}

/* Margin fix */

#SVGGraphicIllustration1, footer {
    margin: 0 -20px;
}

/*  */
/* end INDEX */


/* begin HEADER */
/*  */

.outlinedCTA {
    color: #ffffff;
    width: 135px;
    height: 44px;
    border: 3px solid #2d2f77;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hoverScaleButton:hover {
    transform: scale(1.05);
}

#header {
    margin-top: 36px;
}

#logoAndNav img {
    width: 90px;
}

#navBar li {
    font-weight: bold;
}

#navBar .btn {
    width: 135px;
}

.whiteText {
    color: #ffffff !important;
}

/* end HEADER */

/* begin HERO */
/*  */

.montserratBold {
    font-family: "montserrat", sans-serif;
    font-weight: bold;
    margin-bottom: 16px;
    color: #ffffff;
    font-size: 77px;
}

.wideButton {
    width: 228px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctaButton {
    background: linear-gradient(to right, #00b3d1, #7fc89a);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
}

.infoButton {
    border: 3px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
}

#heroButtons {
    display: flex;
    justify-content: space-between;
    width: 491px;
}

.mb-57 {
    margin-bottom: 57px;
}

/*  */
/* end HERO */

/* begin TABS */
/*  */

.tabNav {
    border-bottom: 0;
    box-shadow: 0 0 1px 1px rgba(140, 152, 164, 0.15);
}

/*  */
/* end TABS */

/* begin TRACKS */
/*  */

.trackCard {
    max-width: 538px;
    max-height: 531px;
}

.blueButton {
    font-size: 20px;
    color: #ffffff;
    border-radius: 50px;
    background-color: #2d2f77 !important;
    width: 228px;
}

/*  */
/* end TRACKS */

/* begin INSTRUCTORS */
/*  */

/*  */
/* end INSTRUCTORS */

.cardBlock {
    padding: 0 100px;
}

/*  */
/* begin GRADCOMPANIES */

.companyLogoDiv {
    width: 270px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* end GRADCOMPANIES */
/*  */

/* begin CTA */
/*  */

.ctaSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/*  */
/* end CTA */

/* begin CONTACTUS */
/*  */

.centerForm {
    max-width: 900px;
    margin: 0 auto;
}

/*  */
/* end CONTACTUS */

/* begin FOOTER */
/*  */

footer p {
    padding: 0 10px;
    margin: 25px 0;
    font-size: 16px;
    color: #ffffff;
}

footer .list-group {
    margin-top: 50px;
}

footer .list-group-item {
    font-size: 18px !important;
}

/*  */
/* end FOOTER */