/* @import '../_sass/index'; */

/* gradient-turq: 00b3d1 */
/* gradient-green: 7fc89a */

/* gradient-blue: 00b3d1 */

/* begin GLOBAL */
/*  */

/*  */

.text-purple {
  color: #2d2f77 !important;
}
.text-yellow {
  color: #f5b02c !important;
}
.text-red {
  color: #ef4a2a !important;
}
.text-blue {
  color: #00b3d1 !important;
}
.text-green {
  color: #7fc89a !important;
}

.bg-purple {
  background-color: #2d2f77 !important;
}
.bg-yellow {
  background-color: #f5b02c !important;
}
.bg-red {
  background-color: #ef4a2a !important;
}
.bg-blue {
  background-color: #00b3d1 !important;
}
.bg-green {
  background-color: #7fc89a !important;
}


body,
p {
  font-family: "open sans", sans-serif;
  color: #303133;
}

.font-family-alt {
  font-family: "montserrat", sans-serif;
}

.display-5 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

.flex-1 {
  flex: 1;
}

.pt-14 {
  padding-top: 14rem;
}

.section-text {
  font-size: 16px;
  color: #7e8697;
}

.size-10 {
  font-size: 10px;
}

.size-14 {
  font-size: 14px;
}

.size-15 {
  font-size: 15px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-20 {
  font-size: 20px;
}

.size-31 {
  font-size: 31px;
}

.size-37 {
  font-size: 37px;
}

.bottom-48 {
  margin-bottom: 48px;
}

.primary-gradient {
  background: linear-gradient(to right, #00b3d1, #7fc89a);
}

.stock-blue-button {
  font-size: 20px;
  border-radius: 50px;
  background-color: #2d2f77 !important;
  width: 228px;
}

.narrow {
  max-width: 850px;
}

.narrow-mini {
  max-width: 600px;
}

.hover-scale-button:hover {
  transform: scale(1.05);
}

.wide-button {
  width: 228px !important;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.cta-button {
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 30px;
}

.info-button {
  border: 3px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 30px;
}

/*  */
/* end HERO */

/* begin CONTACT */
/*  */

.center-form {
  max-width: 800px;
  margin: 0 auto;
}

.center-form .send-button {
  max-width: 500px;
}

.send-button {
  height: 50px;
  width: 100%;
  background-color: #2d2f77 !important;
  border-radius: 3px;
}

/*  */
/* end CONTACT */

/* begin FORMS */
/*  */

/*  */
/* end FORMS */

.section-margin {
  margin: 120px auto;
}

.floating-button {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}
