<style>
  #home-hero {
    background-image: url(/assets/images/placeholders/Artboard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
  }
</style>

<div id="home-hero" class="container-fluid m-0 w-100 vh-100">
  <div class="pt-14">
    <div class="">
      <h1 class="text-white font-family-alt font-weight-bold display-3 text-center text-md-left">
        Change Your Life <br />
        With a New Career
      </h1>
      <p class="text-white size-31 text-center text-md-left">
        Part-time coding classes instructed<br />
        by full-time developers here in Austin, TX
      </p>
    </div>
    <div class="d-flex justify-content-center justify-content-md-start">
      <a class="ml-2 wide-button info-button hover-scale-button" href="/faq">
        Learn More
      </a>
      <a
        class="ml-2 wide-button cta-button primary-gradient hover-scale-button"
        href="/apply"
      >
        Apply Now!
      </a>
    </div>
  </div>
</div>
