<style>
  #home-hero {
    background-image: url(/assets/images/placeholders/Artboard.png);
    background-position: 0 -1px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
</style>

<div id="home-hero" class="container-fluid w-100">
  <div class="pt-14">
    <h1 class="text-white font-family-alt font-weight-bold display-3">
      Change Your Life <br />
      With a New Career
    </h1>
    <p class="text-white size-31">
      Part-time coding classes instructed<br />
      by full-time developers here in Austin, TX
    </p>
    <div class="d-flex justify-content-center justify-content-md-start">
      <a class="ml-2 wide-button info-button hover-scale-button" href="/faq">
        Learn More
      </a>
      <a
        class="ml-2 wide-button cta-button primary-gradient hover-scale-button"
        href="/apply"
      >
        Apply Now!
      </a>
    </div>
  </div>
</div>
