<div class="d-block d-lg-flex card-lg-gutters-3 justify-content-center">
  <div class="card card-frame text-center mb-5 flex-1">
    <!-- Card -->
    <div class="card-body p-6">
      <div class="u-avatar mx-auto mb-4">
        <img
          class="img-fluid rounded"
          src="/assets/images/tracks/icon-JavaScript.png"
          alt="Image Description"
        />
      </div>
      <div class="mb-4">
        <h4 class="h6 mb-1 size-31">Full-Stack JavaScript</h4>
        <p>
          Become a Full-Stack JavaScript developer and land a job at a company
          like Facebook or a startup by learning the JavaScript coding language.
        </p>
      </div>
      <a
        class="btn stock-blue-button text-white hover-scale-button"
        href="/javascript/"
        >Learn More</a
      >
    </div>
    <!-- End Card -->
  </div>

  <div class="card card-frame text-center mb-5 flex-1">
    <!-- Card -->
    <div class="card-body p-6">
      <div class="u-avatar mx-auto mb-4">
        <img
          class="img-fluid rounded"
          src="/assets/images/tracks/icon-C.png"
          alt="Image Description"
        />
      </div>
      <div class="mb-4">
        <h4 class="h6 mb-1 size-31">C# and .NET</h4>
        <p>
          Become a .NET developer and land a job at a company like Frost Bank or
          General Motors by learning the C# coding language, .NET Framework,
          SQL, and React.js
        </p>
      </div>
      <a
        class="btn stock-blue-button text-white hover-scale-button"
        href="/csharp"
        >Learn More</a
      >
    </div>
    <!-- End Card -->
  </div>
</div>
