<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Austin Coding Academy</title>

    <!-- Favicon -->
    {% include favicon.html %}
    {% include sharing.html %}

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans"
      rel="stylesheet"
    />

    <!-- begin DEFAULT -->
    <!-- CSS Implementing Plugins -->
    <link
      rel="stylesheet"
      href="https://austincodingacademy.github.io/front/assets/vendor/font-awesome/css/fontawesome-all.min.css"
    />

    <!-- CSS Front Template -->
    <link
      rel="stylesheet"
      href="https://austincodingacademy.github.io/front/assets/css/theme.css"
    />
    <!-- end DEFAULT -->

    <!-- begin HEADER -->
    <link
      rel="stylesheet"
      href="https://austincodingacademy.github.io/front/assets/vendor/font-awesome/css/fontawesome-all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://austincodingacademy.github.io/front/assets/vendor/animate.css/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://austincodingacademy.github.io/front/assets/vendor/hs-megamenu/src/hs.megamenu.css"
    />
    <!-- end HEADER -->

    <!-- begin INSTRUCTORS -->
    <link
      rel="stylesheet"
      href="https://austincodingacademy.github.io/front/assets/vendor/slick-carousel/slick/slick.css"
    />
    <!-- end INSTRUCTORS -->

    <!-- begin STUDENTSTORIES -->
    <link
      rel="stylesheet"
      href="https://austincodingacademy.github.io/front/assets/vendor/slick-carousel/slick/slick.css"
    />
    <!-- end STUDENTSTORIES -->

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/css/main.css"
    />

    {% include google-tag-manager-head.html %}

    {{ page.head }}
  </head>

  <body>
    {% include google-tag-manager-body.html %}
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <!-- begin BOOTSTRAP -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- end BOOTSTRAP -->

    <!-- begin DEFAULT-->
    <!-- JS Global Compulsory -->
    <script src="https://austincodingacademy.github.io/front/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://austincodingacademy.github.io/front/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="https://austincodingacademy.github.io/front/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://austincodingacademy.github.io/front/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Front -->
    <script src="https://austincodingacademy.github.io/front/assets/js/hs.core.js"></script>
    <!-- end DEFAULT -->

    <!-- begin HEADER -->
    <!-- JS Implementing Plugins -->

    <!-- end HEADER -->

    <!-- begin CONTACTUS -->
    <!-- JS Implementing Plugins -->
    <script src="https://austincodingacademy.github.io/front/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

    <!-- JS Front -->
    <script src="https://austincodingacademy.github.io/front/assets/js/components/hs.validation.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on("ready", function() {
        // initialization of form validation
        $.HSCore.components.HSValidation.init(".js-validate");
      });
    </script>
    <!-- end CONTACTUS -->
    <!-- JS Implementing Plugins -->
    <script src="https://austincodingacademy.github.io/front/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="https://austincodingacademy.github.io/front/assets/vendor/svg-injector/dist/svg-injector.min.js"></script>

    <!-- JS Front -->
    <script src="https://austincodingacademy.github.io/front/assets/js/components/hs.header.js"></script>
    <script src="https://austincodingacademy.github.io/front/assets/js/components/hs.svg-injector.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>

    <script src="/assets/javascripts/index.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(window).on("load", function() {
        // initialization of HSMegaMenu component
        $(".js-mega-menu").HSMegaMenu({
          event: "hover",
          pageContainer: $(".container"),
          breakpoint: 767.98,
          hideTimeOut: 0
        });

        // initialization of svg injector module
        $.HSCore.components.HSSVGIngector.init(".js-svg-injector");
      });

      $(document).on("ready", function() {
        // initialization of header
        $.HSCore.components.HSHeader.init($("#header"));
      });
    </script>
  </body>
</html>
