<!DOCTYPE html>
<!-- htmllint preset="none" -->
<html {% if site.baseurl == '/amp' %}amp{% endif %}>
<!-- htmllint preset="$previous" -->
  <head>
    <meta charset="utf-8" />
    <title>
      {{ page.title | default: 'Austin Coding Academy | Learn to Code, Change Your Life' }}
    </title>

    <meta
      name="description"
      content="{{ page.description | default : 'At Austin Coding Academy, we fit learning to code into your life with a flexible &amp; affordable array of options, all taught by current industry professionals. Don’t wait - embark on a new career today!' }}"
    />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% include favicon.html %}

    {% include sharing.html %}

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <meta name="google-site-verification" content="jkleIrKMsvd6h90Snp1t76vMEqZcQVBvpl7L_IGnZA0" />

    {% include amp.html %}

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    {% capture amp_css %}{% file_exists _includes/css.html %}{% endcapture %}
    {% if amp_css == "true" %}
      {% include css.html %}
    {% else %}
      <link rel="stylesheet" href="https://austincodingacademy.github.io/front/assets/css/theme.css">
      <link rel="stylesheet" href="/assets/css/main.css">
    {% endif %}

    {% if site.baseurl == '/amp' %}
      {% include google-tag-manager-head-amp.html%}
      <link rel="canonical" href="{{site.url}}{{page.url}}">
    {% else %}
      {% include google-tag-manager-head.html %}
      <link rel="amphtml" href="{{site.url}}/amp{{page.url}}">
    {% endif %}

    {{ page.head }}
  </head>

  <body>
    {% if site.baseurl == '/amp' %}
      {% include google-tag-manager-body-amp.html  page_url=page.url %}
    {% else %}
      {% include google-tag-manager-body.html %}
    {% endif %}

    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </body>
</html>
