<!DOCTYPE html>
<html amp>
  <head>

    <meta charset="utf-8" />
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="canonical" href="https://www.austincodingacademy.com">
    <title>{{page.title | default: "Austin Coding Academy"}}</title>
    <meta name="description" content="{{page.description}}">
    <style
      amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    </style></noscript>


    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon -->
    {% include favicon.html %}
    {% include sharing.html %}

    <!-- Required meta tags -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans"
      rel="stylesheet"
    />

    <!-- begin DEFAULT -->
    <!-- CSS Implementing Plugins -->
    <link
      rel="stylesheet"
      href="https://austincodingacademy.github.io/front/assets/vendor/font-awesome/css/fontawesome-all.min.css"
    />

    <!-- CSS Front Template -->
    <link
      rel="stylesheet"
      href="https://austincodingacademy.github.io/front/assets/css/theme.css"
    />
    <!-- end DEFAULT -->

    <!-- begin HEADER -->
    <link
      rel="stylesheet"
      href="https://austincodingacademy.github.io/front/assets/vendor/font-awesome/css/fontawesome-all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://austincodingacademy.github.io/front/assets/vendor/animate.css/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://austincodingacademy.github.io/front/assets/vendor/hs-megamenu/src/hs.megamenu.css"
    />
    <!-- end HEADER -->

    <!-- begin INSTRUCTORS -->
    <link
      rel="stylesheet"
      href="https://austincodingacademy.github.io/front/assets/vendor/slick-carousel/slick/slick.css"
    />
    <!-- end INSTRUCTORS -->

    <!-- begin STUDENTSTORIES -->
    <link
      rel="stylesheet"
      href="https://austincodingacademy.github.io/front/assets/vendor/slick-carousel/slick/slick.css"
    />
    <!-- end STUDENTSTORIES -->

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/css/main.css"
    />

    {% include google-tag-manager-head.html %}

    {{ page.head }}

    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>

  </head>

  <body>
    {% include google-tag-manager-body.html %}
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <!-- begin BOOTSTRAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- end BOOTSTRAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
    <script src="/assets/javascripts/index.js"></script>
  </body>
</html>
