---
layout: default
---
<!-- ========== MAIN ========== -->
<main id="content" role="main" class="mt-90">
  <!-- Description Section -->
  <div class="container space-top-1 d-flex flex-column">
    <amp-img
      src="{{ page.img }}"
      class="w-100 w-lg-80 mx-auto"
      layout="responsive"
      width="{{ page.width | default:345 }}px"
      height="{{ page.height | default:172.5 }}px"
      alt="{{ page.alt }}"
    ></amp-img>
    <div class="w-lg-80 mx-auto space-top-1">
      <h1 class="font-weight-bold">
        {{ page.title }}
      </h1>
      <div class="row my-4">
        <div class="col col-md-8 pt-md-2">
          <div class="row">
            <!-- htmllint preset="none" -->
            <div class="{% unless page.author_name %}d-none {% else %}d-flex {% endunless %}col-2 justify-content-center align-items-center">
              <amp-img width="50" height="50"
                class="rounded-circle"
                layout="fixed"
                alt=" Gravatar icon for {{ page.author_name }}"
                src="https://gravatar.com/avatar/{{ page.author_email | downcase | md5 }}?s=100&r=pg&d=mp"
              ></amp-img>
            </div>
            <div class="col">
              {% if page.author_email %}
                <a href="mailto:{{ page.author_email }}">
                  <h5 class="text-default link-underlined m-0">
                    {{ page.author_name | default: "Austin Coding Academy" }}
                  </h5>
                </a>
              {% else %}
                <h5 class="text-default m-0">
                  {{ page.author_name | default: "Austin Coding Academy" }}
                </h5>
              {% endif %}
              <h5 class="text-muted m-0">
                {{ page.updated_at | date: "%B %d, %Y" }}
              </h5>
            </div>
            <!-- htmllint preset="$previous" -->
          </div>
        </div>
        <div class="col col-md-4">
          <h5>
            Share this blog:
          </h5>
          <ul class="share-buttons list-unstyled p-0">
              <li class="d-inline">
                <!-- htmllint preset="none" -->
                <a
                  href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Faustincodingacademy.com{{ page.permalink }}&quote={{ page.title | replace: ' ', '%20' }}"
                  title="Share on Facebook"
                  target="_blank">
                  <amp-img
                    alt="Share on Facebook"
                    src="/assets/images/Facebook.svg"
                    layout="fixed"
                    width="32px"
                    height="32px"
                  ></amp-img>
                </a>
                <!-- htmllint preset="$previous" -->
              </li>
              <li class="d-inline">
                <!-- htmllint preset="none" -->
                <a
                  href="https://twitter.com/intent/tweet?source=http%3A%2F%2Faustincodingacademy.com{{ page.permalink }}&text={{ page.title | replace: ' ', '%20' }}:%20http%3A%2F%2Faustincodingacademy.com{{ page.permalink }}"
                  target="_blank"
                  title="Tweet">
                  <amp-img
                    alt="Tweet"
                    src="/assets/images/Twitter.svg"
                    layout="fixed"
                    width="32px"
                    height="32px"
                  ></amp-img>
                </a>
                <!-- htmllint preset="$previous" -->
              </li>
              <li class="d-inline">
                <!-- htmllint preset="none" -->
                <a
                  href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Faustincodingacademy.com{{ page.permalink }}&title={{ page.title | replace: ' ', '%20' }}&summary=desc&source=http%3A%2F%2Faustincodingacademy.com{{ page.permalink }}"
                  target="_blank"
                  title="Share on LinkedIn">
                  <amp-img
                    alt="Share on LinkedIn"
                    src="/assets/images/LinkedIn.svg"
                    layout="fixed"
                    width="32px"
                    height="32px"
                  ></amp-img>
                </a>
                <!-- htmllint preset="$previous" -->
              </li>
              <li class="d-inline">
                <!-- htmllint preset="none" -->
                <a
                  href="mailto:?subject={{ page.title | replace: ' ', '%20' }}&body=desc:%20http%3A%2F%2Faustincodingacademy.com{{ page.permalink }}"
                  target="_blank"
                  title="Send email">
                  <amp-img
                    alt="Send email"
                    src="/assets/images/Email.svg"
                    layout="fixed"
                    width="32px"
                    height="32px"
                  ></amp-img>
                </a>
                <!-- htmllint preset="$previous" -->
              </li>
            </ul>
        </div>
      </div>
      {{ content }}
    </div>
  </div>
  <!-- End Description Section -->

  <!-- Description Section -->
  <div class="container space-bottom-2 space-bottom-md-3">
    <div class="w-lg-60 mx-auto">
      <!-- Tags -->
      <ul class="list-inline text-center mb-0">
        {% for tag in page.tags %}
        <li class="list-inline-item pb-3">
          <span class="badge badge-light badge-pill">
            {{tag}}
          </span>
        </li>
        {% endfor %}
      </ul>
      <!-- End Tags -->
    </div>
  </div>
  <!-- End Description Section -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{site.url}}{{site.baseurl}}{{page.url}}"
      },
      "headline": "{{page.title}}",
      "image": [
        "{{site.url}}{{page.img}}"
        ],
      "datePublished": "{{page.created_at}}",
      "dateModified": "{{page.updated_at}}",
      "author": {
        "@type": "{% if page.author_name %}Person{% else %}Organization{% endif %}",
        "name": "{{page.author_name | default: 'Austin Coding Academy'}}"
      },
        "publisher": {
        "@type": "Organization",
        "name": "Austin Coding Academy",
        "logo": {
          "@type": "ImageObject",
          "url": "{{site.url}}/assets/images/logo-aca.png"
        }
      },
      "description": "{{page.excerpt}}"
    }
  </script>
</main>
