---
layout: default
---
<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Description Section -->
  <div class="container space-top-1 d-flex flex-column">
    <img src="{{page.img}}" class="w-100 w-lg-80 mx-auto">
    <div class="w-lg-80 mx-auto space-top-1">
      <!-- <div class="mb-4">
        <span class="text-muted">{{page.date}}</span>
      </div> -->
      <hi>{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
  <!-- End Description Section -->

  <!-- Description Section -->
  <div class="container space-bottom-2 space-bottom-md-3">
    <div class="w-lg-60 mx-auto">
      <!-- Tags -->
      <ul class="list-inline text-center mb-0">
        {% for tag in page.tags %}
        <li class="list-inline-item pb-3">
          <span class="badge badge-light badge-pill">
            {{tag}}
          </span>
        </li>
        {% endfor %}
      </ul>
      <!-- End Tags -->
    </div>
  </div>
  <!-- End Description Section -->

</main>
