---
layout: default
---
<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Description Section -->
  <div class="container space-top-1 d-flex flex-column">
    <img src="{{page.img}}" class="w-100 w-lg-80 mx-auto">
    <div class="w-lg-80 mx-auto space-top-1">
      <!-- <div class="mb-4">
        <span class="text-muted">{{page.date}}</span>
      </div> -->
      <h1 class="font-weight-bold">{{ page.title }}</h1>
      <div class="row my-4">
        <div class="col col-md-8 pt-md-2">
          <a href="mailto:{{ page.author_email }}">
            <h5 class="text-dark">{{ page.author | default: "Austin Coding Academy" }}</h5>
          </a>
          <h5 class="text-muted">{{ page.updated_at | date: "%B %d, %Y" }}</h5>
        </div>
        <div class="col col-md-4">
          <h5>Share this blog:</h5>
          <ul class="share-buttons">
              <li>
                <!-- htmllint preset="none" -->
                <a
                  href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Faustincodingacademy.com{{ page.permalink }}&quote={{ page.title | replace: ' ', '%20' }}"
                  title="Share on Facebook"
                  target="_blank">
                  <img alt="Share on Facebook" src="/assets/images/Facebook.svg" />
                </a>
                <!-- htmllint preset="$previous" -->
              </li>
              <li>
                <!-- htmllint preset="none" -->
                <a
                  href="https://twitter.com/intent/tweet?source=http%3A%2F%2Faustincodingacademy.com{{ page.permalink }}&text={{ page.title | replace: ' ', '%20' }}:%20http%3A%2F%2Faustincodingacademy.com{{ page.permalink }}"
                  target="_blank"
                  title="Tweet">
                  <img alt="Tweet" src="/assets/images/Twitter.svg" />
                </a>
                <!-- htmllint preset="$previous" -->
              </li>
              <li>
                <!-- htmllint preset="none" -->
                <a
                  href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Faustincodingacademy.com{{ page.permalink }}&title={{ page.title | replace: ' ', '%20' }}&summary=desc&source=http%3A%2F%2Faustincodingacademy.com{{ page.permalink }}"
                  target="_blank"
                  title="Share on LinkedIn">
                  <img alt="Share on LinkedIn" src="/assets/images/LinkedIn.svg" />
                </a>
                <!-- htmllint preset="$previous" -->
              </li>
              <li>
                <!-- htmllint preset="none" -->
                <a
                  href="mailto:?subject={{ page.title | replace: ' ', '%20' }}&body=desc:%20http%3A%2F%2Faustincodingacademy.com{{ page.permalink }}"
                  target="_blank"
                  title="Send email">
                  <img alt="Send email" src="/assets/images/Email.svg" />
                </a>
                <!-- htmllint preset="$previous" -->
              </li>
            </ul>
        </div>
      </div>
      {{ content }}
    </div>
  </div>
  <!-- End Description Section -->

  <!-- Description Section -->
  <div class="container space-bottom-2 space-bottom-md-3">
    <div class="w-lg-60 mx-auto">
      <!-- Tags -->
      <ul class="list-inline text-center mb-0">
        {% for tag in page.tags %}
        <li class="list-inline-item pb-3">
          <span class="badge badge-light badge-pill">
            {{tag}}
          </span>
        </li>
        {% endfor %}
      </ul>
      <!-- End Tags -->
    </div>
  </div>
  <!-- End Description Section -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{site.url}}{{site.baseurl}}{{page.url}}"
      },
      "headline": "{{page.title}}",
      "image": [
        "{{site.url}}{{page.img}}"
        ],
      "datePublished": "{{page.created_at}}",
      "dateModified": "{{page.updated_at}}",
      "author": {
        "@type": "Organization",
        "name": "Austin Coding Academy"
      },
        "publisher": {
        "@type": "Organization",
        "name": "Austin Coding Academy",
        "logo": {
          "@type": "ImageObject",
          "url": "{{site.url}}/assets/images/logo-aca.png"
        }
      },
      "description": "{{page.excerpt}}"
    }
  </script>
</main>
