---
layout: default
---
<body>
  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Content Section -->
    <div>
      <div class="container space-2">
        <div class="row">
          <div class="col-lg-3 mb-7 mb-lg-0">
            <!-- Profile Card -->
            <div class="card p-1 mb-4 bg-light">
              <div class="card-body text-center">
                <div class="mb-3">
                  <amp-img
                    width="80"
                    height="80"
                    layout="fixed"
                    class="u-lg-avatar rounded-circle"
                    src="https://www.gravatar.com/avatar/{{ page.email | remove: ' ' | strip_newlines | downcase | md5 }}?s=200"
                    alt="{{page.fullname}} Gravatar"
                  ></amp-img>
                </div>

                <div class="mb-3">
                  <h1 class="h6 font-weight-medium mb-0">{{page.fullname}}</h1>
                  <small class="d-block text-muted">{{page.location}}</small>
                </div>

                <div class="mb-2">
                  <a
                    class="btn btn-sm btn-soft-primary transition-3d-hover"
                    href="mailto:{{page.email}}"
                  >
                    <span class="far fa-envelope mr-2"></span>
                    Send a Message
                  </a>
                </div>
              </div>
            </div>
            <!-- End Profile Card -->

            <!-- Social Profiles -->
            <div class="card mb-4 bg-light">
              <div class="card-header pt-4 pb-3 px-0 mx-4 bg-light">
                <h3 class="h6 mb-0">Connect</h3>
              </div>

              <div class="card-body pt-3 pb-4 px-4">
                <a
                  class="media mb-4"
                  href="{{page.github}}"
                >
                  <div class="media-body d-flex justify-content-start align-items-center">
                    <i
                      class="text-default mx-3 display-5 fab fa-github"
                      style="width: 40px">
                    </i>
                    <span class="text-muted">GitHub</span>
                  </div>
                </a>
              </div>

              <div class="card-body pt-3 pb-4 px-4">
                <a
                  class="media mb-4"
                  href="{{page.linkedin.link}}"
                >
                  <div class="media-body d-flex justify-content-start align-items-center">
                    <i
                      class="text-default mx-3 display-5 fab fa-linkedin"
                      style="width: 40px">
                    </i>
                    <span class="text-muted">LinkedIn</span>
                  </div>
                </a>
              </div>

            </div>
            <!-- End Social Profiles -->
          </div>

          <div class="col-lg-9">
            <!-- User Details -->
            <div class="mb-4">
              <h2 class="h4">{{page.fullname}}</h2>
              <h4 class="h6 text-secondary mb-0">{{page.jobtitle}}</h4>
            </div>
            <!-- End User Details -->

            <!-- Info -->
            <div class="mb-4">
              <p>
                {{page.blurb}}
              </p>
            </div>
            <!-- End Info -->

            <!-- Collections -->
            <ul class="list-inline d-flex align-items-center flex-wrap">
              {% for skill in page.skills %}
              <li class="list-inline-item mb-3 mb-sm-0 mr-3">
                <div class="d-flex align-items-center">
                  <div class="badge badge-success font-weight-medium rounded py-2 px-2 my-1">
                    {{skill}}
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
            <!-- End Collections -->

            <hr class="my-7">

            <!-- Icon Blocks -->
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <!-- List Group -->
                <ul class="list-group list-group-transparent list-group-flush list-group-borderless mb-0">
                  <li class="list-group-item pt-0 pb-4">
                    <div class="media">
                      <span class="fas fa-envelope list-group-icon mr-3"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block mb-1">Email:</span>
                        <a href="mailto:{{page.email}}">{{page.email}}</a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item pt-0 pb-4">
                    <div class="media">
                      <span class="fas fa-link list-group-icon mr-3"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block mb-1">Web page:</span>
                        <a href="{{page.website}}">{{page.website}}</a>
                      </div>
                    </div>
                  </li>
                </ul>
                <!-- End List Group -->
              </div>

              <div class="col-md-6 col-lg-4">
                <!-- List Group -->
                <ul class="list-group list-group-transparent list-group-flush list-group-borderless mb-0">

                  <li class="list-group-item pt-0 pb-4">
                    <div class="media">
                      <span class="fas fa-mobile-alt list-group-icon mr-3"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block mb-1">Phone number:</span>
                        <span class="d-block text-muted">{{page.phone}}</span>
                      </div>
                    </div>
                  </li>

                  <li class="list-group-item pt-0 pb-4">
                    <div class="media">
                      <span class="fas fa-map-marker-alt list-group-icon mr-3"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block mb-1">Location:</span>
                        <span class="d-block text-muted">{{page.location}}</span>
                      </div>
                    </div>
                  </li>

                </ul>
                <!-- End List Group -->
              </div>

              <div class="col-md-6 col-lg-4">
                <!-- List Group -->
                <ul class="list-group list-group-transparent list-group-flush list-group-borderless mb-0">

                  <li class="list-group-item pt-0 pb-4">
                    <div class="media">
                      <span class="fas fa-building list-group-icon mr-3"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block mb-1">Works at:</span>
                        <span class="d-block text-muted">{{page.workplace}}</span>
                      </div>
                    </div>
                  </li>
                </ul>
                <!-- End List Group -->
              </div>
            </div>
            <!-- End Icon Blocks -->

            <hr class="my-7">

            <!-- Info -->
            <div class="row mb-7">
                <div class="col-md-6 mb-7 mb-md-0">
                    <!-- Title -->
                    <div class="mb-3">
                    <h5 class="mb-0 font-weight-bold">Work Experience</h5>
                    </div>
                    <!-- End Title -->

                    {% for work in page.workexperience %}
                    <!-- Info -->
                    <div class="d-flex mb-5">
                      <div>
                          <small class="d-block text-secondary">{{work.start}}</small>
                          <h4 class="h6 mb-0">{{work.title}}</h4>
                          <span class="d-block text-secondary">at {{work.company}} - {{work.location}}</span>
                      </div>
                    </div>
                    <!-- End Info -->
                    {% endfor %}
                </div>

                <div class="col-md-6 mb-3 mb-md-0">
                    <!-- Title -->
                    <div class="mb-3">
                        <h5 class="mb-0 font-weight-bold">Education</h5>
                    </div>
                    <!-- End Title -->

                    {% for school in page.education %}
                    <!-- Info -->
                    <div class="row align-items-center mb-5">
                        <div class="col">
                            <small class="d-block text-secondary">{{school.dates}}</small>
                            <h4 class="h6 mb-0">{{school.degree}}</h4>
                            <span class="d-block text-secondary">{{school.name}}</span>
                        </div>
                    </div>
                    <!-- End Info -->
                    {% endfor %}
                </div>

                <div class="col-md-6 mb-7 mb-md-0">
                    <!-- Title -->
                    <div class="mb-3">
                    <h5 class="mb-0 font-weight-bold">Projects</h5>
                    </div>
                    <!-- End Title -->

                    {% for project in page.projects %}
                    <!-- Info -->
                    <div class="d-flex mb-5">
                      <div>
                          <h4 class="h6 mb-0 font-weight-bold">{{project.name}}</h4>
                          <h5 class="h6 mb-0">{{project.desc}}</h5>
                          <a href="{{project.repo}}">{{project.repo}}</a>
                      </div>
                    </div>
                    <!-- End Info -->
                    {% endfor %}
                </div>
            </div>
            <!-- End Info -->

            <!-- htmllint preset="none" -->
            {% if page.reviews.size > 0  %}
            <!-- htmllint preset="$previous" -->

              <hr class="my-7">

              <!-- Title -->
              <div id="reviews" class="mb-3">
                <h3 class="h4 mb-0">Reviews</h3>
              </div>
              <!-- End Title -->

              {% for review in page.reviews %}
                <!-- Reviews -->
                <div>
                  <!-- Author -->
                  <div class="media mb-3">
                    <div>
                        <amp-img
                          width="80"
                          height="80"
                          layout="fixed"
                          class="u-avatar rounded-circle mr-3"
                          src="https://www.gravatar.com/avatar/{{ page.email | remove: ' ' | strip_newlines | downcase | md5 }}"
                          alt="{{review.name}}"
                        ></amp-img>
                    </div>

                    <div class="media-body align-self-center">
                        <h4 class="d-inline-block mb-1">
                            <a class="d-block h6 mb-0" href="#">
                                {{review.name}} <br/>
                                <span class="small">{{review.position}}</span>
                            </a>
                        </h4>
                    </div>

                    <div class="media-body text-right">
                      <small class="d-block text-muted">{{review.timestamp}}</small>
                    </div>
                  </div>
                  <!-- End Author -->

                    <p>
                        {{review.post}}
                    </p>
                </div>
                <hr class="my-7">
                <!-- End Reviews -->

              {% endfor %}

            {% endif %}

          </div>
        </div>
      </div>
    </div>
    <!-- End Content Section -->
  </main>
  <!-- ========== END MAIN ========== -->

</body>