---
layout: default
---
<body>
  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Content Section -->
    <div class="bg-light">
      <div class="container space-2">
        <div class="row">
          <div class="col-lg-3 mb-7 mb-lg-0">
            <!-- Profile Card -->
            <div class="card p-1 mb-4">
              <div class="card-body text-center">
                <div class="mb-3">
                  <img
                    class="u-lg-avatar rounded-circle"
                    src="https://www.gravatar.com/avatar/{{ page.email | remove: ' ' | strip_newlines | downcase | md5 }}"
                    alt="{{page.profilename}}">
                </div>

                <div class="mb-3">
                  <h1 class="h6 font-weight-medium mb-0">{{page.profilename}}</h1>
                  <small class="d-block text-muted">{{page.jobtitle}}</small>
                </div>

                <div class="mb-2">
                  <a
                    class="btn btn-sm btn-soft-primary transition-3d-hover"
                    href="mailto:{{page.email}}"
                  >
                    <span class="far fa-envelope mr-2"></span>
                    Send a Message
                  </a>
                </div>

                <a class="text-secondary small" href="#">
                  <i class="far fa-flag mr-1"></i> Report this user
                </a>
              </div>
            </div>
            <!-- End Profile Card -->

            <!-- Contacts  -->
            <!-- <div class="card mb-4">
              <div class="card-header pt-4 pb-3 px-0 mx-4">
                <h2 class="h6 mb-0">Contacts</h2>
              </div>

              <div class="card-body pt-3 pb-4 px-4">
                {% for contact in page.contacts %}
                <a class="d-flex align-items-start mb-4" href="#">
                  <div class="position-relative u-avatar">
                    <img
                        class="img-fluid rounded-circle"
                        src="https://austincodingacademy.github.io/front/assets/img/100x100/{{contact.image}}"
                        alt="{{contact.name}}"
                    >
                    <span class="badge badge-xs badge-outline-success badge-pos badge-pos--bottom-right rounded-circle"></span>
                  </div>

                  <div class="ml-3">
                    <span class="d-block text-dark">{{contact.name}}</span>
                    <small class="d-block text-secondary">{{contact.job-title}}</small>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div> -->
            <!-- End Contacts  -->

            <!-- Social Profiles -->
            <div class="card mb-4">
              <div class="card-header pt-4 pb-3 px-0 mx-4">
                <h3 class="h6 mb-0">Social Profiles</h3>
              </div>

              <div class="card-body pt-3 pb-4 px-4">
                {% for social in page.social %}

                <!-- Social Profiles -->
                <a
                  class="media mb-4"
                  href="{{social.link}}"
                >
                  <div class="media-body d-flex justify-content-start align-items-center">
                      {% assign sitename = {{social.site | remove: ' ' | capitalize}} %}
                      {% case sitename %}
                        {% when 'Dribble' %}
                          <i
                            class="text-dark fab fa-dribbble mx-3 display-5"
                            style="width: 40px">
                          </i>
                        {% when 'Twitter' %}
                          <i
                            class="text-dark fab fa-twitter mx-3 display-5"
                            style="width: 40px">
                          </i>
                        {% when 'Facebook' %}
                          <i
                            class="text-dark fab fa-facebook mx-3 display-5"
                            style="width: 40px">
                          </i>
                        {% when 'Linkedin' %}
                          <i
                            class="text-dark fab fa-linkedin mx-3 display-5"
                            style="width: 40px">
                          </i>
                        {% when 'Instagram' %}
                          <i
                            class="text-dark fab fa-instagram display-5 mx-3"
                            style="width: 40px">
                          </i>
                        {% when 'Github' %}
                          <i
                            class="text-dark fab fa-github display-5 mx-3"
                            style="width: 40px">
                          </i>
                      {% endcase %}
                    <span class="text-muted">{{ sitename }}<br/>
                      <span class="text-primary">{{social.username}}</span>
                    </span>
                  </div>
                </a>
                <!-- End Social Profiles -->
                {% endfor %}
              </div>
            </div>
            <!-- End Social Profiles -->
          </div>

          <div class="col-lg-9">
            <!-- User Details -->
            <div class="mb-4">
              <h2 class="h4">{{page.greeting}}</h2>
              <h4 class="h6 text-secondary mb-0">{{page.location}}<small> - Joined in {{page.joined}}</small></h4>
            </div>
            <!-- End User Details -->

            <!-- Info -->
            <div class="mb-4">
              <p>
                {{page.blurb}}
              </p>
            </div>
            <!-- End Info -->

            <!-- Collections -->
            <ul class="list-inline d-flex align-items-center">
              {% for skill in page.skills %}
              <li class="list-inline-item mb-3 mb-sm-0 mr-3">
                <div class="d-flex align-items-center">
                  <span class="badge badge-success font-weight-medium rounded py-2 px-2">
                    {{skill}}
                  </span>
                </div>
              </li>
              {% endfor %}
            </ul>
            <!-- End Collections -->

            <hr class="my-7">

            <!-- Icon Blocks -->
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <!-- List Group -->
                <ul class="list-group list-group-transparent list-group-flush list-group-borderless mb-0">
                  <li class="list-group-item pt-0 pb-4">
                    <div class="media">
                      <span class="fas fa-envelope list-group-icon mr-3"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block mb-1">Email:</span>
                        <a href="mailto:{{page.email}}">{{page.email}}</a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item pt-0 pb-4">
                    <div class="media">
                      <span class="fas fa-link list-group-icon mr-3"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block mb-1">Web page:</span>
                        <a href="{{page.website}}">{{page.website}}</a>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item pt-0 pb-4">
                    <div class="media">
                      <span class="fas fa-mobile-alt list-group-icon mr-3"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block mb-1">Phone number:</span>
                        <span class="d-block text-muted">{{page.phone}}</span>
                      </div>
                    </div>
                  </li>
                </ul>
                <!-- End List Group -->
              </div>

              <div class="col-md-6 col-lg-4">
                <!-- List Group -->
                <ul class="list-group list-group-transparent list-group-flush list-group-borderless mb-0">
                  <li class="list-group-item pt-0 pb-4">
                    <div class="media">
                      <span class="fas fa-map-marker-alt list-group-icon mr-3"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block mb-1">Location:</span>
                        <span class="d-block text-muted">{{page.location}}</span>
                      </div>
                    </div>
                  </li>

                  <li class="list-group-item pt-0 pb-4">
                    <div class="media">
                      <span class="fas fa-building list-group-icon mr-3"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block mb-1">Works at:</span>
                        <span class="d-block text-muted">{{page.workplace}}</span>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item pt-0 pb-4">
                    <div class="media">
                      <span class="fas fa-tags list-group-icon mr-3"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block mb-1">Skills:</span>
                        {% for skill in page.skills %}
                          <span class="text-muted">
                            {{skill}}{% if forloop.last == false %},{% endif %}
                          </span>
                        {% endfor %}
                      </div>
                    </div>
                  </li>
                </ul>
                <!-- End List Group -->
              </div>

              <div class="col-md-6 col-lg-4">
                <!-- List Group -->
                <ul class="list-group list-group-transparent list-group-flush list-group-borderless mb-0">
                  <li class="list-group-item pt-0 pb-4">
                    <div class="media">
                      <span class="fas fa-birthday-cake list-group-icon mr-3"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block mb-1">Birthday:</span>
                        <span class="d-block text-muted">{{page.birthday}}</span>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item pt-0 pb-4">
                    <div class="media">
                      <span class="fas fa-globe list-group-icon mr-3"></span>
                      <div class="media-body text-lh-sm">
                        <span class="d-block mb-1">Language:</span>
                        <span class="d-block text-muted">{{page.language}}</span>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item pt-0 pb-4">
                      <div class="media">
                        <span class="fas fa-utensils list-group-icon mr-3"></span>
                        <div class="media-body text-lh-sm">
                          <span class="d-block mb-1">Favorite food:</span>
                          <span class="d-block text-muted">{{page.favoritefood}}</span>
                        </div>
                      </div>
                    </li>
                </ul>
                <!-- End List Group -->
              </div>
            </div>
            <!-- End Icon Blocks -->

            <hr class="my-7">

            <!-- Info -->
            <div class="row mb-7">
                <div class="col-md-6 mb-7 mb-md-0">
                    <!-- Title -->
                    <div class="mb-3">
                    <h3 class="h6 mb-0">Work experience</h3>
                    </div>
                    <!-- End Title -->

                    {% for work in page.workexperience %}
                    <!-- Info -->
                    <div class="d-flex mb-5">
                        <img
                            class="u-avatar align-self-center mr-4"
                            src="https://austincodingacademy.github.io/front/assets/img/160x160/{{work.logo}}"
                            alt="{{work.company}}"
                        >
                        <div>
                            <small class="d-block text-secondary">{{work.start}}</small>
                            <h4 class="h6 mb-0">{{work.title}}</h4>
                            <span class="d-block text-secondary">at {{work.company}} - {{work.location}}</span>
                        </div>
                    </div>
                    <!-- End Info -->
                    {% endfor %}
                </div>

                <div class="col-md-6 mb-3 mb-md-0">
                    <!-- Title -->
                    <div class="mb-3">
                        <h3 class="h6 mb-0">Education</h3>
                    </div>
                    <!-- End Title -->

                    {% for school in page.education %}
                    <!-- Info -->
                    <div class="row align-items-center mb-5">
                        <div class="col-4">
                            <img
                                class="img-fluid"
                                src="https://austincodingacademy.github.io/front/assets/img/logos/{{school.logo}}"
                                alt="{{school.name}}">
                        </div>
                        <div class="col-8">
                            <small class="d-block text-secondary">{{school.dates}}</small>
                            <h4 class="h6 mb-0">{{school.degree}}</h4>
                            <span class="d-block text-secondary">{{school.name}}</span>
                        </div>
                    </div>
                    <!-- End Info -->
                    {% endfor %}
                </div>
            </div>
            <!-- End Info -->

            <!-- htmllint preset="none" -->
            {% if page.reviews.size > 0  %}
            <!-- htmllint preset="$previous" -->

              <hr class="my-7">

              <!-- Title -->
              <div id="reviews" class="mb-3">
                <h3 class="h4 mb-0">Reviews</h3>
              </div>
              <!-- End Title -->

              {% for review in page.reviews %}
                <!-- Reviews -->
                <div>
                  <!-- Author -->
                  <div class="media mb-3">
                    <img
                        class="u-avatar rounded-circle mr-3"
                        src="https://www.gravatar.com/avatar/{{ page.email | remove: ' ' | strip_newlines | downcase | md5 }}"
                        alt="{{review.name}}"
                    >

                    <div class="media-body align-self-center">
                        <h4 class="d-inline-block mb-1">
                            <a class="d-block h6 mb-0" href="#">
                                {{review.name}} <br/>
                                <span class="small">{{review.position}}</span>
                            </a>
                        </h4>
                    </div>

                    <div class="media-body text-right">
                      <small class="d-block text-muted">{{review.timestamp}}</small>
                    </div>
                  </div>
                  <!-- End Author -->

                    <p>
                        {{review.post}}
                    </p>
                </div>
                <hr class="my-7">
                <!-- End Reviews -->

              {% endfor %}

            {% endif %}

          </div>
        </div>
      </div>
    </div>
    <!-- End Content Section -->
  </main>
  <!-- ========== END MAIN ========== -->

</body>